@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,600,600i');

body
{
	font-size: 14px;
	background-color: #ECF1F5 !important;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
}
.eventsheader
{
	display:none;
}
header
{
	background-color:#FFCC00;
	border-bottom:8px solid red;
}
.background-head {
    background-color: #fed501;
    height: 270px;
    content: ' ';
    position: absolute;
    width: 100%;
    z-index: -1;
}
.black-border
{
	background-color:#333;
	margin-bottom:20px;
}
.black-border.header-fixed
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:9999;
	box-shadow:0px 5px 16px rgba(0,0,0,0.4);
	padding:10px;
}
h1,h2,h3,h4,h5,h6,ul,p,.table , .panel.panel-default
{
	margin-top: 0px;
	margin-bottom: 0px;
}
.text-capital
{
	text-transform: uppercase !important;
}
input[type="radio"], input[type="checkbox"]
{
	margin: 4px 4px 0px 0px;
}
label
{
	font-weight: 400;
}
.m_0{margin: 0px !important}
.m_top-10{margin-top: -10px !important}
.m_top5{margin-top: 5px !important}
.m_top10{margin-top: 10px !important}
.m_top15{margin-top: 15px !important}
.m_top20{margin-top: 20px !important}
.m_top25{margin-top: 25px !important}
.m_left5{margin-left: 5px !important}
.m_left7{margin-left: 7px !important}
.m_left10{margin-left: 10px !important}
.m_left15{margin-left: 15px !important}
.m_left20{margin-left: 20px !important}
.m_top30{margin-top: 30px !important}
.m_left25{margin-left: 25px !important}
.f-10{font-size: 10px;}
.f-11{font-size: 11px;}
.f-12{font-size: 12px !important;}
.f_12{font-size: 12px !important;}
.f-13{font-size: 13px;}
.f-14{font-size: 14px;}
.f-15{font-size: 15px;}
.f-16{font-size: 16px;}
.f-17{font-size: 17px;}
.pad_0{padding: 0px !important;}
.pad_5{padding: 5px !important;}
.pad_10{padding: 10px !important;}
.pad_30{padding: 30px !important;}
.pad_left0{padding-left: 0px;}
.pad_right0{padding-right: 0px;}
.panel
{
	border-radius: 0px !important;
	box-shadow:0px 3px 6px rgba(0,0,0,0.16);
}
.panel-default > .panel-heading
{
	background-color:#fff !important;
	border-bottom:0px !important;
}
.theme-title-color
{
	text-transform:capitalize !important;
	font-weight:400;
	color:#333 !important;
	font-size:24px;
	font-family: 'Roboto', sans-serif;
}
.glyphicon-remove.menu-close
{
	position: absolute;
	right: 5px;
	top: 6px;
	cursor: pointer;
	font-size: 10px;
	border: 1px solid #333;
	border-radius: 50%;
	padding: 4px;
}
.bottom-arrow:after, .bottom-arrow:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bottom-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}
.bottom-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #ddd;
	border-width: 13px;
	margin-left: -13px;
}
.bottom-arrow1{
	position: relative;
	background: #fff;
	border: 1px solid #fff;
	cursor:pointer;
}
.top-arrow , .right-arrow,.bottom-arrow{
	position: relative;
	background: #fff;
	border: 1px solid #fff;
}
.top-arrow:after, .top-arrow:before {
	bottom: 100%;
	left: 50px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f1f1f1;
	border-width: 9px;
	margin-left: -9px;
}
.top-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f1f1f1;
	border-width: 10px;
	margin-left: -10px;
}
.right-arrow:after, .right-arrow:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.right-arrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #88b7d5;
	border-width: 30px;
	margin-top: -30px;
}
.right-arrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
}
.block
{
	padding: 10px;
	background-color: #fff;
	position: relative;
	box-shadow:0px 0px 8px rgba(0,0,0,0.16);
}
.tableVoters thead th
{
	border-bottom: 0px !important;
	border-right: 2px dashed #CCC;
}
.tableVoters tr td
{
	background-color: #ECF2FE;
	border-top: 1px solid #fff !important;
	border-right: 2px dashed #CCC;
}
.tableVoters tr:hover td
{
	background-color: #EFEFEF
}

.tableVoters thead th:last-child , .tableVoters tr td:last-child
{
	border-right:none;
}
.btn-success-white
{
	background-color: #fff;
	color: rgb(76, 174, 76);
	text-transform:uppercase;
}
.btn-success-white:hover , .btn-success-white:active , .btn-success-white:focus
{
	background-color: #fff !important;
	color: rgb(76, 174, 76);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.switch-btn
{
	padding:2px;
	background-color: #ddd;
	display: inline-block;
	border-radius: 14px;
}
.switch-btn li
{
	list-style:none;
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
}
.switch-btn li.active
{
	background-color:  rgb(76, 174, 76);
	color: #fff;
	border-radius: 14px;
}
.switch-btn-caste
{
	padding:2px;
	background-color: #ddd;
	display: inline-block;
	border-radius: 14px;
}
.switch-btn-caste li
{
	list-style:none;
	display: inline-block;
	padding: 4px 8px;
	cursor: pointer;
}
.switch-btn-caste li.active
{
	background-color:  rgb(76, 174, 76);
	color: #fff;
	border-radius: 14px;
}
.bg-E9
{
	background-color: #E9F1FC
}
.bg-DD
{
	background-color: #f3f3f3
}
.bg-fff
{
	background-color: #fff !important;
}
.table-noborder th
{
	border-bottom: 0px !important;
}
.table-noborder td
{
	border-top: 0px !important;
	font-size: 12px;
    padding: 5px !important;;
}
.table-noborder tbody tr td small{font-size:12px}
.td-expand-body td
{
	background-color: #F1F1F1
}
.td-expand-hide
{
	border: 1px solid #ddd;
	padding: 3px;
	cursor: pointer;
	right: 0px;
	position: absolute;
}
.td-expand-body .top-arrow
{
	border:1px solid #ddd !important;
}
.td-expand-body .table
{
	border: 1px solid #ddd !important;
}
.td-expand-body .table thead th , .td-expand-body .table td
{
	border-top: 1px solid #fff !important;
}
.td-expand-body .table tr:hover td , .table-noborder-hover tr:hover td
{
	background-color: #EFEFEF
}
.td-expand-icon
{
	background-color: #fff;
	border:1px solid #CCC;
	font-size: 10px;
	padding: 3px;
	border-radius: 2px;
	color: #CCC;
	cursor: pointer;
}
.td-expand-body
{
	display: none;
}
.nav-tabs-horizontal
{
	border-bottom: 0px;
	border-right: 1px solid #ddd;
}
.nav-tabs-horizontal li
{
	width: 100%;
	display: block;
	margin-bottom: 0px;
	margin-left: 3px
}
.nav-tabs-horizontal li a
{
	border-right:0px !important;
	border-radius: 0px;
}
.nav-tabs-horizontal > li.active > a, .nav-tabs-horizontal > li.active > a:hover, .nav-tabs-horizontal > li.active > a:focus
{
	border-bottom:1px solid #ddd;
	padding-right: 20px;
}
.nav-tabs-horizontal > li.active > a:after
{
	content: '\e258';
	font-family: 'Glyphicons Halflings';
	position: absolute;
	display: block;
	right: 0;
	font-size: 16px;
	top: 10px;
}
.chart-legend-color
{
	height: 13px;
	width: 13px;
	background-color: #333;
	display: inline-block;
	margin-right: 5px;
}
.right-nav 
{
	position:fixed;
	right:20px;
	top:120px;
	z-index:99;
}
.right-nav ul
{
	padding-left:0px;
}
.right-nav ul li
{
	list-style:none;
	position:relative;
	padding-right:7px;
	padding-top:10px;
	font-size:14px;
	text-align:right;
	cursor:pointer;
	color:#4A5863;
	text-transform:capitalize;
}
.right-nav ul li:before
{
	position:absolute;
	right:-10px;
	content:'';
	display:block;
	height:15px;
	width:15px;
	border-radius:50%;
	background-color:#ECF0F1;
	border:2px solid #D3B783;
	top:15px;
}
.right-nav ul li:after
{
	height:100%;
	border-right:2px solid #D3B783;
	content:'';
	display:block;
	position:absolute;
	right:-4px;
	top:28px;
}
.right-nav ul li.active
{
	color:#ED8362
}
.right-nav ul li.active:before
{
	position:absolute;
	right:-10px;
	content:'';
	display:block;
	height:15px;
	width:15px;
	border-radius:50%;
	background-color:#ED8362;
	border:2px solid #ED8362;
	top:13px;
}
.right-nav ul li.active:after
{
	height:100%;
	border-right:1px solid #ED8362;
	content:'';
	display:block;
	position:absolute;
	right:-3px;
	top:16px;
}
.right-nav ul li:last-child:after
{
	height:0%;
}

.graph-legend
{
	padding:0px;
}
.graph-legend li
{
	list-style:none;
	padding:4px;
	background:rgba(255, 242, 179,0.4);
	text-transform:uppercase;
}
.graph-legend li .statusBox
{
	height: 12px;
    width: 12px;
    display: inline-block;
    background: #ddd;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.graph-legend li .count
{
	float: right;
}
.list-border
{
	padding-left:0px;
}
.list-border
{
	table-layout: fixed;
	width: 100%;
	display: table;
}
.list-border li
{
	border-right: 1px solid #ccc;
	padding: 10px 20px;
	text-align: center;
	display: table-cell;
	width: auto;
	word-wrap: break-word;
}
.list-border li:last-child
{
	border-right: none;
}
.collapseIcon, .collapseIcon:active, .collapseIcon:hover {
    color: rgb(102, 102, 102) !important;
}
.collapseIcon::before {
    border: 1px solid #ccc;
    color: #ccc;
    content: "\2212";
    float: right;
    font-family: "Glyphicons Halflings";
    font-size: 10px;
    font-weight: 400 !important;
    margin-left: -4px;
    margin-top: -4px;
    padding: 1px 3px 3px 4px;
	border-radius: 3px;
}
.collapseIcon.collapsed::before {
    content: "\2b";
}
.cadre-info-list li
{
	padding: 10px;
	border:1px 0px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	margin-right:6px;
}
.cadre-info-list li:first-child
{
	border-left: 1px solid #ddd;
	
}
.media-profile
{
	border: 1px solid #ddd;
	padding: 5px;
}

.media-profile .media-left
{
	position: relative;
}
.media-profile .border-image
{
	position: absolute;
	right: 0px;
	bottom: 10px;
}
.media-profile .border-image img
{
	height:20px;
	width:20px;
}
.img-border
{
	border: 2px solid #333;
	border-radius: 5px;
}
.media-profile .media-object
{
	height: 70px;
	width: 70px;
}
.spinner {
	margin:auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
	-webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; 
}
.spinner .dot1 , .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #ee935d;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; 
}
.spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; 
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
/*loading Symbol New Start*/
.square-to-circle {
  height: 30px;
  width: 30px;
  margin:auto;
  display:block;
  -webkit-animation: square-to-circle 2s 1s infinite cubic-bezier(1, 0.005, 0.215, 1.2) alternate;
          animation: square-to-circle 2s 1s infinite cubic-bezier(1, 0.005, 0.215, 1.2) alternate;
}

@-webkit-keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: coral;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background: darksalmon;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: coral;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: indianred;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background: darksalmon;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*loading Symbol New End*/
.textAlignDepartment
{
	padding:0px;
}
.textAlignDepartment li
{
	list-style:none;
	font-size:12px;
    line-height: 30px;
}
.blockStyleAlign li{
	 border-right: 1px solid #000;
    padding: 15px;
}
.colorNew{
	width:10px;
	height:10px;
	display:block;
	background-color:#8C4553;
	border-radius:10px;
}
.colorRenewal{
	width:10px;
	height:10px;
	display:block;
	background-color:#FF9900;
	border-radius:10px;
}
.overAllProbClr{
	display: block;
	height: 10px;
	margin-top: 3px;
	position: absolute;
	width: 10px;
}
.cadreBorderStyle{
	border: 2px solid #c69c6c !important;
}
.glyphicon-refresh
{
	cursor:pointer;
}
.breadcrumb
{
	background-color:#333;
	/*background-color:#fff;*/
	padding:0px;
	margin-bottom:6px;
}
.breadcrumb > li
{
	color:#fff;
}
.breadcrumb > li + li::before
{
	content:'\e127' !important;
	font-family:'Glyphicons Halflings';
}
.menu-dropdown
{
	z-index:99;
	position:absolute;
	width:100%;
	box-shadow:0px 5px 3px 3px rgba(0,0,0,0.4);
	padding:20px;
	background-color:#fff;
}
.menu-dropdown ul
{
	padding-left:0px;
	border-right:1px solid #ddd;
}
.menu-dropdown ul li
{
	list-style:none;
	padding:6px;
	position:relative;
	cursor:pointer;
}
ul li[menu-levelname="panchayat"].active:after
{
	content:' ';
}
.menu-dropdown ul li.active:after
{
	content:'\e127' !important;
	font-family:'Glyphicons Halflings';
	color:#333;
	position:absolute;
	right:-1px;
	padding:6px;
	background-color:#fff;
	top:0px;
}
.menu-dropdown ul li.active
{
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

span[menu-name]
{
	cursor:pointer;
}
span[menu-name].active
{
	padding: 8px 5px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-radius: 8px 8px 0px 0px;
	box-shadow: 0px -3px 2px 2px rgba(0,0,0,0.4);
	z-index: 99;
}
.m_top40{
	margin-top:40px;
}
.assembly-members-view
{
	max-height: 200px;
    transition: max-height 0.5s ease-out;
	overflow: hidden;
	box-shadow:inset 0px -13px 17px -8px;
}
.assembly-members-view.active
{
	max-height: 1500px;
    transition: max-height 0.5s ease-in;
	box-shadow: none;
	padding:0px;
}
.assembly-view
{
	text-decoration:underline;
	cursor:pointer;
}
.assembly-members-viewRes
{
	max-height: 200px;
    transition: max-height 0.5s ease-out;
	overflow: hidden;
	box-shadow:inset 0px -13px 17px -8px;
}
.assembly-members-viewRes.active
{
	max-height: 1500px;
    transition: max-height 0.5s ease-in;
	box-shadow: none;
	padding:0px;
}
.assembly-viewRes
{
	text-decoration:underline;
	cursor:pointer;
}
.ColorView{
  width:10px;
  height:10px;
  display:inline-block;
  margin-right:5px;
}
ul li[menu-levelname='panchayat']:after .active
{
	content: '' !important;
	border-right:1px solid #ddd;
}
.fa.fa-align-left
{
	cursor:pointer;
}
.tooltipBeneCls  a{
	padding:7px 14px !important;
}
.block_Alert_styled{
	background-color:#F6F6F6;
	padding:10px;
	margin-bottom: 10px;
	border-radius:12px;
}
.block_AlertC_styled{
	background-color:#E5EEF4;
	padding:10px;
	margin-bottom: 10px;
	margin-top: -17px;
}
.viewPageCls{
	border: 1px solid #3c763d;
    font-size: 11px;
    margin-left: 7px;
    padding: 0 5px 2px;
	cursor:pointer;
}
.mpMlaRoundedCss{
	border: 1px solid #777;
	text-align: center;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	padding: 13px 0px;
}
.media_width{
	width:100%;
}
.media_width h4{
	font-weight:none;
}
.logoRoundedCss{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
	padding:2px;
	height: 20px;
	width: 20px;
}
.input-group .form-control
{
	border-right:0px !important;
}
.input-group-addon
{
	background-color:#fff;
}
.tableStyledTour tbody  tr td{
	font-size:13px !important;
}
.pagination li a
{
	border-width:0px;
}
.pagination li a:hover, .pagination li a:active , .pagination li a:focus
{
	background-color:#ED8362 !important;
	color:#fff;
}
.pagination li a,.pagination li:first-child a,.pagination li:last-child a
{
	border-radius: 16px !important;
}
.pagination li.active a
{
	border-radius: 50%;
	background-color:#ED8362;
	box-shadow:0px 0px 3px 2px rgba(0,0,0,0.4);
	
}
.active-type-sorting li
{
	padding:3px 5px;
	border:1px solid #ddd;
	margin:0px 4px;
	cursor:pointer;
}
.active-type-sorting li.active
{
	background-color:#333;
	color:#fff;
}
.roundedCss{
	border: 1px solid #777;
	text-align: center;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	padding: 8px 0px;
	background-color:#fff;
}
.toursDesigCss{
	background-color: #F1F2F2;
    padding: 15px;
}
.toursCompNonComp{
	background-color: #E5E7E7;
    padding: 3px;
	text-align:center;
}
.dropUpTour{
	font-size: 18px; 
	font-weight: 600; 
	cursor:pointer;
}
.bg_ED{
	background-color: #edeef0;
}
.slick-prev{
	left:-10px !important;
}
.slick-next{
	right:-10px !important;
}	
.bg_D8 {
    background-color: rgb(219, 223, 226);
}
.borderedWeight thead tr th{
	border: 1px solid #c5c5c5 !important;
	font-size:13px !important;
}
.borderedWeight tbody tr td{
	font-size:13px !important;
}
.toursCompNonCompClickCls{
	cursor:pointer;
}
.progressCustom {
    background-color: rgb(211, 211, 211);
    height: 14px;
    margin-bottom: 0;
    width: 150px;
	border-radius:2px;
	display:inline-block;
	margin-left:10px;
}
.progressCustom span{
    margin-left:20px;
}
.progressCustom .progress-bar {
    background-color: rgb(100, 113, 122);
}
.levelWiseNominatedCss{
	background-color:#EAEAEB;
	padding:10px;
}
.openPostDeptColor{
	background-color:#EBF0F5;
}
.openPostColor{
	background-color:#DBD2DB;
}
.openPostAppColor{
	background-color:#CCDBCF;
}

.tableOpenPostCss thead tr th, .tableOpenPostCss tbody tr td{
	padding:5px !important;
}
.tableOpenPostCss thead tr:nth-child(2){
	border:none !important;
}
.popUpDetailsClickCls{
	cursor:pointer;
	text-decoration:underline;
	font-weight:bold;
}
.tableborderNomiPost tbody tr td{
	border:none !important;
}
.tableStyledGoIssued thead tr th, .tableStyledGoIssued tbody tr td{
	font-size:12px !important;
}
.nominatedLevelWisePostsSlick li{
	border-left: 1px solid #d3d3d3;
}
.nominatedLevelWisePostsSlick li:last-child{
	border-left: none;
}
.dt-button
{
	background: linear-gradient(35deg, #ff1c5e, #ffc012) !important;
    color: #fff !important;
    border: 0px !important;
    padding:0.5em 1em !important;
}
.posts-block .panel-title
{
	background-color:#E4E4E4;
	padding:8px;
	border-left:5px solid #6F6F6F;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	padding-left:10px;
}
.posts-block .list-border li
{
	padding:0px 15px;
}

.tableborderCss tbody tr td{
	border:none !important;
	padding:2px !important;
	font-weight:bold;
}
.positionLevelModalClick{
	cursor:pointer;
	text-decoration:underline;
	font-weight:bold;
}
.hideShowBtn
{
	cursor:pointer;
	border: 1px solid #333;
	padding: 0px 7px;
	border-radius: 3px;
	font-size: 20px;
	float: right;
	color:#333;
}
.panel-default > .winnersColor{
	background-color:#b3f3e4 !important;
	padding:10px !important;
	border-bottom: 2px solid #6ac36a !important;
	border-top-left-radius:10px !important;
	border-top-right-radius:10px !important;
}
.panel-default  > .looserColor{
	background-color:#F6ACAC !important;
	padding:10px !important;
	border-bottom: 2px solid #F57474 !important;
	border-top-left-radius:10px !important;
	border-top-right-radius:10px !important;
}
.panel-border{
	border-color:#D9D7D7 !important;
	border-radius: 10px ! important;
}
.media-left, .media-right, .media_body_custom{
	display:table-cell !important;
	vertical-align:top !important;
}
.media, .media_body_custom{
overflow:hidden !important;
}
.panel_body_custom{
background-color:#D9D7D7;
}
.nav-tabs-horizontal_Elec
{
	border-bottom: 0px;
	border-right: 1px solid #ddd;
}
.nav-tabs-horizontal_Elec li
{
	width: 100%;
	display: block;
	margin-bottom: 0px;
	margin-left: 3px
}
.nav-tabs-horizontal_Elec li a
{
	border-right:0px !important;
	border-radius: 0px;
	color:#333333 !important;
}
.nav-tabs-horizontal_Elec > li.active > a, .nav-tabs-horizontal_Elec > li.active > a:hover, .nav-tabs-horizontal_Elec > li.active > a:focus
{
	border-bottom:1px solid #ddd;
	padding-right: 20px;
	background-color:#d3d3d3;
}
.nav-tabs-horizontal_Elec > li.active > a:after
{
	position: absolute;
	display: block;
	content:' ';
	right: -36px;
	font-size: 16px;
	top: -1px;
	background-color: #D3D3D3;
	bottom: -1px;
	width: 40px;
	z-index: 99;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}
.table_padding tbody tr td{
	padding:13px !important;
	font-size:12px !important;
}
.table_padding thead tr th{
	font-size:12px !important;
	text-transform:uppercase !important;
}
.candidate_rounded{
	background-color: #ff0000;
    border-radius: 50%;
    color: #ffffff;
    content: "";
    display: inline-block;
    height: 25px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 25px;
}
.normal_font{
	font-weight:normal;
}
.table-alerts { 
	border-collapse: separate; 
	border-spacing: 10px 0px; 
	width:100%;
}
.table-alerts td {
    border: solid 1px #E3EDF5;
    border-style: none solid solid none;
    padding: 8px;
	background-color:#E3EDF5
}
.table-alerts tr:first-child td 
{ 
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-spacing:10px 0px;
	border-left:1px solid #E3EDF5 ;
	border-right:1px solid #E3EDF5;
	background-color:#E3EDF5
}
.table-alerts tr:first-child td {
	border-left:1px solid #E3EDF5 ;
	border-right:1px solid #E3EDF5;
}
.table-alerts tr:nth-child(2) td
{
	border-left:1px solid #E3EDF5 ;
	border-right:1px solid #E3EDF5;
}
.table-alerts tr:last-child td:first-child { border-bottom-left-radius: 10px; }
.table-alerts tr:last-child td
{ 
	border-bottom-right-radius: 10px; 	
}
.table-alerts tr:last-child td
{ 
	border-bottom-left-radius: 10px; 
	border-left:1px solid #E3EDF5;
}
.table-alerts tr:last-child td:last-child { border-bottom-right-radius: 10px; }
.table-alerts tr:first-child td { border-top-style: solid; }
.table-alerts tr td:first-child { border-left-style: solid; }
.table_custom thead tr th , .table_custom tbody tr td{
font-size:12px !important;
}
.alerts-status-list
{
	padding-left:0px;
	margin-top:20px;
}
.alerts-status-list li
{
	list-style:none;
	display:inline-block;
	padding:10px;
	border:1px solid #ddd;
	border-radius:6px;
	margin:8px;
}
.table-election,.table-election1
{
	border-collapse: separate;
	border-spacing:10px 0px
}
.table-election thead th:nth-child(n+2),.table-election1 thead th:nth-child(n+3)
{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-top:2px solid #008855 !important;
	border-left:2px solid #008855;
	border-right:2px solid #008855;
}

.table-election tr td,.table-election1 tr td
{
	padding:20px 10px !important;
	
}
.table-election tr td:nth-child(n+2),.table-election1 tr td:nth-child(n+3)
{
	border-left:2px solid #008855;
	border-right:2px solid #008855;
}
.table-election tr:last-child td:nth-child(n+2),.table-election1 tr:last-child td:nth-child(n+3)
{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom:2px solid #008855 !important;
	border-left:2px solid #008855;
	border-right:2px solid #008855;
}
.text_bold{
	font-weight:bold;
}
.stausWiseColor{
	content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
}
.tableAlignment thead tr th{
	font-size:12px !important;
	padding:5px !important;
}
.tableAlignment tbody tr td{
	font-size:13px !important;
	padding:3px !important;
}
.imageUrlUlCls li
{
	border:2px solid #eee;
}
.headingColorStyling{
	background-color: rgb(74, 88, 99);
    color: #fff;
    padding: 10px;
    width: 215px;
	line-height:10px;
	height:29px;
	
}
.assignedCandidatesUl
{
	border:1px solid #d3d3d3;
	padding: 5px 0px;
}
.assignedCandidatesUl li
{
	padding:6px 20px 6px 10px;
	border-right: 1px solid #ddd;
	min-height:100px;
}

.assignedCandidatesUl li:last-child
{
	border-right: 0px;
}
.alertComment .tab-pane
{
	border:1px solid #a286c0;
	padding: 10px;
}
.alertCommentUl li a
{
	color:#333;
	background-color:#A185BF;
	text-transform: uppercase;
	font-size:12px;
	padding:12px;
	border-radius:0px;
}
.alertCommentUl li.active a
{
	color:#A185BF;
	background-color: #fff;
	text-transform: uppercase
}
.alertCommentUl li.active .color_FF
{
	color:#333;
}
.color_FF
{
	color: #fff;
}
.alertStatusTracking
{
	padding-left:10px;
}
.alertStatusTracking li
{
	list-style:none;
	border-radius:4px;
	position:relative;
}
.arrow_box_left
{
	border:1px solid #A286C0 !important;
	padding-bottom:18px !important;
}
.arrow_box_left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #A286C0 !important;
	border-width: 6px;
	margin-top: -6px;
}
.arrow_box_left{
	position: relative;
	background: #fff;
	padding:8px;
	border: 1px solid #ccc;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box_left:before {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #ccc;
	border-width: 11px;
	margin-top: -11px;
}
.verifyHeadingColorStyling{
	background-color: rgb(74, 88, 99);
    color: #fff;
    padding: 10px;
    width: 315px;  
	line-height:10px;
	height:29px;
	
}
.assignedCandidatesUl1
{
	border:1px solid #d3d3d3;
	padding: 5px 0px;
	min-height:90px;
}
.assignedCandidatesUl1 li  
{
	padding:6px 20px 6px 10px;
	border-right: 1px solid #ddd;
}
.assignedCandidatesUl1 li:last-child
{
	border-right: 0px;
}
.statusClr{
	border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    height: 25px;
    padding: 3px;
    width: 25px;
	text-align:center;
	text-decoration:underline;
}
.tableAlignmentElecResults  thead tr th{
	font-size:12px !important;
	padding:5px !important;
}
.tableAlignmentElecResults tbody tr td{
	font-size:12px !important;
	padding:10px !important;
}
.tableAlignmentElecResults
{
	border-collapse: separate;
	border-spacing:0px 0px
}
.tableAlignmentElecResults thead tr:first-child th:first-child , .tableAlignmentElecResults tr:last-child td:first-child
{
	border-left:0px !important;
	border-right:0px !important;
	border-top:0px !important
}
.tableAlignmentElecResults thead tr:first-child th:nth-child(n+2)
{
    border-bottom: 0 none;
    border-left: 2px solid #cccccc;
    border-right: 2px solid #cccccc;
    border-top: 2px solid #cccccc !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tableAlignmentElecResults tr:last-child td:nth-child(3n+1) {
    border-bottom: 2px solid #cccccc !important;
    border-bottom-right-radius: 10px;
    border-right: 2px solid #cccccc !important;
}
.tableAlignmentElecResults tr:last-child td:nth-child(3n+2) {
    border-bottom: 2px solid #cccccc !important;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #cccccc !important;
}
.tableAlignmentElecResults tr:last-child td {
    border-bottom: 2px solid #cccccc !important;
}
.tableAlignmentElecResults tr td:nth-child(3n+2) , .tableAlignmentElecResults thead th:nth-child(3n+1) {
	border-left:2px solid #ccc;
}
.cross-voting-list
{
	padding-left:0px;
}
.table-cross-voting
{
	border-collapse: separate;
	border-spacing:0px 10px
}
.table-cross-voting thead tr th
{
	font-size: 16px !important;
    font-weight: normal !important;
}
.table-cross-voting thead
{
	box-shadow:0px 0px 6px rgba(0,0,0,0.4);
}
.table-cross-voting tr td:first-child
{
	border-left:1px solid #CBCBCB !important;
}
.table-cross-voting tr td:last-child
{
	border-right:1px solid #CBCBCB !important;
}
.table-cross-voting tr td
{
	border-bottom:1px solid #CBCBCB !important;
	border-top:1px solid #CBCBCB !important;	
}
.cross-voting-list li
{
	display:inline-block;	
}
.cross-voting-list li .media-left
{
	border-radius:50%;
	padding:10px 20px;
	border:1px solid #ccc;
	text-align:center;
	
}
.cross-voting-list li .media img
{
	width:25px;
	height:25px;
}
.cross-voting-list li .media .media-body
{
	vertical-align:middle;
	font-size:24px;
	padding-left:10px;
}
.cross-voting-list li .media .media-body .fa
{
	font-size:14px;
	color:#cbcbcb
}
.tableBoothWise thead tr  th{
	font-size:12px !important;
	padding:3px !important
}
.tableBoothWise tbody tr  td{
	font-size:14px !important;
	padding:5px !important
}
.white_color{
	background-color: #ffffff;
    padding: 30px;
}
.buttonClr{
	background-color: #008855;
	border-radius: 0;
	font-weight: bold;
}
.switch-btn-New
{
	padding: 5px;
    background-color: #fff;
    display: inline-block;
	border: 1px solid #ccc;
	margin-left:5px;
	border-radius: 25px;
}
.switch-btn-New li{
	list-style: none;
	display: inline-block;
	padding: 6px 8px;
	cursor: pointer;
	text-transform: uppercase;
	color:#000;
	font-size:12px;
}
.switch-btn-New li:hover{
	background-color: #3BB878;
	color: #fff;
	border-radius: 25px;
	transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
}
.switch-btn-New li:focus{
	background-color: #3BB878;
	color: #fff;
	border-radius: 25px;
	transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
}
.switch-btn-New li.active{
	background-color: #3BB878;
	color: #fff;
	border-radius: 25px;
	transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
}
.scrollHeading
{
	background-color:#fff;
	padding:10px;
}
.scrollHeading.header-fixed
{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	z-index:9999;
	box-shadow:0px 5px 16px rgba(0,0,0,0.4);
	padding:5px;
}
.votingDtsClickCls{
	text-decoration:underline;
	cursor:pointer;
}
.boderBlock{
	border:1px solid #777;
}
.table-meetings-month
{
	border-collapse: separate;
	border-spacing:0px;
	width:100%;
	padding-top:5px;
	background-color:#E9F0FC
}
.table-meetings-month tr
{
	background-color:#DFE0E0
}
.table-meetings-month thead th , .table-meetings-month tr td
{
	padding:10px 8px;
}
.table-meetings-month thead th
{
	background-color:#E9F0FC
}
.table-meetings-month thead tr:first-child th:nth-child(n+2)
{
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-left:2px solid #71D4F5;
	border-right:2px solid #71D4F5;
	border-top:2px solid #71D4F5;
}
.table-meetings-month tr:last-child td:nth-child(n+2)
{
	border-bottom:2px solid #71D4F5;
}
.table-meetings-month thead tr:nth-child(2) th:nth-child(5n+1)
{
	border-left:2px solid #71D4F5;
}
.table-meetings-month thead tr:nth-child(2) th:nth-child(8n+5)
{
	border-right:2px solid #71D4F5;
}
.table-meetings-month tr:last-child td:nth-child(8n+6)
{
	border-right:2px solid #71D4F5;
	border-bottom-right-radius:8px;
}
.table-meetings-month tr:last-child td:nth-child(5n+2)
{
	border-bottom-left-radius:8px;
	border-left:2px solid #71D4F5;
	border-bottom:2px solid #71D4F5;
}
.table-meetings-month-dist.table-election thead th:nth-child(n+2)
{
	border-left-color:#71D4F5;
	border-right-color:#71D4F5;
	border-top-color:#71D4F5 !important;
}
.table-meetings-month-dist.table-election tr td:nth-child(n+2)
{
	border-left-color:#71D4F5;
	border-right-color:#71D4F5;
}
.table-meetings-month-dist.table-election tr:last-child td:nth-child(n+2)
{
	border-left-color:#71D4F5;
	border-right-color:#71D4F5;
	border-bottom-color:#71D4F5 !important;
}
.table_election_results tr
{
	background-color:#DFE0E0
}
.table_election_results thead th
{
	background-color:#E9F0FC
}
.tableHoverLevels tr:hover td{
    border-bottom: 1px solid rgb(74, 88, 101) !important;
    border-top: 1px solid rgb(74, 88, 101) !important;
    cursor: pointer;
}
.benefit_block{
	background-color: #dddddd;
    padding: 10px;
}
.media_padding{
	background-color:#fff;
	padding:5px;
}
.table_benefits thead tr th,.table_benefits tbody tr td{
	font-size:12px !important;
	padding:3px !important;
}
.table_benefits1 thead tr th,.table_benefits1 tbody tr td{
	font-size:12px !important;
	padding:5px !important;
}
.black_block{
	background-color:#ddd;
	padding:10px;
}
.squareCss{
	display:inline-block;
	width:10px;
	height:10px;
}
.list_style_css,.list_style_css1,.list_style_css2{
	padding:0px;
}
.list_style_css li,.list_style_css1,.list_style_css2{
	list-style:none;
}

.list_style_css li h6{
	line-height:40px;
	padding:4px;
	text-transform:uppercase;
}
.list_style_css1 li h6{
	line-height:25px;
	padding:4px;
	text-transform:uppercase;
}
.arrow_box_bottom {
	border: 1px solid #EDEEF0;
}
.arrow_box_bottom:after, .arrow_box_bottom:before {
	top: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_bottom:after {
	border-color: rgba(237, 238, 240, 0);
	border-top-color: #EDEEF0;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box_bottom:before {
	border-color: rgba(237, 238, 240, 0);
	border-top-color: #EDEEF0;
	border-width: 11px;
	margin-left: -11px;
}
.list_style_css2{
	padding:4px;
	text-transform:uppercase;
}
.media_padding_grievance{
	padding:20px;
	border:1px solid #ccc;
}
.media_padding_grievance h3{
	font-weight:normal;
}
.borderCss{
	border:1px solid #ccc;
}
.border_left{
	border-left:1px solid #ccc;
}
.border_right{
	border-right:1px solid #ccc;
}
.table_griveance_pad thead tr th,.table_griveance_pad tbody tr td{
	font-size:12px !important;
	padding:10px !important;
}
.table_font thead tr th{
	font-size:12px !important;
}
.getCmtMemDtls{
	text-decoration:underline;
}
.memberMeetingCls{
	background-color:#F4F4F5;
	padding:10px;
}
.memberMeetingCls li{
	background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}
.getCmtMemDtlsDesgClick{
	border: 1px solid #777777;
    border-radius: 100%;
    height: 25px;
    padding: 5px 12px;
    text-align: center;
    text-decoration: underline;
    width: 25px;
}
.table_benefits1
{
	border-collapse: separate;
	border-spacing:5px 0px
}
.table_benefits1 thead th:nth-child(n+6)
{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top:1px solid #008855 !important;
	border-left:1px solid #008855;
	border-right:1px solid #008855;
	background-color:#EBF8F1;
}

.table_benefits1 tr td
{
	padding:5px !important;
	
}
.table_benefits1 tr td:nth-child(n+6){
	border-left:1px solid #008855;
	border-right:1px solid #008855;
	background-color:#EBF8F1;
}
.table_benefits1 tr:last-child td:nth-child(n+6)
{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom:1px solid #008855 !important;
	border-left:1px solid #008855;
	border-right:1px solid #008855;
}
.panel-black
{
	border-radius:0px;
}
.panel-black > .panel-heading{
	background-color:#000 !important;
	color:#fff !important;
	border-radius:0px;
		
}
.panelCollapseIcon:before
{
	font-family:'Glyphicons Halflings';
	content:"\2212";
	float: right;
	font-size:10px;
	font-weight:400 !important;
	margin-left:-4px;
	color:#fff;
	border:1px solid #fff;
	padding:2px 4px;
	.rounded-corners(4px);
}
.panelCollapseIcon.collapsed:before
{
	content:"\002b";
}
.table_meeting_level
{
	border-collapse: separate;
	border-spacing:0px;
	width:100%;
	padding-top:5px;
	background-color:#E9F0FC
}
.table_meeting_level tr
{
	background-color:#DFE0E0
}
.table_meeting_level thead th , .table_meeting_level tr td
{
	padding:10px 8px;
}
.table_meeting_level thead th
{
	background-color:#E9F0FC
}
.table_meeting_level thead th:nth-child(n+6)
{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-top:1px solid #008855 !important;
	border-left:1px solid #008855;
	border-right:1px solid #008855;
	background-color:#EBF8F1;
}
.table_meeting_level thead tr:nth-child(2) th:nth-child(5n+1)
{
	border-left:2px solid #71D4F5;
}
.table_meeting_level thead tr:nth-child(2) th:nth-child(8n+5)
{
	border-right:2px solid #71D4F5;
}
.table_meeting_level tr:last-child td:nth-child(8n+6)
{
	border-right:2px solid #71D4F5;
	border-bottom-right-radius:8px;
}
.identifyClrCss{
	display:inline-block;
	width:12px;
	height:12px;
	padding:5px;
}
.rangeWiseCss{
	border-radius: 100%;
    content: "";
    display: inline-block;
    height: 15px;
    margin-top: 10px;
    position: relative;
    top: 3px;
    width: 15px;
}
.tableMenu {
    border: 1px solid grey;
    padding: 2px;
}
.tableMenu {
    padding: 3px 0px;
    border: 1px solid grey;
    border-radius: 18px;
}
.tableMenu li {
    padding: 6px 15px;
}
.tableMenu li {
    padding: 6px 15px;
    margin: 0px 4px;
    cursor: pointer;
}
.casteResultMarginCls{
	margin: 3px 4px !important;
}
.casteResultTypeCls li.active{
	background-color: #333;
    color: #FFF;
    border-radius: 18px;  
}
.strongPoorCss{
	
	background-color: #ff3e3e;
    border-radius: 5px;
    color: #fff;
    display: block;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 20px;
}
.tooltipPartyTrends{
	cursor:pointer;
	
}
.white_block_css{
	background-color:#fff;
	padding:10px;
	box-shadow:0px 4px 4px 4px rgba(0,0,0,0.3);
	
}
.table_alignment thead tr th{
	font-size:14px !important;
	padding:8px !important;
	font-weight:bold !important;
}
.table_alignment tbody tr td{
	font-size:12px !important;
	padding:8px !important;
	font-weight:bold !important;
}
.bg-D3{
	background-color:#d3d3d3;
}
.f_16{
	font-size:16px;
}
.font_weight{
	font-weight:bold;
}