<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
				<prop key="hibernate.max_fetch_depth">0</prop>
				<prop key="hibernate.connection.autoReconnect">true</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider
				</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.itgrids.electoralconnect.model.UserProfile</value>
				<value>com.itgrids.electoralconnect.model.UserLogin</value>
				<value>com.itgrids.electoralconnect.model.User</value>
				<value>com.itgrids.electoralconnect.model.Roles</value>
				<value>com.itgrids.electoralconnect.model.UserRoles</value>
				<value>com.itgrids.electoralconnect.model.Announcements</value>
				<value>com.itgrids.electoralconnect.model.AnnouncementType</value>
				<value>com.itgrids.electoralconnect.model.File</value>
				<value>com.itgrids.electoralconnect.model.AnnouncementFiles</value>
				<value>com.itgrids.electoralconnect.model.FileType</value>
				<value>com.itgrids.electoralconnect.model.Comment</value>
				<value>com.itgrids.electoralconnect.model.CommentReply</value>
			</list>
		</property>
	</bean>

	<!-- Add new DAOs here -->
	
	<bean id="userProfileDAO" class="com.itgrids.electoralconnect.dao.hibernate.UserProfileDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userLoginDAO" class="com.itgrids.electoralconnect.dao.hibernate.UserLoginDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userDAO" class="com.itgrids.electoralconnect.dao.hibernate.UserDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="userRolesDAO" class="com.itgrids.electoralconnect.dao.hibernate.UserRolesDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="rolesDAO" class="com.itgrids.electoralconnect.dao.hibernate.RolesDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="announcementsDAO" class="com.itgrids.electoralconnect.dao.hibernate.AnnouncementsDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="announcementFilesDAO" class="com.itgrids.electoralconnect.dao.hibernate.AnnouncementFilesDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="fileDAO" class="com.itgrids.electoralconnect.dao.hibernate.FileDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="commentDAO" class="com.itgrids.electoralconnect.dao.hibernate.CommentDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fileTypeDAO" class="com.itgrids.electoralconnect.dao.hibernate.FileTypeDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="announcementTypeDAO" class="com.itgrids.electoralconnect.dao.hibernate.AnnouncementTypeDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="commentReplyDAO" class="com.itgrids.electoralconnect.dao.hibernate.CommentReplyDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>
