<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">

	<persistence-unit name="persistenceUnitManager"
		transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.itgrids.partyanalyst.model.Country</class>
		<class>com.itgrids.partyanalyst.model.Census</class>
		<class>com.itgrids.partyanalyst.model.State</class>
		<class>com.itgrids.partyanalyst.model.Constituency</class>
		<class>com.itgrids.partyanalyst.model.District</class>
		<class>com.itgrids.partyanalyst.model.CandidateResult</class>
		<class>com.itgrids.partyanalyst.model.Candidate</class>
		<class>com.itgrids.partyanalyst.model.ConstituencyElection</class>
		<class>com.itgrids.partyanalyst.model.Nomination</class>
		<class>com.itgrids.partyanalyst.model.Ward</class>
		<class>com.itgrids.partyanalyst.model.Township</class>
		<class>com.itgrids.partyanalyst.model.Tehsil</class>
		<class>com.itgrids.partyanalyst.model.ElectionScope</class>
		<class>com.itgrids.partyanalyst.model.Party</class>
		<class>com.itgrids.partyanalyst.model.Election</class>
		<class>com.itgrids.partyanalyst.model.ElectionType</class>
		<class>com.itgrids.partyanalyst.model.Registration</class>
		<class>com.itgrids.partyanalyst.model.ConstituencyElectionResult</class>
		<class>com.itgrids.partyanalyst.model.StaticGroup</class>
		<class>com.itgrids.partyanalyst.model.StaticUsers</class>
		<class>com.itgrids.partyanalyst.model.PersonalUserGroup</class>
		<class>com.itgrids.partyanalyst.model.UserGroupPrivileges</class>
		<class>com.itgrids.partyanalyst.model.AnanymousUser</class> 
		<class>com.itgrids.partyanalyst.model.UserAddress</class>
		<class>com.itgrids.partyanalyst.model.NewsImportance</class>  
		<class>com.itgrids.partyanalyst.model.PublicationDate</class>				
		<class>com.itgrids.partyanalyst.model.HamletBoothPublication</class>				
		<class>com.itgrids.partyanalyst.model.BoothPublicationVoter</class>
		<class>com.itgrids.partyanalyst.model.UserFavoriteLinks</class>				
		<class>com.itgrids.partyanalyst.model.FavoriteLinkPage</class>
		<class>com.itgrids.partyanalyst.model.SpecialPageData</class>
		<class>com.itgrids.partyanalyst.model.ContentNotes</class>
		<class>com.itgrids.partyanalyst.model.NewsFlag</class>
		<class>com.itgrids.partyanalyst.model.NewsProblem</class>
		
		<class>com.itgrids.partyanalyst.model.AreaType</class>
		<class>com.itgrids.partyanalyst.model.CustomVoterGroup</class>
		<class>com.itgrids.partyanalyst.model.CustomVoter</class>
		
		<class>com.itgrids.partyanalyst.model.UpdationDetails</class>
		<class>com.itgrids.partyanalyst.model.Survey</class>
		<class>com.itgrids.partyanalyst.model.SurveyAccessUsers</class>
		<class>com.itgrids.partyanalyst.model.SurveyQuestion</class>
		<class>com.itgrids.partyanalyst.model.OptionType</class>
		<class>com.itgrids.partyanalyst.model.Option</class>
		<class>com.itgrids.partyanalyst.model.SurveyorProfile</class>
		<class>com.itgrids.partyanalyst.model.Respondent</class>
		<class>com.itgrids.partyanalyst.model.Surveyor</class>
		<class>com.itgrids.partyanalyst.model.SurveyAnswer</class>
		<class>com.itgrids.partyanalyst.model.QuestionOptions</class>
		<class>com.itgrids.partyanalyst.model.VoiceRecordingDetails</class>
		<class>com.itgrids.partyanalyst.model.SmsResponseDetails</class>
		<class>com.itgrids.partyanalyst.model.VoiceSmsVerifiedNumbers</class>	
		<class>com.itgrids.partyanalyst.model.SmsType</class>
		<class>com.itgrids.partyanalyst.model.HouseHoldsVoter</class>
		<class>com.itgrids.partyanalyst.model.HouseHoldsFamilyDetails</class>		
		<class>com.itgrids.partyanalyst.model.StrategyMergePanchayat</class>
		<class>com.itgrids.partyanalyst.model.StrategyMergPancList</class>
			
		<class>com.itgrids.partyanalyst.model.ForgetPasswordAccessKey</class>
		
		<class>com.itgrids.partyanalyst.model.HHSurveyQuestion</class>
		<class>com.itgrids.partyanalyst.model.HHOptions</class>
		<class>com.itgrids.partyanalyst.model.HHQuestionOptions</class>
		<class>com.itgrids.partyanalyst.model.HHOptionType</class>
		<class>com.itgrids.partyanalyst.model.HHSurvey</class>
		<class>com.itgrids.partyanalyst.model.HouseHolds</class>
		<class>com.itgrids.partyanalyst.model.HHSurveyAnswers</class>
		<class>com.itgrids.partyanalyst.model.voterNames</class>
		<class>com.itgrids.partyanalyst.model.StateSubRegionDistrict</class>
		<class>com.itgrids.partyanalyst.model.StateSubRegion</class>
		<class>com.itgrids.partyanalyst.model.SurveyUserConstituency</class>
		<class>com.itgrids.partyanalyst.model.SurveyCallStatus</class>
		<class>com.itgrids.partyanalyst.model.WebMonitoringAssignedUsers</class>
		<class>com.itgrids.partyanalyst.model.WebMonitorCompletedLocationsDetails</class>
		<class>com.itgrids.partyanalyst.model.SurveyCompletedStatus</class>
		<class>com.itgrids.partyanalyst.model.SurveyFeedbackComments</class>
		<class>com.itgrids.partyanalyst.model.SurveyCompletedLocations</class>
		<class>com.itgrids.partyanalyst.model.MobileSourceType</class>
		<class>com.itgrids.partyanalyst.model.MobileNumbers</class>
		<class>com.itgrids.partyanalyst.model.DuplicateWrongMobileNumbers</class>
		<class>com.itgrids.partyanalyst.model.CadreSurveyUser</class>
		<class>com.itgrids.partyanalyst.model.CadreSurveyUserAssignDetails</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreFamilyDetails</class>
		<class>com.itgrids.partyanalyst.model.CadrePreviousRoles</class>
		<class>com.itgrids.partyanalyst.model.VoterRelation</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreBackupDetails</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreBackupDetails</class>
		<class>com.itgrids.partyanalyst.model.CadreTxnDetails</class>
		<class>com.itgrids.partyanalyst.model.CadreTxnUser</class>
		<class>com.itgrids.partyanalyst.model.CadreOtpDetails</class>
		<class>com.itgrids.partyanalyst.model.LoginDetailsByTab</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreOnline</class>
		<class>com.itgrids.partyanalyst.model.TabRecordsStatus</class>
		<class>com.itgrids.partyanalyst.model.TabUserLoginDetails</class>
		<class>com.itgrids.partyanalyst.model.ZebraPrintDetails</class>
		<class>com.itgrids.partyanalyst.model.LocalNameConstant</class>
		<class>com.itgrids.partyanalyst.model.PartyPresidents</class>
		<class>com.itgrids.partyanalyst.model.ZebraPrintOnlineShip</class>
		<class>com.itgrids.partyanalyst.model.TirupathiByeleMobileBooth</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreAgerangeInfo</class>
		<class>com.itgrids.partyanalyst.model.TdpCadreCasteInfo</class>	
		<class>com.itgrids.partyanalyst.model.TdpCadreCandidate</class>
		<class>com.itgrids.partyanalyst.model.SubEvent</class>
		<class>com.itgrids.partyanalyst.model.TrainingCampProgram</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCamp</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampDistrict</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampSchedule</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampBatch</class>
	     <class>com.itgrids.partyanalyst.model.ScheduleInviteeStatus</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampScheduleInvitee</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampScheduleInviteeTrack</class>
	     <class>com.itgrids.partyanalyst.model.BatchStatus</class>    
	     <class>com.itgrids.partyanalyst.model.TrainingCampUser</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampUserType</class>
	     <class>com.itgrids.partyanalyst.model.CampCallPurpose</class>
	     <class>com.itgrids.partyanalyst.model.CampCallStatus</class>
	     <class>com.itgrids.partyanalyst.model.TrainingCampScheduleInviteeCaller</class>
	     <class>com.itgrids.partyanalyst.model.PartyMeeting </class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingType </class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingOccurrence </class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingInvitee </class>
		 <class>com.itgrids.partyanalyst.model.Attendance </class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingAttendance </class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingMinute </class>
 	     <class>com.itgrids.partyanalyst.model.PartyMeetingType</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingLevel</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingOccurrence</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeeting</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingInvitee</class>
		 <class>com.itgrids.partyanalyst.model.Attendance</class>
		 <class>com.itgrids.partyanalyst.model.AttendanceTabUser</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingAttendance</class>
		 <class>com.itgrids.partyanalyst.model.TrainingCampAttendance</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingMinute</class>
		 <class>com.itgrids.partyanalyst.model.EventType</class>
		 <class>com.itgrids.partyanalyst.model.PartyMeetingIvrStatus</class>
		 <class>com.itgrids.partyanalyst.model.AppointmentComment</class>
		  <class>com.itgrids.partyanalyst.model.Notifications</class>
		   <class>com.itgrids.partyanalyst.model.NotificationType</class>
		    <class>com.itgrids.partyanalyst.model.NotificationDevice</class>
		    
		     <class>com.itgrids.partyanalyst.model.CasteCategoryEventInfo</class>
		     <class>com.itgrids.partyanalyst.model.SubCasteEventInfo</class>
		     <class>com.itgrids.partyanalyst.model.AgeWiseEventInfo</class>
		     <class>com.itgrids.partyanalyst.model.GenderWiseEventInfo</class>
		     
		      <class>com.itgrids.partyanalyst.model.EventCasteCategoryInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventCasteCategoryDayInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventCasteInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventCasteDayInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventAgeRangeInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventAgeRangeDayInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventGenderInfo</class>
		      <class>com.itgrids.partyanalyst.model.EventGenderDayInfo</class>
		      <class>com.itgrids.partyanalyst.model.AlertAssigned</class>
		 <properties> 
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/party_analyst_schema" />
			<property name="dialect" value="org.hibernate.dialect.MySQLDialect"/>
			<property name="hibernate.connection.username" value="root" />
			<property name="hibernate.connection.password" value="root" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.hbm2ddl.auto" value="reate-drop" />
			<property name="hibernate.format_sql" value="true" />
		</properties>
	</persistence-unit>

</persistence>
