<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	default-lazy-init="true">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
				<prop key="hibernate.max_fetch_depth">0</prop>
				<prop key="hibernate.connection.autoReconnect">true</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider
				</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.itgrids.partyanalyst.model.Booth</value>
				<value>com.itgrids.partyanalyst.model.Candidate</value>
				<value>com.itgrids.partyanalyst.model.Category</value>
				<value>com.itgrids.partyanalyst.model.State</value>
				<value>com.itgrids.partyanalyst.model.Constituency</value>
				<value>com.itgrids.partyanalyst.model.District</value>
				<value>com.itgrids.partyanalyst.model.ConstituencyElection</value>
				<value>com.itgrids.partyanalyst.model.ContentType</value>
				<value>com.itgrids.partyanalyst.model.Country</value>
				<value>com.itgrids.partyanalyst.model.Election</value>
				
				<value>com.itgrids.partyanalyst.model.ElectionScope</value>
				<value>com.itgrids.partyanalyst.model.Party</value>
				<value>com.itgrids.partyanalyst.model.Ward</value>
				<value>com.itgrids.partyanalyst.model.Visibility</value>
				<value>com.itgrids.partyanalyst.model.UserTracking</value>
				<value>com.itgrids.partyanalyst.model.UserRoles</value>
				<value>com.itgrids.partyanalyst.model.UserGroups</value>
				<value>com.itgrids.partyanalyst.model.UserEntitlementGroupRegion</value>
				<value>com.itgrids.partyanalyst.model.UserAddress</value>
				<value>com.itgrids.partyanalyst.model.User</value>
				<value>com.itgrids.partyanalyst.model.Township</value>
				<value>com.itgrids.partyanalyst.model.StateRegionDistrict</value>
				<value>com.itgrids.partyanalyst.model.SpecialPageGallery</value>
				<value>com.itgrids.partyanalyst.model.SourceLanguage</value>
				<value>com.itgrids.partyanalyst.model.Source</value>
				<value>com.itgrids.partyanalyst.model.Role</value>
				<value>com.itgrids.partyanalyst.model.Registration</value> 
				<value>com.itgrids.partyanalyst.model.RegionScopes</value>
				<value>com.itgrids.partyanalyst.model.PublicationDate</value>
				<value>com.itgrids.partyanalyst.model.PartyGallery</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionDistrictResult</value>
				<value>com.itgrids.partyanalyst.model.Nomination</value>
				<value>com.itgrids.partyanalyst.model.NewsProblem</value>
				<value>com.itgrids.partyanalyst.model.NewsImportance</value>
				<value>com.itgrids.partyanalyst.model.NewsFlag</value>
				<value>com.itgrids.partyanalyst.model.LocalElectionBody</value>
				<value>com.itgrids.partyanalyst.model.LocalElectionBodyWard</value>
				<value>com.itgrids.partyanalyst.model.Language</value>
				<value>com.itgrids.partyanalyst.model.Hamlet</value>
				<value>com.itgrids.partyanalyst.model.GroupEntitlementRelation</value>		
				<value>com.itgrids.partyanalyst.model.GroupEntitlement</value>
				<value>com.itgrids.partyanalyst.model.Group</value>
				<value>com.itgrids.partyanalyst.model.File</value>
				<value>com.itgrids.partyanalyst.model.FileType</value>
				<value>com.itgrids.partyanalyst.model.Gallary</value>
				<value>com.itgrids.partyanalyst.model.FileSourceLanguage</value>
				<value>com.itgrids.partyanalyst.model.FilePaths</value>
				<value>com.itgrids.partyanalyst.model.FileGallary</value>
				<value>com.itgrids.partyanalyst.model.Entitlement</value>
				<value>com.itgrids.partyanalyst.model.ElectionType</value>
				<value>com.itgrids.partyanalyst.model.Panchayat</value>
				<value>com.itgrids.partyanalyst.model.Tehsil</value>
				<value>com.itgrids.partyanalyst.model.SpecialPage</value>
				<value>com.itgrids.partyanalyst.model.LocalGroupRegion</value>		
				<value>com.itgrids.partyanalyst.model.PanchayatHamlet</value>
				<value>com.itgrids.partyanalyst.model.UserGroupEntitlement</value>
				<value>com.itgrids.partyanalyst.model.ContentNotes</value>
				<value>com.itgrids.partyanalyst.model.ElectionGoverningBody</value>
				<value>com.itgrids.partyanalyst.model.NewsDetails</value>
                <value>com.itgrids.partyanalyst.model.DelimitationConstituency</value>
			    <value>com.itgrids.partyanalyst.model.DelimitationConstituencyMandal</value>
			    <value>com.itgrids.partyanalyst.model.AssemblyLocalElectionBodyWard</value>
				<value>com.itgrids.partyanalyst.model.AssemblyLocalElectionBody</value>	
				<value>com.itgrids.partyanalyst.model.UserCandidateRelation</value>
				<value>com.itgrids.partyanalyst.model.CandidateNewsResponse</value>	
				<value>com.itgrids.partyanalyst.model.CandidateRealatedNews</value>
				<value>com.itgrids.partyanalyst.model.CandidateParty</value>
				<value>com.itgrids.partyanalyst.model.UserNewsCategory</value>
				<value>com.itgrids.partyanalyst.model.User</value>
				<value>com.itgrids.partyanalyst.model.DelimitationConstituencyAssemblyDetails</value>
				<value>com.itgrids.partyanalyst.model.NewsReport</value>
				<value>com.itgrids.partyanalyst.model.ReportFiles</value>
				<value>com.itgrids.partyanalyst.model.Keyword</value>
				<value>com.itgrids.partyanalyst.model.GallaryKeyword</value>
				<value>com.itgrids.partyanalyst.model.FileKeyword</value>
				<value>com.itgrids.partyanalyst.model.MainCategory</value>
				<value>com.itgrids.partyanalyst.model.PartyFileKeyword</value>
				<value>com.itgrids.partyanalyst.model.CandidateFileKeyword</value>
				<value>com.itgrids.partyanalyst.model.CandidatePartyKeyword</value>
				<value>com.itgrids.partyanalyst.model.CandidatePartyFile</value>
				<value>com.itgrids.partyanalyst.model.Font</value>
				<value>com.itgrids.partyanalyst.model.Benefit</value>
				<value>com.itgrids.partyanalyst.model.CandidatePartyCategory</value>
				<value>com.itgrids.partyanalyst.model.NewsResponse</value>
				<value>com.itgrids.partyanalyst.model.ReportFiles</value>
				<value>com.itgrids.partyanalyst.model.Designation</value>
				<value>com.itgrids.partyanalyst.model.ActivityReport</value>
				<value>com.itgrids.partyanalyst.model.ActivityReportFiles</value>
				<value>com.itgrids.partyanalyst.model.Benefit</value>
				
				
				<value>com.itgrids.partyanalyst.model.DebateSubject</value>
				<value>com.itgrids.partyanalyst.model.DebateParticipantExpectedRole</value>
				<value>com.itgrids.partyanalyst.model.DebateParticipantRole</value>
				<value>com.itgrids.partyanalyst.model.DebateSmsQuestionOption</value>
				<value>com.itgrids.partyanalyst.model.DebateSmsQuestion</value>
				<value>com.itgrids.partyanalyst.model.DebateQuestionAnswer</value>
				<value>com.itgrids.partyanalyst.model.DebateQuestions</value>
				<value>com.itgrids.partyanalyst.model.DebateRoles</value>
				<value>com.itgrids.partyanalyst.model.Characteristics</value>
				<value>com.itgrids.partyanalyst.model.DebateParticipantCharcs</value>
				<value>com.itgrids.partyanalyst.model.DebateParticipant</value>
				<value>com.itgrids.partyanalyst.model.DebateObserver</value>
				<value>com.itgrids.partyanalyst.model.Debate</value>
				<value>com.itgrids.partyanalyst.model.TelecastType</value>
				<value>com.itgrids.partyanalyst.model.Observer</value>
				<value>com.itgrids.partyanalyst.model.Channel</value>
				
				
			</list>
		</property>
	</bean>

	<!--Start  Add new DAOs here -->
	
	<bean id="partyGalleryDAO" class="com.itgrids.partyanalyst.dao.hibernate.PartyGalleryDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="constituencyDAO" class="com.itgrids.partyanalyst.dao.hibernate.ConstituencyDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidateNewsResponseDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidateNewsResponseDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidateRelatedNewsDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidateRelatedNewsDAO">
	 <property name="sessionFactory" ref="sessionFactory" />	
	</bean>
	<bean id="userDAO" class="com.itgrids.partyanalyst.dao.hibernate.UserDAO">
	 <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="delimitationConstituencyMandalDAO" class="com.itgrids.partyanalyst.dao.hibernate.DelimitationConstituencyMandalDAO">
	 <property name="sessionFactory" ref="sessionFactory" />	
	</bean>
	
	<bean id="delimitationConstituencyDAO" class="com.itgrids.partyanalyst.dao.hibernate.DelimitationConstituencyDAO">
	 <property name="sessionFactory" ref="sessionFactory" />	
	</bean>
	
	<bean id="delimitationConstituencyAssemblyDetailsDAO" class="com.itgrids.partyanalyst.dao.hibernate.DelimitationConstituencyAssemblyDetailsDAO">
	 <property name="sessionFactory" ref="sessionFactory" />	
	</bean>
	<bean id="userAddressDAO" class="com.itgrids.partyanalyst.dao.hibernate.UserAddressDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="reportFilesDAO" class="com.itgrids.partyanalyst.dao.hibernate.ReportFilesDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="newsReportDAO" class="com.itgrids.partyanalyst.dao.hibernate.NewsReportDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		</bean>
	<bean id="keywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.KeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="mainCategoryDAO" class="com.itgrids.partyanalyst.dao.hibernate.MainCategoryDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fileKeywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.FileKeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="gallaryKeywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.GallaryKeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="partyFileKeywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.PartyFileKeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidateFileKeywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidateFileKeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidatePartyKeywordDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidatePartyKeywordDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidatePartyFileDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidatePartyFileDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fontDAO" class="com.itgrids.partyanalyst.dao.hibernate.FontDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="nominationDAO" class="com.itgrids.partyanalyst.dao.hibernate.NominationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="benefitDAO" class="com.itgrids.partyanalyst.dao.hibernate.BenefitDAO">
	   <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidatePartyCategoryDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidatePartyCategoryDAO">
	   <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="fileDAO" class="com.itgrids.partyanalyst.dao.hibernate.FileDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="reportFilesFileDAO" class="com.itgrids.partyanalyst.dao.hibernate.ReportFilesDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="partyDAO" class="com.itgrids.partyanalyst.dao.hibernate.PartyDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="designationDAO" class="com.itgrids.partyanalyst.dao.hibernate.DesignationDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="candidateDAO" class="com.itgrids.partyanalyst.dao.hibernate.CandidateDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="activityReportDAO" class="com.itgrids.partyanalyst.dao.hibernate.ActivityReportDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="activityReportFilesDAO" class="com.itgrids.partyanalyst.dao.hibernate.ActivityReportFilesDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!--End Add new DAOs here -->
	
	<!-- Start of Debate DAOs -->
	
	<bean id="channelDAO" class="com.itgrids.partyanalyst.dao.hibernate.ChannelDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="observerDAO" class="com.itgrids.partyanalyst.dao.hibernate.ObserverDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="telecastTypeDAO" class="com.itgrids.partyanalyst.dao.hibernate.TelecastTypeDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateObserverDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateObserverDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateParticipantDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateParticipantDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateParticipantCharcsDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateParticipantCharcsDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="characteristicsDAO" class="com.itgrids.partyanalyst.dao.hibernate.CharacteristicsDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateRolesDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateRolesDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateQuestionsDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateQuestionsDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateQuestionAnswerDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateQuestionAnswerDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateSmsQuestionDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateSmsQuestionDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateSmsQuestionOptionDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateSmsQuestionOptionDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateParticipantRoleDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateParticipantRoleDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="debateParticipantExceptedRoleDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateParticipantExceptedRoleDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="DebateSubjectDAO" class="com.itgrids.partyanalyst.dao.hibernate.DebateSubjectDAO">
	  <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- End od Debate DAOS -->
</beans>
