<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/jdbc/partyAnalystDB" />
	</bean>

	<bean id="sessionFactory" 
			class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.connection.autoReconnect">true</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.itgrids.partyanalyst.model.Country</value>
				<value>com.itgrids.partyanalyst.model.State</value>
				<value>com.itgrids.partyanalyst.model.Constituency</value>
				<value>com.itgrids.partyanalyst.model.District</value>
				<value>com.itgrids.partyanalyst.model.CandidateResult</value>
				<value>com.itgrids.partyanalyst.model.Candidate</value>
				<value>com.itgrids.partyanalyst.model.ConstituencyElection</value>
				<value>com.itgrids.partyanalyst.model.Nomination</value>
				<value>com.itgrids.partyanalyst.model.Ward</value>
				<value>com.itgrids.partyanalyst.model.Township</value>
				<value>com.itgrids.partyanalyst.model.Tehsil</value>
				<value>com.itgrids.partyanalyst.model.ElectionScope</value>
				<value>com.itgrids.partyanalyst.model.Party</value>
				<value>com.itgrids.partyanalyst.model.Election</value>
				<value>com.itgrids.partyanalyst.model.ElectionType</value>
				<value>com.itgrids.partyanalyst.model.ConstituencyElectionResult</value> 
				<value>com.itgrids.partyanalyst.model.Registration</value> 
				<value>com.itgrids.partyanalyst.model.Census</value>  
				<value>com.itgrids.partyanalyst.model.Cadre</value>  
				<value>com.itgrids.partyanalyst.model.CadreLevel</value>
				<value>com.itgrids.partyanalyst.model.Booth</value> 
				<value>com.itgrids.partyanalyst.model.BoothConstituencyElection</value>
				<value>com.itgrids.partyanalyst.model.BoothResult</value>
				<value>com.itgrids.partyanalyst.model.BoothVillageCensus</value> 
				<value>com.itgrids.partyanalyst.model.ElectionAlliance</value>
				<value>com.itgrids.partyanalyst.model.Group</value>
				<value>com.itgrids.partyanalyst.model.AllianceGroup</value>
				<value>com.itgrids.partyanalyst.model.PartyRebel</value>
				<value>com.itgrids.partyanalyst.model.PartyRebelCandidate</value>
				<value>com.itgrids.partyanalyst.model.CandidateBoothResult</value>
				<value>com.itgrids.partyanalyst.model.NominationHistory</value>
				<value>com.itgrids.partyanalyst.model.CandidateConsolidationTask</value>
				<value>com.itgrids.partyanalyst.model.DelimitationConstituency</value>
				<value>com.itgrids.partyanalyst.model.DelimitationConstituencyAssemblyDetails</value>
				<value>com.itgrids.partyanalyst.model.DelimitationConstituencyMandal </value>
				<value>com.itgrids.partyanalyst.model.UserEvents</value>
				<value>com.itgrids.partyanalyst.model.UserEventActionPlan</value>
				<value>com.itgrids.partyanalyst.model.Problem</value>
				<value>com.itgrids.partyanalyst.model.ProblemHistory</value>
				<value>com.itgrids.partyanalyst.model.ProblemSourceScope</value>
				<value>com.itgrids.partyanalyst.model.ProblemStatus</value>
				<value>com.itgrids.partyanalyst.model.ProblemLocation</value>
				<value>com.itgrids.partyanalyst.model.ProblemSourceScopeConcernedDepartment</value>
				<value>com.itgrids.partyanalyst.model.ProblemClassification</value>
				<value>com.itgrids.partyanalyst.model.ProblemFundSource</value>
				<value>com.itgrids.partyanalyst.model.FundSource</value>
				<value>com.itgrids.partyanalyst.model.UserCategory</value>
				<value>com.itgrids.partyanalyst.model.AssignedProblemProgress</value>
				<value>com.itgrids.partyanalyst.model.InformationSource</value>
				<value>com.itgrids.partyanalyst.model.ProblemExternalSource</value>
				<value>com.itgrids.partyanalyst.model.Hamlet</value>
				<value>com.itgrids.partyanalyst.model.Voter</value>
				<value>com.itgrids.partyanalyst.model.BoothConstituencyElectionVoter</value>
				<value>com.itgrids.partyanalyst.model.UserEvents</value>
				<value>com.itgrids.partyanalyst.model.UserEventActionPlan</value>
				<value>com.itgrids.partyanalyst.model.PartyImportantDates</value>
				<value>com.itgrids.partyanalyst.model.UserImpDate</value>
				<value>com.itgrids.partyanalyst.model.ProblemAndProblemSource</value>
				<value>com.itgrids.partyanalyst.model.VillageBoothElection</value>
				<value>com.itgrids.partyanalyst.model.HamletBoothElection</value>
				<value>com.itgrids.partyanalyst.model.EPaper</value>
				<value>com.itgrids.partyanalyst.model.EPaperUrl</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionResult</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionDistrictResult</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionStateResult</value>
				<value>com.itgrids.partyanalyst.model.PersonalUserGroup</value>
				<value>com.itgrids.partyanalyst.model.StaticGroup</value>
				<value>com.itgrids.partyanalyst.model.StaticUsers</value>
				<value>com.itgrids.partyanalyst.model.UserGroupPrivileges</value>
				<value>com.itgrids.partyanalyst.model.StaticUserGroup</value>
				<value>com.itgrids.partyanalyst.model.MyGroup</value>
				<value>com.itgrids.partyanalyst.model.CommentData</value>
				<value>com.itgrids.partyanalyst.model.CommentCategoryCandidate</value>
				<value>com.itgrids.partyanalyst.model.CommentCategoryParty</value>
				<value>com.itgrids.partyanalyst.model.CommentCategoryConstituency</value>
				<value>com.itgrids.partyanalyst.model.InfluencingPeople</value>
				<value>com.itgrids.partyanalyst.model.InfluencingPeoplePosition</value>
				<value>com.itgrids.partyanalyst.model.CommentDataCategory</value>
				<value>com.itgrids.partyanalyst.model.LocalElectionBody</value>
				<value>com.itgrids.partyanalyst.model.ElectionGoverningBodyPosition</value>
				<value>com.itgrids.partyanalyst.model.ElectionGoverningBody</value>
				<value>com.itgrids.partyanalyst.model.PoliticalChanges</value>
				<value>com.itgrids.partyanalyst.model.PoliticalChangesInformationSource</value>				
				<value>com.itgrids.partyanalyst.model.SmsHistory</value>
				<value>com.itgrids.partyanalyst.model.SmsModule</value>
				<value>com.itgrids.partyanalyst.model.SmsTrack</value>
				<value>com.itgrids.partyanalyst.model.PartyWorkingCommittee</value>
				<value>com.itgrids.partyanalyst.model.PartyWorkingCommitteeDesignation</value>
				<value>com.itgrids.partyanalyst.model.UserAddress</value>				
				<value>com.itgrids.partyanalyst.model.Entitlement</value>
				<value>com.itgrids.partyanalyst.model.GroupEntitlement</value>
				<value>com.itgrids.partyanalyst.model.UserGroupEntitlement</value>
				<value>com.itgrids.partyanalyst.model.UserGroups</value>
				<value>com.itgrids.partyanalyst.model.UserGroupRelation</value>
				<value>com.itgrids.partyanalyst.model.UserCountryAccessInfo</value>
				<value>com.itgrids.partyanalyst.model.UserStateAccessInfo</value>
				<value>com.itgrids.partyanalyst.model.UserDistrictAccessInfo</value>
				<value>com.itgrids.partyanalyst.model.UserConstituencyAccessInfo</value>
				<value>com.itgrids.partyanalyst.model.SocialCategory</value>
				<value>com.itgrids.partyanalyst.model.EducationalQualifications</value>
				<value>com.itgrids.partyanalyst.model.Occupation</value>
				<value>com.itgrids.partyanalyst.model.Language</value>
				<value>com.itgrids.partyanalyst.model.CadreLanguageEfficiency</value>
				<value>com.itgrids.partyanalyst.model.PartyCadreSkills</value>
				<value>com.itgrids.partyanalyst.model.PartyTrainingCamps</value>
				<value>com.itgrids.partyanalyst.model.CadreParticipatedTrainingCamps</value>
				<value>com.itgrids.partyanalyst.model.CadreSkills</value>							
				<value>com.itgrids.partyanalyst.model.PartyElectionResultWithAlliance</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionStateResultWithAlliance</value>
				<value>com.itgrids.partyanalyst.model.PartyElectionDistrictResultWithAlliance</value>
				<value>com.itgrids.partyanalyst.model.GroupEntitlementRelation</value>		
				<value>com.itgrids.partyanalyst.model.OpinionPoll</value>
				<value>com.itgrids.partyanalyst.model.OpinionPollQuestionOptions</value>
				<value>com.itgrids.partyanalyst.model.OpinionPollQuestions</value>
				<value>com.itgrids.partyanalyst.model.OpinionPollResult</value>
				<value>com.itgrids.partyanalyst.model.BoothLocalBodyWard</value>
				<value>com.itgrids.partyanalyst.model.QuestionsRepository</value>
				<value>com.itgrids.partyanalyst.model.AssemblyLocalElectionBodyWard</value>
				<value>com.itgrids.partyanalyst.model.AssemblyLocalElectionBody</value>	
				<value>com.itgrids.partyanalyst.model.AnanymousUser</value>	
				<value>com.itgrids.partyanalyst.model.ProblemImpactLevel</value>
				<value>com.itgrids.partyanalyst.model.CustomMessage</value>
				<value>com.itgrids.partyanalyst.model.MessageType</value>
				<value>com.itgrids.partyanalyst.model.UserConnectedto</value>
				<value>com.itgrids.partyanalyst.model.StaticLocalGroup</value>
				<value>com.itgrids.partyanalyst.model.StaticUserDesignation</value>
				<value>com.itgrids.partyanalyst.model.LocalGroupRegion</value>
				<value>com.itgrids.partyanalyst.model.LocalElectionBodyWard</value>
				<value>com.itgrids.partyanalyst.model.BoothVillage</value>
				<value>com.itgrids.partyanalyst.model.CadreFamilyMemberInfo</value>
				<value>com.itgrids.partyanalyst.model.UserRelation</value>
				<value>com.itgrids.partyanalyst.model.UserMappingsHistory</value>
				<value>com.itgrids.partyanalyst.model.RegionScopes</value>
				<value>com.itgrids.partyanalyst.model.ProfileOpts</value>
				<value>com.itgrids.partyanalyst.model.UserProfileOpts</value>
				<value>com.itgrids.partyanalyst.model.ModuleDetails</value>
				<value>com.itgrids.partyanalyst.model.ModuleRegionScopes</value>
				<value>com.itgrids.partyanalyst.model.DelimitationBlock</value>
				<value>com.itgrids.partyanalyst.model.Block</value>
				<value>com.itgrids.partyanalyst.model.DelimitationWard</value>
				<value>com.itgrids.partyanalyst.model.DelimitationVillage</value>
				<value>com.itgrids.partyanalyst.model.DelimitationConstituencyTown</value>
				<value>com.itgrids.partyanalyst.model.DelimitationYear</value>
				<value>com.itgrids.partyanalyst.model.CensusYear</value>
				<value>com.itgrids.partyanalyst.model.ApprovalDetails</value>
				<value>com.itgrids.partyanalyst.model.UserApprovalDetails</value>
				<value>com.itgrids.partyanalyst.model.UserProblemApproval</value>
				<value>com.itgrids.partyanalyst.model.ConstituencyCensusDetails</value>
				<value>com.itgrids.partyanalyst.model.ProblemCompleteLocation</value>
				<value>com.itgrids.partyanalyst.model.FeedBack</value>
				<value>com.itgrids.partyanalyst.model.FeedBackTask</value>
				<value>com.itgrids.partyanalyst.model.FeedBackComment</value>
				<value>com.itgrids.partyanalyst.model.CadreProblemDetails</value>
				<value>com.itgrids.partyanalyst.model.CensusParameter</value>
				<value>com.itgrids.partyanalyst.model.StateRegion</value>
				<value>com.itgrids.partyanalyst.model.StateRegionDistrict</value>
				<value>com.itgrids.partyanalyst.model.CadreRole</value>
				<value>com.itgrids.partyanalyst.model.CadreRoleRelation</value>
				<value>com.itgrids.partyanalyst.model.DepartmentOrganisation</value>
				<value>com.itgrids.partyanalyst.model.ProblemActivity</value>
				<value>com.itgrids.partyanalyst.model.HomePageQuestion</value>
				<value>com.itgrids.partyanalyst.model.HomePageQuestionAnswers</value>
				<value>com.itgrids.partyanalyst.model.UserTracking</value>
				<value>com.itgrids.partyanalyst.model.UserConstituencyScope</value>
				<value>com.itgrids.partyanalyst.model.Announcement</value>
				<value>com.itgrids.partyanalyst.model.UserAnnouncement</value>
				<value>com.itgrids.partyanalyst.model.ProblemType</value>
				<value>com.itgrids.partyanalyst.model.RegionScopesProblemType</value>
				<value>com.itgrids.partyanalyst.model.CallTrackingDetail</value>
				<value>com.itgrids.partyanalyst.model.CallTrackingProblem</value>
				<value>com.itgrids.partyanalyst.model.ProblemFile</value>
				<value>com.itgrids.partyanalyst.model.File</value>
				<value>com.itgrids.partyanalyst.model.FileType</value>
				<value>com.itgrids.partyanalyst.model.Gallary</value>
				<value>com.itgrids.partyanalyst.model.FileGallary</value>
				<value>com.itgrids.partyanalyst.model.UserEntitlementGroupRegion</value>
				<value>com.itgrids.partyanalyst.model.UserSubuserRelation</value>
				<value>com.itgrids.partyanalyst.model.UserCandidateRelation</value>
				<value>com.itgrids.partyanalyst.model.ContentType</value>
				<value>com.itgrids.partyanalyst.model.UserGallary</value>
				<value>com.itgrids.partyanalyst.model.CandidateProfileDescription</value>
				<value>com.itgrids.partyanalyst.model.SourceLanguage</value>
				<value>com.itgrids.partyanalyst.model.Source</value>
				<value>com.itgrids.partyanalyst.model.MessageToCandidate</value>
				<value>com.itgrids.partyanalyst.model.CandidateUpdatesEmail</value>
					<value>com.itgrids.partyanalyst.model.PartyProfileDescription</value>
				<value>com.itgrids.partyanalyst.model.PartyProfileDescription</value>
				<value>com.itgrids.partyanalyst.model.PartyGallery</value>
			</list>
		</property>
	</bean>
	
<!-- Transaction services -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
</beans>