table {
	border-collapse: collapse;
}

.inputTable {
	font-size: 12px;
	font-weight: normal;
	color: #888;
}


.inputTable input, select {
	color: #128;
}

.inputTable th {
	/*color: #ccc;*/
	color: #777;
	text-align: right;
	/* font-weight: normal; */
	padding: 6px 10px 6px 0;
}



.inputTable td {
	border-left-width: 1px;
	border-left-color: #aaa;
	border-left-style: solid;
	padding: 3px 6px 3px 10px;	
	text-align: left;
}