<style type="text/css">
		.mainHeading 
		{
			background-image:url("images/icons/electionResultsReport/heading.png");
			border:0 solid #AEE2FF;
			color:#000000;
			font-family:MS Sans-serif;
			font-size:17px;
			font-weight:bold;
			height:25px;
			margin-bottom:15px;
			margin-top:15px;
			padding:10px;
			text-align:center;
		}
		#inputSelectionCriteria,#crossVotingData_Graph_Div,#constituencyMainDetails_Div,#crossVotingDetailsDiv,#overViewHeadingDiv
		{
			padding: 10px;
			color: #707070;
			margin: 10px;
			border: 2px solid #E0E0D6;
			font-family: verdana;
			
		}
		
		#selectLocationOptions
		{
			padding: 10px;
			color: #707070;
			margin: 10px;
			border: 2px solid #E0E0D6;
		}
		.selectWidth
		{
			width:150px;
			font-weight: bold;
			color:#909090;
			margin-left: 5px; 
		}
		CAPTION
		{
			font-weight: bold;
			font-size:12px;
			text-align: center;
			padding: 10px;
			border-bottom: 1px solid #707070;	
			color: #247CD4;		
		}
		
	
		.participatingPartiestable th
		{		
			padding:5px;
			background:url("js/yahoo/yui-js-2.8/build/assets/skins/sam/sprite.png") repeat scroll 0 0 #D8D8DA;
			border:1px solid #ADADAD;
		}

		.participatingPartiestable td
		{			
			padding:5px;
			border:1px solid #ADADAD;
		}
		.detailsTableHeader
		{
			background-image:url("images/icons/electionResultsAnalysisReport/mid.png");
			height:30px;
			text-align:left;
		}

		.detailsTableHeaderSpan
		{
			position:relative;
			top:8px;
			color:#4B74C6;
			font-weight:bold;
		}

		.detailsBodyDiv
		{
			border-bottom:1px solid #D2D6DB;
			border-left:1px solid #D2D6DB;
			border-right:1px solid #D2D6DB;
		}
		
		#votesShareDetailsTable th
		{
			background:url("js/yahoo/yui-js-2.8/build/assets/skins/sam/sprite.png") repeat scroll ;
			border:1px solid #ADADAD;
			padding:5px;
			color:#18325A;
		}

		#votesShareDetailsTable td
		{
			padding:5px;
			border:1px solid #DFDFDF;
			color:#707070;
			font-weight: bold;
		}
		.mandalVotesShareTable th
		{
			background:url("js/yahoo/yui-js-2.8/build/assets/skins/sam/sprite.png") repeat scroll 0 0 #D8D8DA;
			border:1px solid #ADADAD;
			padding:5px;
		}
		.mandalVotesShareTable td
		{
			background-color:  #F0F8FF;
			text-align:center;
			padding:5px;
			
		}