

body
{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	direction:ltr;
	background-color:#EAEDEF;
}

#viewFeatures_main
{
	width:960px;
	background-color:#FFFFFF;
	margin:auto;
	overflow:hidden;
	padding:0px;
}

#featuresFlashDiv_main
{
	background-color:#D19D30;
	height:310px;
	width:695px;
}

.featureHeaderBackground_center
{
	background-image:url(../../images/icons/viewFeatures/topFeatures_header_center.jpg);
	height:40px;
}

.featureHeaderLabelSpan
{
	font-size:12px;
	font-weight:bold;
	left:50px;
	position:relative;
	top:10px;
}

#topFeaturesListDiv_body
{
	background-color:#ECECEC;
	height:385px;
	padding-bottom:10px;
}

#topFeaturesList
{
	margin:0;
}

#topFeaturesList li
{
	font-weight:bold;
	list-style-image:url("../../images/icons/viewFeatures/featuresList_icon.jpg");
	padding:8px;
}

#topFeaturesList li a
{
	text-decoration:none;
	color:#306867;
}

#viewFeaturesWidgets_main
{
	padding:10px;
}

#viewFeatures_head
{
	color:#333333;
	font-size:20px;
	font-weight:bold;
	padding:5px;
}

.viewFeatureHeaderBackground_center
{
	background-image:url(../../images/icons/viewFeatures/viewFeature_header_center.jpg);
	height:40px;
}

.viewFeature_body_content
{	
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	color:#1F2F3C;
	height:100px;
	line-height:16px;
	overflow:hidden;
	padding:8px;
	text-align:justify;
}

.viewFeatureFooterBackground_center
{
	background-image:url(../../images/icons/viewFeatures/viewFeature_footer_center.jpg);
	height:40px;	
}


#viewFeatures_QuickLinks_main
{
	background-color:#323232;
	border-top:2px solid #222222;
	height:150px;
}

.viewFeatures_QuickLinks_head
{
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	padding:10px;
	position:relative;
	left:18px;
}

.quickLinks_list li
{
	padding:6px;
	font-weight:bold;
	list-style-image:url("../../images/icons/viewFeatures/quickLinksList_icon.jpg");
}

.quickLinks_list li a
{
	text-decoration:none;
	color:#767271;
}

.viewFeature_footer_content
{
	text-align:right;
}

.contentPopup_main
{

}

.contentPopup_head
{

}

.contentPopup_body
{
	text-align:justify;
	color:#732AB2;
	font-weight:bold;
	font-size:12px;
}