<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<import resource="conf/spring/actions.xml" />
	<import resource="conf/spring/services.xml" />
	<import resource="conf/spring/persistence.xml" />
	<import resource="conf/spring/daos.xml" />
</beans>
	






