table.CandidateElectionResultsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.CandidateElectionResultsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #94A9C8;
}
table.CandidateElectionResultsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/*#candidateDetailsTable
{
	float: left;
	margin-left: 70px;
}*/

#candidateDetailsTable th
{
	padding:8px;
	color:#8A9194;
}

#candidateDetailsTable td
{
	padding:8px;
	color:#3A4750;
}

#moreDetailsAnc
{
	text-decoration:none;
	color:#64941D;
}


/* ---- New Candidate Page Styles ----------

#contenttable 
{
	padding-bottom:0px;
	padding-top:0px;
	background-color: aliceBlue;
}*/
#CandidatePageMainDiv
{
	background-color:#EFF1F3;
}

#candidateImgFlash
{
	height:200px;
	background-color:#FFFFFF;
}

#candidatePageLeftContentDiv,#candidatePageCenterContentDiv
{
	background-color:#FFFFFF;
}

/*#candidatePageLeftContentDiv
{
	background-image:url("../../images/icons/candidatePage/left_links_bg.jpg");
}
*/
#candidatePageBottomContentDiv {
	height:219px;
	
}
#candidatePageContent_header
{
	
}

.candidatePageHeader_center
{
	background-image:url("../../images/icons/districtPage/header_body.png");
	color:#4B74C6;
	font-weight:bold;
	height:16px;
	padding:10px;
	text-align:left;
}

.bottomContentDiv
{
	background-color:#FFFFFF;
	width:315px;
	height:218px;
}

.leftLinksClass
{
	color:#4B74C6;
	margin-bottom:10px;
	padding:10px;
	text-align:left;
	font-weight:bold;
	margin-right:20px;
	border-bottom:1px solid #D7E2EB;
}

.leftLinkSpanClass
{
	cursor:pointer;
	padding-left: 5px;
}

.innerlistDiv
{
	padding:2px;
	margin-left:10px;
}

.leftLinksClass_body
{
	height:0px;
	overflow:hidden;
}

#candidatePageLeftContentDiv_leftNavLinks
{
	background-image:url("../../images/icons/candidatePage/left_links_bg.jpg");
	border:1px solid #E0E0D6;
	height:285px;
	margin-top:5px;
	padding-left:50px;
	padding-top:50px;
}

#candidatePageLeftContentDiv_Image
{
	height: 304px;
    margin-left: 15px;
    margin-top: -12px;
}

#candidatePageContent_body
{
	color:#6C7076;
	line-height:18px;
	padding:12px;
	text-align:justify;
	word-spacing:2px;
	height:585px;
	border-bottom:1px solid #E0E0D6;
	border-left:1px solid #E0E0D6;
	border-right:1px solid #E0E0D6;
}

.bottomContentDiv_content
{
	border-bottom:1px solid #E0E0D6;
	border-left:1px solid #E0E0D6;
	border-right:1px solid #E0E0D6;
	color:#6C7076;
	height:161px;
	line-height:18px;
	overflow:auto;
	padding:10px;
	text-align:justify;
	word-spacing:2px;
}

.bottomContentDiv_links
{
	padding-left:210px;	
}

.bottomContentDiv_msg
{
	height:110px;
}

.bottomContentDiv_links_view
{
	color:#4B74C6;
	font-weight:bold;
	cursor:pointer;
}

#candidatePoliticalCareer
{
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}

#candidatePoliticalCareer_body
{	
	color:#6C7076;
	height:240px;
	overflow:auto;
	padding-left:10px;
	text-align:left;
}

.electionPrfDiv
{
	padding:5px;
	cursor:pointer;
	/*word-spacing:0.6em;*/
}

#candidateImage
{
	border:1px double #E0E0D6;
	padding:2px;
}

.centerContentHeader
{
	color:#4B74C6;
	font-weight:bold;
	padding:5px;
	text-decoration:underline;
}

.imagesULElmt
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.imagesCarouselDiv
{
	border:1px solid #adadad;
}
.imagesCarouselDiv .yui-carousel-nav
{
	text-align:left;
}

.imagesCarouselDiv .yui-carousel-element li
{
	height:100px;
	width:100px;
}

.imagesCarouselDiv .yui-carousel-item-selected  
{
	border:1px solid #CCCCCC;
}
.carouselTitleSpan
{
	color:#4B74C6;
	font-weight:bold;
	padding-left:10px;
	position:relative;
	top:5px;
}

#cand_image_div_panel_mask
{
	background-color:#3C404A;
	opacity:0.8;
	filter:alpha(opacity=80);
}

.imgPanelCloseDiv
{
	color:#3C404A;	
	font-weight:bold;
	margin-bottom:20px;
	padding:5px;
	text-align:right;
}

/*--------*/
.leftAlignText
{
	text-align:left;	
}

#candidatePageContent_electionPrf
{
	text-align:left;
	margin-left:10px
}
#candidatePageContent_electionPrf_head,#candidatePageContent_electionPrf_body
{
	padding:5px;

}
#candidatePageContent_electionPrf_head
{
	color:#315476;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}
.candidateElectionInfoClass
{
	background:transparent url(../../images/YUI-images/yui-images-2.8/sprite.png) repeat-x scroll 0 -200px;
	border:1px solid #CFD9DE;
	color:#63516B;
	cursor:pointer;
	margin-top:5px;
	padding:5px;
	width:80%;
}

#candidateTopLinksMain
{
	float:right;	
	display:inline;
	margin:11px 10px 0px 0px;
	clear:both;
	/*padding:8px;*/
}

.topNavLinksClass .yui-skin-sam .yuimenubarnav .yuimenubaritem 
{
	border-right:1px solid #CCCCCC;	
}
.topNavLinksClass .yui-skin-sam .yuimenubarnav .yuimenubaritemlabel 
{
	padding-right:15px;
	margin-left:2px;
	margin-right:2px;
	cursor:pointer;
}
div#candidateTopLinksMain a:hover
{	
	text-decoration:none;
	background-color:#DCE6EC;
}
.yui-skin-sam .yui-panel .hd 
{
	text-align:left;
}
.yui-skin-sam .yui-panel .bd
{
	background-color:#FFFFFF;
}

fieldset
{
	border:1.7px solid #D1D1D1;
	margin-bottom:10px;
}

legend
{
	background-color:#567AAF;
	color:#FFFFFF;
	font-size:12px;
	padding:5px;
}

.elecInfoTableClass th
{
	color:#8A9194;
	padding:5px;
	text-align:left;
}
.elecInfoTableClass td
{
	color:#3A4750;
	padding:5px;
	text-align:left;
}

#oppCandResultsDiv table
{
	width:100%;
}

#candidatePageContent_body_basicPrf
{
	overflow:auto;
	height:200px;
}

#candidatePageContent_body_basicPrf_head,#candidatePageContent_body_electionPrf_head,#photoTitleDivHead
{
	margin-bottom:10px;
	color:#315476;
	font-size:17px;
	font-weight:bold;
	text-decoration:underline;	
}
#candidatePageContent_body_basicPrf_body,#candidatePageContent_body_electionPrf_body,#photoTitleDivBody
{
	color:#656C73;
	margin-bottom:10px;
	padding-left:10px;
}

.candidateStaticContentDiv
{
	display:none;
	overflow:hidden;
	height:252px;
}

.highlightmenu
{
	background-color:#447EA5;
	color:#FFFFFF;
}
.unHighlightmenu
{
	background-color:#FFFFFF;
	color:#000000;
}


.imgSpan
{
	cursor:pointer;
}
/*#photo_gallery_div li
{
	float:left;
	list-style-type:none;
	margin-right:5px;
}*/

.candDetailsStyle {
    color: #4B74C6;
    font-weight: bold;
    padding-left: 12px;
}
.playerInnerBox_gsvb .player_gsvb {
height:245px;
width:401px;
}
#candidatePageContent_body_videosMain{
	height:301px;
	overflow:auto;
}
#candidateProfileInfo {
  /* -moz-border-radius: 6px 6px 6px 6px;
    background-color: #56A5EC;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    margin: 0px;
    padding-top: 6px;
    text-align: left;
    width:90%;*/
}
 #candidateName{
    color: brown;
    font-family: arial,times New Roman;
    font-size: 13px;
    font-weight: bold;
 }
#newsAndEventsDiv{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
    padding: 4px;
    text-align: left;
}

.box1 {
	-moz-border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    height: 1486px;
    margin-left: 12px;
    padding: 10px;
    width: 189px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}


.box2 {
	background-color: #FFFFFF;
	border:1px solid #e7e7e7;
	height: 1486px;
    width: 444px;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}

.box3 {
	background-color: #FFFFFF;
	border:1px solid #e7e7e7;
	height: 1486px;
    width: 227px;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}

.rel {
	margin:0px;
	padding:0px;
	position: relative;
	z-index: inherit;
	zoom: 1; /* For IE6 */
}
.linkClass
{
    margin-left: 2px;
	margin-bottom:10px;
	padding:10px;
	text-align:left;
	font-weight:bold;
	margin-right:20px;
	border-bottom:1px solid #D7E2EB;
}

/* NEW STYLES START */


.orange{color:#ff3b05;}
.blue{color:#2a4f97;}
.gray{color:#979797;}
.c-red{color:#900a0a;}
.li-red{color:#ed5b21;}
.da-gray{color:#313131;}
.li-green{color:#5cb275;}

.tc-tf{text-transform:uppercase;}
.pa-fi{padding-top:5px;}
.clear{clear:both; margin:0px; padding:0px; line-height:0px; height:0px; font-size:0px; _display/**/:/**/ inline;}
.ppc-title{float:left; margin-top:-22px;padding:0px 0px 0px 300px; color:#171717;}
.main-title-sec{background:url(../../images/icons/candidatePage/blue-crv-bgs.png) left top no-repeat; float:left; padding-left:6px; height:35px; margin:9px 0px;}
.main-mbg{background-color:#06abea; float:left;width: 974px;height:35px; text-transform:uppercase; color:#fff; padding-left:13px;
font:bold 14px/35px "Trebuchet MS", Arial, Helvetica, sans-serif;text-align: left;}
.main-bbg{background:url(../../images/icons/candidatePage/blue-crv-bgs.png) left -40px no-repeat; float:left; width:6px; height:35px;}

.profile-left-sec{width:206px; float:left; background:url(../../images/icons/candidatePage/content-crv-bgs.png) left top no-repeat; padding-top:5px; 
margin-right:7px;}
.pl-cont-sec{background: none repeat scroll 0 0 #FFFFFF;width:182px; float:left; border:1px solid #e7e7e7; border-top:none; padding:7px 11px 12px; /*min-height:1469px;*/}
.ptd-sec{width:182px; float:left; text-align:center; font-size:13px; color:#040404; padding-bottom:21px;}
.ptd-sec img{float:left; margin-bottom:12px;}
.ptd-rating{float:left; width:182px; padding-bottom:28px;}
.rating-green{font-size:13px; color:#0d6b1a; width:91px; float:left; text-align:right; line-height:36px;}
.rating-green img{float:right; margin-left:5px;}
.rating-red{float:right; width:85px; color:#ff1e00; text-align:left; font-size:13px; line-height:36px;}
.rating-red img{float:left; margin:12px 5px 0px 0px;}

.pl-sub-fields{width:176px; float:left; font-size:13px; padding:0px 0px 29px 6px;}
.pl-sub-fields li{background:url(../../images/icons/diamond.png) left 12px no-repeat; float:left; width:167px; padding-left:14px; line-height:18px;}
.pl-sub-fields li a{color:#2d2d2d; padding:7px 0px; display:block;}
.pl-sub-fields span{border-bottom:1px solid #d1d1d1; width:152px; float:left; height:0px; line-height:0px; margin:0px; padding:0px;}

.ea-fc-sec{width:182px; float:left; padding-bottom:27px;}
.ea-fc-title{background-color:#21b2ed; color:#fff; text-transform:uppercase; font:bold 14px/30px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding-left:9px; position:relative;}
.blue-down-arrow{position:absolute; left:29px; bottom:-6px;}
.ea-fc-cont-sec{width:172px; float:left; border:1px solid #d1d1d1; border-top:none; padding:17px 0px 2px 8px; text-align:center; 
line-height:16px;} 
.ea-text-fields{border:1px solid #d1d1d1; float:left; width:156px; height:21px; font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding:0px 3px; margin-top:11px; color:#000000;}
.pl-sub-but a{background:url(../../images/icons/candidatePage/menu-bg.png) left -60px no-repeat; float:right; padding-left:5px; height:22px; font-size:12px; 
color:#fff; line-height:22px; margin:7px 0px 9px;}
.pl-sub-but a strong{background:url(../../images/icons/candidatePage/menu-bg.png) right -87px no-repeat; float:left; height:22px; padding:0px 10px 0px 5px; 
font:bold 13px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;}

.ea-fc-cont-sec .pl-sub-but{padding-right:57px;}
.ea-fc-cont-sec .fan-club-fields{float:left; width:172px; padding-bottom:9px;}
.ea-fc-cont-sec .fan-club-fields li{float:left; padding-right:7px;}

.profile-mid-sec{width:453px; float:left; background:url(../../images/icons/candidatePage/content-crv-bgs.png) -211px top no-repeat; padding-top:5px;}
.pm-cont-sec{width:427px; float:left; border:1px solid #e7e7e7; border-top:none; padding:9px 12px; /*min-height:1470px;*/background:#ffffff}
.pm-inner-cont-sec{float:left; margin:9px 9px 11px; width:403px; border-bottom:1px solid #d9d9d9; padding:0px 3px 12px;}
.inc-title{font:19px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#2d2d2d; padding-bottom:9px;}
.read-more a{color:#06abea; float:right;}
.win-title, .loss-title{background:#109b23 url(../../images/icons/candidatePage/gr-arrows.gif) right top no-repeat; float:left; height:22px; font-size:12px; 
font-weight:bold; color:#fff; padding:0px 21px 0px 12px; line-height:22px; margin:3px 0px 13px;}
.loss-title{background-position:right -27px; background-color:#ff1e00;}
.wl-sub-details li{font-size: 13px;width:402px; float:left; background:url(../../images/icons/candidatePage/red-circle.png) left 6px no-repeat; padding-left:13px; color:#313131; padding-bottom:15px;}
.wl-sub-details li strong{font-size:13px;}
.photo-gallery-fields{width:427px; float:left; padding-bottom:13px;}
.photo-gallery-fields li{float:left; padding:5px 10px 0px 3px;cursor: pointer;}
.more a{background-color:#5cb275; color:#fff; font-size:11px; line-height:18px; height:18px; padding:0px 13px; float:right; margin-right:9px;}

.profile-right-sec{width:326px; float:right; background:url(../../images/icons/candidatePage/content-crv-bgs.png) -683px top no-repeat; padding-top:5px;}
.pr-cont-sec{background: none repeat scroll 0 0 #FFFFFF;width:296px; float:left; border:1px solid #e7e7e7; border-top:none; padding:9px 14px;}
.pr-sub-fields-sec{width:296px; float:left; padding-bottom:12px; border-bottom:1px solid #D9D9D9; margin-bottom:12px;}
.pr-title{background-color:#ed5b21; color:#fff; height:24px; position:relative; text-transform:uppercase; float:left;
font:bold 14px/24px "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:13px; padding:0px 15px;}
.or-down-arrow{position:absolute; left:25px; bottom:-6px;}
.news-events-fields li{width:296px; float:left; border-bottom:1px solid #d9d9d9; font-size:11px; color:#2d2d2d; padding-bottom:11px; 
margin-bottom:11px;}
.year-time{float:left; width:296px; padding-bottom:3px;}
.news-events-fields li strong{font-size:13px; display:block; padding-bottom:3px;}
.pr-sub-fields-sec .more a{margin-right:0px;}
.video-thumb-sec li{float:left; width: 72px; text-align:center; padding:12px 26px 7px 0px;}
.video-thumb-sec li img{float:left; margin-bottom:3px;}
.video-thumb-sec li a{color:#525252;}

.cbn-fields-sec li{width:296px; float:left; padding-bottom:9px;}
.cbn-fields-sec label{width:69px; float:left; text-align:right; padding-right:5px;}
.text-fields-sec{width:222px; float:left;}
.text-fields-sec .text-fields{width:175px; height:21px; float:left; font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif; 
color:#9d9c9c; background-color:#eaeaea; border:1px solid #eaeaea; padding:0px 3px;}
.text-fields-sec textarea{width:178px; float:left; height:73px; font:12px/18px "Trebuchet MS", Arial, Helvetica, sans-serif; 
padding-left:3px; background-color:#eaeaea; border:1px solid #eaeaea;}
.send-but{background:url(../../images/icons/candidatePage/sprites.png) -312px -65px no-repeat; float:left; width:67px; height:22px; cursor:pointer; border:none;
margin-left:75px;}
.leader-thumbs li{width:118px; color:#313131; text-align:center; padding:0px 9px 5px 5px;}
.leader-thumbs li img{float:left; padding-bottom:3px;}
.leader-thumbs li a{color:#313131;}
.sm-text-fields
{
	font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color:#1a1a1a; 
	height:19px; 
	background-color:#EBE8E8; 
	border:1px solid #ffffff; 
	padding:0px 10px; 
	width:171px; 
	color:#000;
    padding-top:5px;
}

/* NEW STYLES END */