table.CandidateElectionResultsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.CandidateElectionResultsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #94A9C8;
}
table.CandidateElectionResultsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/*#candidateDetailsTable
{
	float: left;
	margin-left: 70px;
}*/

#candidateDetailsTable th
{
	padding:8px;
	color:#8A9194;
}

#candidateDetailsTable td
{
	padding:8px;
	color:#3A4750;
}

#moreDetailsAnc
{
	text-decoration:none;
	color:#64941D;
}


/* ---- New Candidate Page Styles ----------*/

#contenttable 
{
	padding-bottom:0px;
	padding-top:0px;
	background-color: aliceBlue;
}
#CandidatePageMainDiv
{
	background-color:#EFF1F3;
}

#candidateImgFlash
{
	height:200px;
	background-color:#FFFFFF;
}

#candidatePageLeftContentDiv,#candidatePageCenterContentDiv
{
	background-color:#FFFFFF;
}

/*#candidatePageLeftContentDiv
{
	background-image:url("../../images/icons/candidatePage/left_links_bg.jpg");
}
*/
#candidatePageBottomContentDiv {
	height:219px;
	
}
#candidatePageContent_header
{
	
}

.candidatePageHeader_center
{
	background-image:url("../../images/icons/districtPage/header_body.png");
	color:#4B74C6;
	font-weight:bold;
	height:16px;
	padding:10px;
	text-align:left;
}

.bottomContentDiv
{
	background-color:#FFFFFF;
	width:315px;
	height:218px;
}

.leftLinksClass
{
	color:#4B74C6;
	margin-bottom:10px;
	padding:10px;
	text-align:left;
	font-weight:bold;
	margin-right:20px;
	border-bottom:1px solid #D7E2EB;
}

.leftLinkSpanClass
{
	cursor:pointer;
	padding-left: 5px;
}

.innerlistDiv
{
	padding:2px;
	margin-left:10px;
}

.leftLinksClass_body
{
	height:0px;
	overflow:hidden;
}

#candidatePageLeftContentDiv_leftNavLinks
{
	background-image:url("../../images/icons/candidatePage/left_links_bg.jpg");
	border:1px solid #E0E0D6;
	height:285px;
	margin-top:5px;
	padding-left:50px;
	padding-top:50px;
}

#candidatePageLeftContentDiv_Image
{
	height: 304px;
    margin-left: 15px;
    margin-top: -12px;
}

#candidatePageContent_body
{
	color:#6C7076;
	line-height:18px;
	padding:12px;
	text-align:justify;
	word-spacing:2px;
	height:585px;
	border-bottom:1px solid #E0E0D6;
	border-left:1px solid #E0E0D6;
	border-right:1px solid #E0E0D6;
}

.bottomContentDiv_content
{
	border-bottom:1px solid #E0E0D6;
	border-left:1px solid #E0E0D6;
	border-right:1px solid #E0E0D6;
	color:#6C7076;
	height:161px;
	line-height:18px;
	overflow:auto;
	padding:10px;
	text-align:justify;
	word-spacing:2px;
}

.bottomContentDiv_links
{
	padding-left:210px;	
}

.bottomContentDiv_msg
{
	height:110px;
}

.bottomContentDiv_links_view
{
	color:#4B74C6;
	font-weight:bold;
	cursor:pointer;
}

#candidatePoliticalCareer
{
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}

#candidatePoliticalCareer_body
{	
	color:#6C7076;
	height:240px;
	overflow:auto;
	padding-left:10px;
	text-align:left;
}

.electionPrfDiv
{
	padding:5px;
	cursor:pointer;
	/*word-spacing:0.6em;*/
}

#candidateImage
{
	border:1px double #E0E0D6;
	padding:2px;
}

.centerContentHeader
{
	color:#4B74C6;
	font-weight:bold;
	padding:5px;
	text-decoration:underline;
}

.imagesULElmt
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.imagesCarouselDiv
{
	border:1px solid #adadad;
}
.imagesCarouselDiv .yui-carousel-nav
{
	text-align:left;
}

.imagesCarouselDiv .yui-carousel-element li
{
	height:100px;
	width:100px;
}

.imagesCarouselDiv .yui-carousel-item-selected  
{
	border:1px solid #CCCCCC;
}
.carouselTitleSpan
{
	color:#4B74C6;
	font-weight:bold;
	padding-left:10px;
	position:relative;
	top:5px;
}

#cand_image_div_panel_mask
{
	background-color:#3C404A;
	opacity:0.8;
	filter:alpha(opacity=80);
}

.imgPanelCloseDiv
{
	color:#3C404A;	
	font-weight:bold;
	margin-bottom:20px;
	padding:5px;
	text-align:right;
}

/*--------*/
.leftAlignText
{
	text-align:left;	
}

#candidatePageContent_electionPrf
{
	text-align:left;
	margin-left:10px
}
#candidatePageContent_electionPrf_head,#candidatePageContent_electionPrf_body
{
	padding:5px;

}
#candidatePageContent_electionPrf_head
{
	color:#315476;
	font-size:16px;
	font-weight:bold;
	text-decoration:underline;
}
.candidateElectionInfoClass
{
	background:transparent url(../../images/YUI-images/yui-images-2.8/sprite.png) repeat-x scroll 0 -200px;
	border:1px solid #CFD9DE;
	color:#63516B;
	cursor:pointer;
	margin-top:5px;
	padding:5px;
	width:80%;
}

#candidateTopLinksMain
{
	float:right;	
	display:inline;
	margin:11px 10px 0px 0px;
	clear:both;
	/*padding:8px;*/
}

.topNavLinksClass .yui-skin-sam .yuimenubarnav .yuimenubaritem 
{
	border-right:1px solid #CCCCCC;	
}
.topNavLinksClass .yui-skin-sam .yuimenubarnav .yuimenubaritemlabel 
{
	padding-right:15px;
	margin-left:2px;
	margin-right:2px;
	cursor:pointer;
}
div#candidateTopLinksMain a:hover
{	
	text-decoration:none;
	background-color:#DCE6EC;
}
.yui-skin-sam .yui-panel .hd 
{
	text-align:left;
}
.yui-skin-sam .yui-panel .bd
{
	background-color:#FFFFFF;
}

fieldset
{
	border:4px solid #CFD6DF;
	margin-bottom:10px;
}

legend
{
	background-color:#567AAF;
	color:#FFFFFF;
	font-size:12px;
	padding:5px;
}

.elecInfoTableClass th
{
	color:#8A9194;
	padding:5px;
	text-align:left;
}
.elecInfoTableClass td
{
	color:#3A4750;
	padding:5px;
	text-align:left;
}

#oppCandResultsDiv table
{
	width:100%;
}

#candidatePageContent_body_basicPrf
{
	overflow:auto;
	height:200px;
}

#candidatePageContent_body_basicPrf_head,#candidatePageContent_body_electionPrf_head,#photoTitleDivHead
{
	margin-bottom:10px;
	color:#315476;
	font-size:17px;
	font-weight:bold;
	text-decoration:underline;	
}
#candidatePageContent_body_basicPrf_body,#candidatePageContent_body_electionPrf_body,#photoTitleDivBody
{
	color:#656C73;
	margin-bottom:10px;
	padding-left:10px;
}

.candidateStaticContentDiv
{
	display:none;
	overflow:hidden;
	height:252px;
}

.highlightmenu
{
	background-color:#447EA5;
	color:#FFFFFF;
}
.unHighlightmenu
{
	background-color:#FFFFFF;
	color:#000000;
}


.imgSpan
{
	cursor:pointer;
}
/*#photo_gallery_div li
{
	float:left;
	list-style-type:none;
	margin-right:5px;
}*/

.candDetailsStyle {
    color: #4B74C6;
    font-weight: bold;
    padding-left: 12px;
}
.playerInnerBox_gsvb .player_gsvb {
height:245px;
width:401px;
}
#candidatePageContent_body_videosMain{
	height:301px;
	overflow:auto;
}
#candidateProfileInfo {
   -moz-border-radius: 6px 6px 6px 6px;
    background-color: #56A5EC;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    margin: 15px;
    padding-top: 6px;
    text-align: left;
}
 #candidateName{
    color: brown;
    font-family: arial,times New Roman;
    font-size: 13px;
    font-weight: bold;
 }
#newsAndEventsDiv{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-left: 12px;
    padding: 4px;
    text-align: left;
}

.box1 {
	-moz-border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    height: 1486px;
    margin-left: 12px;
    padding: 10px;
    width: 189px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}


.box2 {
	background-color: #FFFFFF;
	border:1px solid #e7e7e7;
	height: 1486px;
    width: 444px;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}

.box3 {
	background-color: #FFFFFF;
	border:1px solid #e7e7e7;
	height: 1486px;
    width: 227px;
	padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	behavior: url(border-radius.htc);
}

.rel {
	margin:0px;
	padding:0px;
	position: relative;
	z-index: inherit;
	zoom: 1; /* For IE6 */
}
.linkClass
{
    margin-left: 2px;
	margin-bottom:10px;
	padding:10px;
	text-align:left;
	font-weight:bold;
	margin-right:20px;
	border-bottom:1px solid #D7E2EB;
}