<?xml version="1.0" encoding="UTF-8"?>
    <Configuration status="debug">
<Appenders>
<Console name="CONSOLE" target="SYSTEM_OUT">
<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
</Console>
<File name="fileGeneral" fileName="/home/dakavara/tomcat/logs/eliteClub.log">
<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
</File>
<!-- <Async name="ASYNC">
<AppenderRef ref="fileGeneral"/>
<AppenderRef ref="CONSOLE"/>
</Async> -->
</Appenders>
  
<Loggers>
		<Logger name="org.springframework" level="debug">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="fileGeneral"/>
		 </Logger>
		 <Logger name="org.springframework.orm.hibernate4.support" level="debug">
			<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="fileGeneral"/>
		 </Logger>
		 
		 <Logger name="com.itgrids" level="debug">
		 	<AppenderRef ref="CONSOLE"/>
			<AppenderRef ref="fileGeneral"/> 
		 </Logger>
		 
		<!--  <Logger name="org.hibernate"   level="warn" >
		</Logger>
	 -->
		<Root level="debug">
		<AppenderRef ref="CONSOLE" level="debug"/>
		<AppenderRef ref="fileGeneral" level="error" /> 		
		</Root>
</Loggers>
</Configuration>


<!--  i have to improve above configuration a lot but no time to that may be i will configure this later anil kumar ravula -->


<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >

<log4j:configuration>
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="1024KB" />
		<param name="maxBackupIndex" value="10" />
		<param name="File" value="${catalina.home}/logs/survey.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n" />
		</layout>
	</appender>


	<category name="com.itgrids">
		<priority value="DEBUG" />
	</category>

	<category name="org.hibernate">
		<priority value="WARN" />
	</category>

	<root>
		<priority value="WARN"></priority>
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration> -->



