

#menu {
	position: absolute;
	right: 0;
	top: 0;
	min-height: 100%;
}

#pushobj {
	position: absolute;
	top: 7px;
	right: 300px;
	color: #000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	z-index: 1;
}
@media (min-width: 100px) and (max-width:800px)
{
	.birthdaysIcon
	{
		margin-left:0px !important;
		width: 25px !important; 
		height: 25px !important;
	}
}
.birthdaysIcon
{
	width: 30px; height: 25px; margin-top: 10px;margin-left:10px;
}