@CHARSET "ISO-8859-1";
.mainHeading {
	background-image:url(../../images/icons/electionResultsAnalysisReport/mid.png);
	border:0px solid #AEE2FF;
	color:#000000;
	font-family:MS Sans-serif;
	font-size:17px;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
	padding:5px;			
	height:20px;
	text-align:center;
}
.basicDetailsTable
{
	border: none;
	color: #006221;	
}
.basicDetailsTable th
{
	text-align:left;
	color: #006221;
}
.basicDetailsDiv
{
	margin-bottom:10px;
	width:900px;
}
.basicDetailsHeadingDiv
{
	background-image:url(../../images/icons/electionResultsReport/overview_Image.png);
	color:#FFFFFF;
	font-family:MS Sans-serif;
	font-size:15px;
	font-weight:bold;
	height:26px;
	margin-bottom:10px;
	padding-top:4px;
	text-align:center;
	width:150px;
}
.graphTop
{
	background-image:url(../../images/icons/electionResultsReport/top_image.png);
	color:#FFFFFF;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	height:30px;
	width:900px;	
}
#statewiseGraph
{
	background:#EFF3F7 none repeat scroll 0 0;	
	border-left:1px solid #102D66;
	border-right:1px solid #102D66;	
	width:898px;		
}
.graphBottom
{
	background-image:url(../../images/icons/electionResultsReport/bottom_image.png);
	height:15px;	
	width:900px;
	border-bottom:0px none none;
	margin-bottom:10px;	
}
#distwiseGraph
{
	background:#EFF3F7 none repeat scroll 0 0;	
	border-left:1px solid #102D66;
	border-right:1px solid #102D66;
	color:#606060;	
	padding-top:5px;
	text-align:left;
	width:898px;

}
#toolsDiv
{
	border-left:1px solid #102D66;
	border-right:1px solid #102D66;
	height:250px;
	width:898px;
	
}
.toolsTable
{
	border-collapse:collapse;
	cell-spacing:0;
	cell-padding:0;	
}
.td
{
	valign:top;
}
.toolsDisplay
{
	background:#EBE4F2 none repeat scroll 0 0;
	border-color:#B7D3FC;
	border-style:solid;
	border-width:1px 1px 1px 10px;
	color:#006221;
	font-family:Ms sans-serif;
	height:250px;
	padding:5px;
	width:200px;
}	
h3{
	border-bottom:1px dotted #006221;
	font-family:Trebuchet MS;
	font-size:15px;
	margin-top:0;
}
.link {
color:#247CD4;
font-size:15px;
font-weight:bold;
text-decoration:none;
}
.p
{
	font-family:Trebuchet MS;
	font-size:15px;	
	text-align:left;
}

.viewChartsForResults {
	background-image:url(../../images/icons/electionResultsReport/table_head.png);
	border-left:1px solid #9999CC;
	border-right:1px solid #9999CC;
	color:DimGray;
	font-family:Verdana;
	font-size:12px;
	font-weight:lighter;
	margin-left:10px;
	padding:5px;
	text-decoration:none;
}

#withoutAllianceDiv_Datatable table
{
	width:100%;
}
#districtWiseWithoutAllianceDiv_Datatable table
{
	width:100%;
}

#electionPageAjaxImgDiv
{
	border:1px solid #ADADAD;
	font-size:12px;
	font-weight:bold;
	width:300px;
	margin-bottom:10px;
}
.alliancePcColor
{
	color:red;
}
#note
{
	text-align:left;
	font-family:verdana;
	font-size:13px;	
	color:#606060;
}
#distResultsViewOptionsDiv
{
	margin-left:150px;
	margin-right:150px;	
	padding:5px;
	border:1px solid #B7D3FC;
	width:600px;
	background:#EBE4F2;
		
}
.selectBoxStyle
{
	color:#808080;	
	width:150px;		 
}
#graphImage .yui-carousel-item-selected {
border:0px none;
margin:1px;
}
#graphImage .yui-carousel-element li
{
	height:200px;
}
.viewChartsForResults1
{
	padding:5px;
	text-decoration:none;
	background-image:url(../../images/icons/electionResultsReport/linkBtn1.png);
	color:#FFFFFF;
	border-left:1px solid #333333;
	border-right:1px solid #333333;	
	font-size:12px;
	font-weight: bold;
}

#stateRegionsDiv
{
    font-family: verdana;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: right;
}




