
body{background: #F4D330 url("../images/cadreCommitee/background_fixed.jpg"); background-size: cover;}
.m_top20{margin-top:20px;}
.m_top0{margin-top:0px;}
.m_top10{margin-top:10px;}
.slick_widget{background:rgba(0,0,0,0.1); height:50px; width:auto; border-radius:4px; padding:0px 8px;margin-left:5px;}

.arrow_selected {
	position: relative;
	background: #13a751;
	border: 4px solid #13a751;
	border-radius:3px;
}
.arrow_selected:after, .arrow_selected:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_selected:after {
	border-color: rgba(19, 167, 81, 0);
	border-top-color: #13a751;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_selected:before {
	border-color: rgba(19, 167, 81, 0);
	border-top-color: #13a751;
	border-width: 16px;
	margin-left: -16px;
}

.pad
{
	padding-top:5px;
	padding-left:12px;
	padding-right:10px;
	padding-bottom:5px;
	border-radius:4px;
}

input[type=checkbox]
{
background: ur;(./Green_radio_unselected.png);
}

.table-condensed 
{
	border:2px solid rgba(255,255,255,0.4);
}

widget
{
	border:4px solid #090;
}

td
{
	  border-left:1px solid rgba(255,255,255,0.4);
	  -moz-border-left:1px solid rgba(255,255,255,0.4);
}
th
{
	  border-left:1px solid rgba(255,255,255,0.4);
	  -moz-border-left:1px solid rgba(255,255,255,0.4);
}

.pad1
{
	padding-top:20px;
	padding-left:15px;
	padding-right:10px;
	padding-bottom:20px;
}


*
{
	overflow-y:visible;
}
	
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus, .nav>li>a:hover, .nav>li>a:focus
{
	background-color:transparent;
}



.sub-menu {
	padding-right:15px;
	padding-left:0;
	border-left:0
	position: absolute;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
	height:130px;
	overflow-y: scroll;
}
.sub
{
	postion:absolute;
	margin-right:100%;
	margin-top:-20%;
	padding-left:0;
	border-left:0
}

.table-bordered > thead > tr > th,
	.table-bordered > tbody > tr > th,
	.table-bordered > tfoot > tr > th,
	.table-bordered > thead > tr > td,
	.table-bordered > tbody > tr > td,
	.table-bordered > tfoot > tr > td {	border: 1px solid #C2A932;}
	
.table-yellow-bordered > thead > tr > th,
	.table-yellow-bordered > tbody > tr > th,
	.table-yellow-bordered > tfoot > tr > th,
	.table-yellow-bordered > thead > tr > td,
	.table-yellow-bordered > tbody > tr > td,
	.table-yellow-bordered > tfoot > tr > td {	border: 1px solid #ebd621;}
	
	
.row-table
{
	border-color:transparent !important;
	border-left:0px !important;
	border-spacing:0px;
	margin-bottom:0px;
}

.dropdown-menu-border
{
	border:4px solid #CCC;
	margin-left:-363px !important;
	font-size:11px !important;
	min-width:350px !important;
	position: absolute;
	z-index:999;
	margin-top:-15px !important;	
	
}
.dropdown-menu-border:after, .dropdown-menu-border:before {
	left: 100%;
	top: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	
}

.dropdown-menu-border:after {
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #CCC;
	border-width: 10px;
	margin-top: -10px;
}
.dropdown-menu-border:before {
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #CCC;
	border-width: 16px;
	margin-top: -16px;
}

.arrow_box {
	position: absolute;
	background: #ffffff;
	margin-left:-90px;
	margin-top:10px ;
	font-size:11px !important;
	min-width:300px !important;
	cursor: pointer;
}

.arrow_box:after {
	bottom: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.nav>li>a
{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;
	padding-left:0px !important
}

.navbar-nav>li>a
{
	line-height:20px;
	color:#000;
	cursor: pointer;
	text-decoration:underline;
}

.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow
{
	border-top:0px !important;
	border-right:0px !important;
	border-bottom:0px !important;
}

.m_bottom0
{
	margin-bottom:0px !important;
}

.jqstooltip {
  width: auto !important;
  height: auto !important;
}

.panel-heading
{
	font-weight:900 !important;
}