
body
{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	direction:ltr;
	background-color:#EAEDEF;
}

#mainContainer
{
	width:960px;
	background-color:#FFFFFF;
	margin:auto;
	overflow:hidden;
	padding:0px;
}

.pageContentDivs
{
	background-color:#FFFFFF;
	/*margin-top:10px;*/
}

#navMenu_main
{
	height:300px;
	margin-top:0px;
	background-image:url(../../images/icons/homePage/header_main.jpg);
}

.contentSeperatorDiv
{
	border-color:#EDEDED;
	border-style:solid;
	border-width:1px;
	margin:0px 20px 0px 20px;
}

#navMenu_links
{
	height:40px;
}

#analyzeButtonBar_main
{
	height:50px;
	padding:0 20px;
}

#featuresList_main
{
	height:240px;
	padding:20px;
	color:#73787E;
}
#resources_main
{
	height:200px;
	padding:20px;
}
#analyzeButtonTable
{	
	width:100%;
}

.homePageHeaders
{
	font-size:14px;
	font-weight:bold;
}

.descriptionDiv
{	
	line-height:1.5em;
	word-spacing:2px;
	text-align:justify;
	padding-right:10px;
}
#homePagefooter
{
	color:#73787E;
	height:50px;
}

#copyrightLinksTable 
{
	width:100%;	
}
#navMenu_links
{
	color:#E3E5E8;
	float:right;
	font-weight:bold;
	height:40px;
	margin-top:10px;
}

#topLinksNav
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

#topLinksNav li
{
	float:left;
}

.navLinksAnc
{
	text-decoration:none;
	color:#E3E5E8;
	padding:10px;
}

#topLinksNav a:hover
{
	text-decoration:underline;
}

#currentNewsDiv
{
	padding-right:10px;
}

.newsData_main
{
	margin-top:15px;
	text-align:justify;
}
.news_resources_head
{
	color:#73787E;
	font-weight:bold;
	text-decoration:underline;
}

.newsDataHead
{
	color:#4B74C6;
	font-weight:bold;
	margin-bottom:5px;
}

.newsDataFooter
{
	color:#4B74C6;
	float:right;
	font-weight:bold;
}

#other_news_list
{
	list-style-type:square;
	padding-left:10px;
	margin-left:10px;
}

#other_news_list li
{
	color:#4B74C6;
	padding:5px;
	font-weight:bold;
}

#popularResources_list
{
	list-style-type:none;
	padding-left:5px;
	margin-left:5px;
}

#popularResources_list li
{
	color:#4B74C6;
	font-weight:bold;
	padding:5px;
}

#homePagefooter 
{
	background-image:url(../../images/icons/homePage/homePageFooter.png);
	background-repeat:repeat-x;
	color:#FFFFFF;
	height:15px;
	padding:10px;
}

#loginPopupDivMain .yui-panel .bd 
{
	background-color:#FFFFFF;
	padding:0px;
	border:none;
	-moz-border-radius:12px 12px 12px 12px;
}

#loginPopupDivMain .yui-panel
{
	border:none;
}

#loginPopupDivMain .yui-panel-container.shadow .underlay
{
	display:none;
}

#loginBoxMain
{
	padding:10px;
	border:5px solid #ADADAD;
	-moz-border-radius:12px 12px 12px 12px;
}

#loginBoxDesc
{
	color:#0E3766;
	font-weight:bold;
	padding:5px;
}

.loginButtonSpan
{
	background-image:url("../../images/icons/constituencyManagement/btn_cm.png");
	border:0 none;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	margin-right:15px;
	padding:6px 14px;
}

input.input_text
{
	-moz-border-radius:5px 5px 5px 5px;
	border:1px solid #88939B;
	font-size:12px;
	padding:4px;
	width:160px;
}

#loginDetailsTable th
{
	color:#646F79;
	font-size:12px;
	padding:15px;
}

.labelSpan
{
	background:none repeat scroll 0 0 transparent;
	border:0 none;
	color:#2B779C;
	cursor:pointer;
	margin:0 10px;
}

.labelSpan:hover
{
	text-decoration:underline;
}

#errorMsgDiv
{
	color:red;
	font-size:11px;
}

#accessPrivilegeTable th
{
	color:#646F79;
	font-size:11px;
	padding:0px;
}

#accessPrivilegeTable td
{
	color:#646F79;
	font-size:11px;
}