
body
{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
	direction:ltr;
	background-color:#FFFFFF;
}

#cadreSearchHeading
{
	margin-top:20px;
	margin-bottom:20px;
}

#headerImageCenterDiv
{
	background-image:url(../../images/icons/constituencyManagement/header_body_blue.png);
	height:30px;
	width:250px;
	text-align:center;
}

#headerImageCenterSpan
{
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	position:relative;
	top:6px;
}

#CadreSearchMain
{	
	background-color:#B2BDC4;
	border:1px solid #B2BDC4;
	padding-left:20px;
	padding-top:20px;
	width:78%;
	-moz-border-radius:6px 6px 6px 6px;
}

.cadreSearchInputTable th
{
	color:#113D5B;
	font-size:12px;
	padding:6px;
	text-align:left;
	width:120px;
	vertical-align:top;
}

.cadreSearchInputTable td
{
	color:#222D35;
	font-size:12px;
	vertical-align:top;
}

#errorMsgDiv
{
	color:#FF0000;
	font-size:11px;
	padding-left:10px;
}

.accessRegionSelect
{
	margin-bottom:5px;
	margin-left:5px;
	padding:2px;
	width:150px;	
}

#searchResultsDiv_head
{
	color:#B76732;
	font-size:18px;
	font-weight:bold;
	margin-left:20px;
	padding:5px;
	text-align:left;
	text-decoration:underline;
}

#searchResultsDiv_body
{
	margin-left:30px;
	padding:5px;
	text-align:left;
}

#searchResultsDiv_body table
{
	width:100%;
}

#smsStatusTextSpan
{
	color:red;
	font-size:10px;
}

.searchcriteriaSelect
{
	width:200px;
	padding:2px;
}

.regionsSelectBox
{
	margin-left:5px;
	margin-top:5px;
	padding:2px;
	width:185px;
}

#filterOptionsCadresSearch
{
	height:0px;
	overflow:hidden;
}
.regionSelect {
	padding: 2px;
	width: 210px;
}