* , select
{
	outline: 0 !important;
}
body
{
	background:#ECF0F1;
}
h1,h2,h3,h4,h5,h6,p,ul,.table
{
	margin:0px !important;
}


.text-capital
{
	text-transform:uppercase;
}
.m_top10
{
	margin-top:10px !important;
}
.m_top20
{
	margin-top:20px !important;
}
.headingStyle{
	padding: 10px 15px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	border-color: #dddddd !important;
    color: #333333;
	 border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.text_bold{
font-weight:bold;
}
.border_right{
border-right: 2px solid #d3d3d3;
}
.text_center{
text-align:center
}