
#connectPeoplePage_main
{
	padding:2px;	
	background-color:#E4EDF0;
}

.connectPeopleCenter
{
	background-color:#ECECEC;
	height:30px;
}

#connectPeople_leftNav_center
{
	background-color:#ECECEC;
	height:250px;
	width:225px;
}

#connectPeople_connect_center
{
	/*background-color:#ECECEC;
	-moz-border-radius:10px 10px 10px 10px;
	border:1px solid #808080;*/
	height:250px;
	margin:10px 0;
	padding:5px;
	position:relative;
}

#connectPeople_leftNav_list
{
	margin:0px;
}

#connectPeople_leftNav_list li
{
	color:#0F4D7C;
	font-size:12px;
	font-weight:bold;
	list-style-type:none;
	padding:5px;
	cursor:pointer
}

#connectPeople_messages_center .yui-content 
{
	background-color:#FFFFFF;
	height:465px;
	border:1px solid #808080;
	-moz-border-radius:10px 10px 10px 10px;
	overflow-y:auto;
}

#connectPeople_messages_center .yui-nav
{
	border-bottom:medium none;
}

#connectPeople_messages_center .yui-navset .yui-nav li
{
	position:relative;
	left:15px;
}

#connectPeople_messages_center .yui-nav a em 
{
	padding:0.55em 0.95em;
}

#connectPeople_messages_center .yui-navset .yui-nav .selected a
{
	background:url("../../js/yahoo/yui-js-2.8/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8D8;
	color:#123B5A;
	font-weight:bold;
}

#totalNumberOfRequestsDIV
{
	color:#0F4D7C;
	font-size:12px;
	font-weight:bold;
	list-style-type:none;
	padding:5px;
	cursor:pointer
}
.connectPeopleNames
{
	color:#3B5998;
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
}
.acceptButton
{
	background-color:#5B74A8;
	background-position:0 -48px;
	border-color:#29447E #29447E #1A356E;
	color:#FFFFFF;
	padding:2px 6px;	
}

.rejectButton
{
	background-color:#5B74A8;
	background-position:0 -48px;
	border-color:#29447E #29447E #1A356E;
	color:#FFFFFF;
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	background:url("images/icons/rejectButton.png") repeat scroll 0 0 #EEEEEE;
	border-color:#999999 #999999 #888888;
	border-style:solid;
	border-width:1px;
	color:#333333;
	cursor:pointer;
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	line-height:normal !important;
	padding:2px 6px;
	text-align:center;
	text-decoration:none;
	vertical-align:top;
	white-space:nowrap;
}

#connection_main_data
{
	border-left:1px solid #ADADAD;
	
}

#connectPeopleMessagePopup_main .yui-panel .hd 
{
	text-align:left;
	padding:2px 10px;
}

#messagesFieldSet
{
	margin:0;
	padding:0;
	border:none;
}

#messagesFieldSet legend
{
	background-color:#58ABC4;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
}

#messagesCountMessage
{
	background-color:#ECF3F5;
	color:#1B7AB0;
	font-weight:bold;
	margin-top:10px;
	font-size:12px;
}

#messagesContent
{
	height:200px;
	overflow:auto;
	padding-top:15px;
}

#messagesContentTable th
{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
}

#messagesContentTable td
{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
}

#connection_main_head
{
	background-color:#ECF3F5;
	color:#1B7AB0;
	font-size:12px;
	font-weight:bold;
}

#connecttion_main_body
{
	margin-top:10px;
}

#connectPeople_PeopleMayKnow_center
{
	/*height:335px;*/
}

#peopleMayKnow_main
{
	/*border:2px solid #D6E7EC;	
	height:320px;*/
}

#peopleMayKnow_head
{
	background-image:url("../../images/icons/constituencyPage/background_head_blue.png");
	background-repeat:repeat;
	color:#FFFFFF;
	padding:5px;
	font-weight:bold;
}

.peopleMayKnow_data
{
	background-color:#E6EFF2;
	margin:5px;
}

#peopleMayKnow_buttonDiv
{
	padding:5px 20px 5px 5px;
	text-align:right;
}

#peopleMayKnow_buttonDiv a
{
	color:#476F7D;
	font-weight:bold;
	text-decoration:none;
}

.peopleMayKnow_data_table td
{	
	color:#2A3A44;
}

#peopleMayKnow_body a
{
	color:#476F7D;
	font-weight:bold;
	text-decoration:none;
}

#totalNumberOfRequestsDIV
{
	background-color:#ECF3F5;
	color:#1B7AB0;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
}
.msgDiv_head
{
	cursor:pointer;
}

.msgDiv_body
{
	background-color:#DFDFDF;	
	margin:0 5px;
	padding:10px;
}

.tabContainerHeading
{
	background-color:#ECF3F5;
	color:#1B7AB0;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	padding:5px;
}

#reasonsCountTable th
{
	padding:4px;
	color:#DF0101;
	font-family:verdana;
	font-size:12px;
}

#reasonsCountTable td
{
	color:#624821;
	font-weight:bold;
	padding:5px;
}

.reasonsCountAnc
{
	color:#624821;
	font-weight:bold;
	text-decoration:none;
}

.reasonsCountAnc:hover
{
	text-decoration:underline;
}

.yui-skin-sam .yui-dt table 
{
	border:1px solid #7F7F7F;
	color:#222222;
	font-family:arial;
	font-size:inherit;
	font-weight:normal;
}

#connectPeople_quickAccess_center
{
	position:relative;
	height:250px;
}

#regionAccessTable th
{
	padding:5px;
	text-align:left;
	color:#3C4A52;
}

#regionAccessTable td
{
	padding:5px;
	text-align:left;
	color:#552F0E;
}

.regionBodyClass
{
	border-bottom:1px solid #E0E0D6;
	border-left:1px solid #E0E0D6;
	border-right:1px solid #E0E0D6;
	padding:10px;
}

#constituencyRightContentOuter
{
	height:auto;
}

.tabContainerHeading a
{
	font-weight:normal;
}


/* New Dash Borad Styles*/

div#constituencyRightContentOuter a:hover
{
	text-decoration:none;
}

.rounded
{
	margin:0px;
	padding:5px;
}

#pollsWidgetMain
{
	position:relative;
}

.headerLabelSpan
{
	position:relative;
	top:5px;
	left:4px;
}

#profileUserName
{
	color:#755113;
	font-size:18px;
	font-weight:bold;
}

#connectPeople_profile_center
{
	position:relative;
	margin:10px 0px 10px 0px;
}

.connectPeople_profile_center_linksDiv
{
	background-color:#EAEFF2;
	margin:5px;
	padding:5px;
}

.messageStyles
{
	color: #1B7AB0;
	font-size: 12px;
	font-weight: bold;
}

#postedDiv_head
{
	text-align:right;
	padding:10px;
}

#postedDiv_head .yui-button button, #postedDiv_head .yui-button a, #postedDiv_head .yui-button a:visited
{
	font-size:11px;
	font-weight:bold;
	padding:5px 10px;
}

.postedDiv_dataInfo_main
{
	border:1px solid #D0CCC4;
	margin:15px 0;
	padding:10px;
}

.postedDiv_dataInfo_head
{
	border-bottom:1px solid #E8E5DE;
	color:#0C67AC;
	font-size:12px;
	font-weight:bold;
	margin-bottom:5px;
	padding-bottom:5px;
	font-family:verdana;
}

.postedDiv_dataInfo_table th
{
	padding:5px;
	text-align:left;
	color:#322C24;
}

.postedDiv_dataInfo_table td
{
	padding:5px;
	text-align:justify;
	color:#273241;
}
.linkStyle
{
    border-bottom: 1px solid #E8E5DE;
    color: #0C67AC;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}