
#connectPeoplePage_main
{
	padding:10px;	
}

.connectPeopleCenter
{
	background-color:#ECECEC;
	height:30px;
}

#connectPeople_leftNav_center
{
	background-color:#ECECEC;
	height:250px;
	width:225px;
}

#connectPeople_connect_center
{
	/*background-color:#ECECEC;*/
	height:250px;
}

#connectPeople_leftNav_list
{
	margin:0px;
}

#connectPeople_leftNav_list li
{
	color:#0F4D7C;
	font-size:12px;
	font-weight:bold;
	list-style-type:none;
	padding:5px;
	cursor:pointer
}

#connectPeople_connect_center .yui-content 
{
	background-color:#FFFFFF;
	height:550px;
	border:1px solid #808080;
	-moz-border-radius:10px 10px 10px 10px;
}

#connectPeople_connect_center .yui-nav
{
	border-bottom:medium none;
}

#connectPeople_connect_center .yui-navset .yui-nav li
{
	position:relative;
	left:15px;
}

#connectPeople_connect_center .yui-nav a em 
{
	padding:0.55em 0.95em;
}

#connectPeople_connect_center .yui-navset .yui-nav .selected a
{
	background:url("../../js/yahoo/yui-js-2.8/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8D8;
	color:#123B5A;
	font-weight:bold;
}