
.voterBasicInfoBody table{
	width:auto;
}

#mandalsDiv
{
	margin-top:10px;
}
#mandalsDivHead
{
	padding:5px;
}
#mandalsDivBody
{

}
#delimitationMandalsDiv
{
	margin-top:10px;
}
#delimitationMandalsDivHead
{
	padding:5px;
}
.ConstituencyElectionsTable td
{
	text-align:right;
}


/*-- New Constituency Page Styles --*/

#contenttable 
{
	padding-bottom:0px;
	padding-top:0px;
}

#constituencyPageMain
{
	background-color:#E4EDF0;
	padding:10px;
}

.contentDivClass
{
	width:100%;
	height:100%;
	background-color:#FFFFFF;	
}

#constituencyRightContentDiv
{
	margin-top:10px;
}
.rounded
{
	position:relative; padding:10px; margin:10px 0;background-color:#FFFFFF;
}
.corner 
{
	position:absolute; width:17px; height:17px;
}

.topLeft 
{
	top:0; left:0; background-position:-1px -1px;
}
.topRight 
{
	top:0; right:0;background-position:20px -1px;
}
.bottomLeft
{
	bottom:0; left:0; background-position:-1px 18px;
}
.bottomRight
{
	bottom:0; right:0; background-position:18px 17px;
}

.rounded .corner
{	
background-image:url(../../images/icons/constituencyPage/cornerSprite1.png);
background-color:#E4EDF0;
}

#constituencyPageCenterInfoDiv .rounded
{
	width:620px;
}

#constituencyRightContentDiv .rounded
{
	width:250px;
}
#map_canvas
{
	height:300px;	
}

.layoutHeadersClass
{
	color:#89745D;
	font-size:16px;
	font-weight:bold;
	padding:5px;
	text-align:left;
	text-decoration:underline;
}

.layoutBodyClass
{
	text-align:left;
	padding:5px;
	margin-left:10px;
}

#constituencyPageProfileInfoDiv_Body
{
	height:80px;
}

#constituencyInfoDiv
{
	/*margin-top:20px;*/
	padding:5px;
}

#constituencyInfoDiv_Head
{
	color:#795870;
	text-align:left;
	text-decoration:underline;
}

#constituencyInfoTable
{
	width:100%;
}

#constituencyInfoTable th
{
	text-align:left;
	color:#795870;
}

#constituencyInfoTable td
{
	text-align:left;
	color:#948D92;
}


fieldset
{
	border:4px solid #CFD6DF;
	margin-bottom:10px;
}

legend
{
	background-color:#567AAF;
	color:#FFFFFF;
	font-size:12px;
	padding:5px;
}

.yui-skin-sam .yui-panel .hd 
{
	text-align:left;
}
.yui-skin-sam .yui-panel .bd
{
	background-color:#FFFFFF;
}
#oppCandResultsDiv table
{
	width:100%;
}

.legendTable th
{
	text-align:left;
	color:#479AAB;
}

.legendTable td
{
	text-align:left;
	color:#768C97;
}
.electionInformationClass
{
	background:transparent url(../../images/YUI-images/yui-images-2.8/sprite.png) repeat-x scroll 0 -200px;
	border:1px solid #CFD9DE;
	color:#63516B;
	cursor:pointer;
	margin-top:5px;
	padding:5px;	
}

.voterInfoHead
{
	color:#737D81;
	font-weight:bold;
	padding:10px 10px 10px 0;
	text-decoration:underline;
}
.voterInfoBody
{
	margin-bottom:20px;
}

#constituencyPageElectionInfoDiv_Main
{
	background-color:#FFFFFF;
}

#constituencyPageCensusInfoDiv_Main
{
	background-color:#FFFFFF;
	margin:5px;
}

.innerLayoutDivClass
{
	background-color:#FFFFFF;
	height:100%;
}

.yui-skin-sam .yui-dt caption
{
	text-align:left;
	font-size:14px;
	color:#6B4C75;
}

#constituencyPageCandidateInfo_Body table
{
	width:90%;
}

.spacerTD
{
	padding:2px;
}
.alignTD
{
	vertical-align:top;
}

#constituencyPageCenterInfoDiv
{
	min-width:645px;
	max-width:645px;

}
#constituencyPageRightMapDiv
{	
	/*min-height:1000px;*/
	min-width:250px;
	max-width:260px;
	width:expression(document.body.clientWidth > 260? "260px": "auto" );
}

#problemViewingDiv , #constituencyPeopleConnectDiv
{
	margin-top:50px;
}


#problemPostingDiv legend , #problemViewingDiv legend 
{
	background-color:none;
	/*background:transparent url(../../images/YUI-images/yui-images-2.8/sprite.png) repeat-x scroll 0 -200px;
	border:2px solid #DFDFDF;
	color:#795870;*/
	background-image:url(../../images/icons/constituencyPage/background_head_blue.png);
	background-repeat:repeat;	
	color:#FFFFFF;	
	font-weight:bold;
}

.problemPostingContentDivClass
{
	margin-top:5px;
}

#problemPostingButtonDiv
{
	margin-top:10px;
	text-align:right;
}

#constituencyPeopleConnectDiv_Head
{
	background-image:url(../../images/icons/constituencyPage/background_head_blue.png);
	background-repeat:repeat;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
}

#constituencyPeopleConnectDiv
{
	min-height:200px;
	padding:2px;
	border:4px solid #CFD6DF;	
}

#connectedNumberDiv
{
	color:#7C8791;
	font-size:11px;
	padding:5px;
	margin-bottom:5px;
}

#connectedPersonsDiv
{
	height:235px;
	overflow:hidden;
}
.groupPersonNameSpanClass
{
	color:#5F6B75;
	font-size:13px;
}

.groupPersonMessageSpanClass
{
	color:#7C8791;
	font-size:11px;
}

#connectButton .yui-button button 
{
	background-image:url(../../images/icons/plus.png);
}

#viewAllPersonConnectDiv
{
	color:#8D959B;
	font-size:11px;
	margin-top:10px;
	text-align:right;
}
.connectAnc
{
	text-decoration:none;
	color:#8D959B;
}
.connectAncSpan
{
	margin-right:5px;
}
.problemDataDivClass
{
	cursor:pointer;
	padding:5px;	
	border-bottom:2px solid #F1F3F5;
	color:#795870;
	margin-bottom:5px;
}	

.yui-skin-sam .yui-dt td a
{
	color:#89745D;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

#dataTableHead
{
	float:right;
	font-size:11px;
	margin-right:20px;
}

#dataTableTitle
{
	float:left;
	font-weight:bold;
	text-decoration:underline;
}

.constituencyInfoTable th
{
	background-color:DarkGray;
	color:#FFFFFF;
	padding:5px;
	text-align:left;
}
.constituencyInfoTable td
{
	background-color:Gainsboro;
	color:DarkGoldenRod;
	padding:5px 10px 5px 5px;
	text-align:center;
}

#constituencyVotersInfoDiv_Body_candidateTrendzGraph
{
	background-color:#E4EDF0;
}

#candidateTrendzGraph_head
{
	color:appworkspace;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px;
	text-align:center;
	text-decoration:underline;
}
#candidateTrendzGraph_body
{
	background-color:#FFFFFF;
}
#candidateTrendzGraph_footer
{
	padding:5px;
}

.commentsDiv
{
	color:#243D51;
	font-size:12px;
	margin-top:5px;
	padding:5px;
}

.graphHeadingDivClass
{
	color:DarkGoldenRod;
	font-size:12px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:15px;
	font-family:verdana;
}
.graphHeadingNewDivClass
{
    color:MediumPurple;
	font-size:12px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:15px;
	font-family:verdana;
}

.CandidateResultsInfoHeading_head
{
	color:#3E3F41;
	padding:5px 5px 5px 0;
	text-decoration:underline;
}

.CandidateResultsInfoHeading_body
{
	color:SlateGray;
	font-family:inherit;
    font-size:12px;
	border-top:medium outset;
}

#mandalOrConstiElecResultDiv
{
	padding:10px;
}

#MandalVotingTrendz_head
{
	padding:10px;
}

.swasthik_left_span
{
	background-image:url(../../images/icons/constituencyPage/swasthic_left.png);
	padding:18px 15px 14px 16px;
}

.swasthik_body_span
{
	background-image:url(../../images/icons/constituencyPage/swasthic_body.png);
	padding:18px 18px 14px;
}

.swasthik_right_span
{
	background-image:url(../../images/icons/constituencyPage/swasthic_right.png);
	padding:18px 13px 14px;
}

#votingTrendzFieldSet legend
{
	background-image:url(../../images/icons/constituencyPage/swasthic_body.png);
	color:#000000;
	font-weight:bold;
}

#votingTrendzDiv
{
	margin-top:30px;
}

#votingTrendzContentDiv
{
	color:#344049;
	font-size:13px;
	font-weight:bold;
	padding-bottom:10px;
	padding-top:10px;
}

#votingTrendzButtonDiv
{
	float:right;
}

#totalZptcCountResultDiv,#totalMptcCountResultDiv  
{
	color:red;
	font-size:14px;
}
#problemPostingDivForConstituencyPage
{
	width:245px;
}