body
{
	background:#e5e5e5;
	color:#666 !important;
}

i
{
	color:#666
}

*
{
	outline:none !important;
}

/*.cadre-election
{
	height:300px;
	overflow:scroll;
}*/

.bg_white
{
	background:#fff !important;
}
.m_0
{
	margin:0px;
}
.panel-default .panel-heading
{
	background:#ccc;
	border-radius:0px;
}
.panel
{
	border-radius:0px;
}
.cadre-election ul
{
	pading-left:0px;
}
.cadre-election ul li
{
	list-style:none;
}
.cadre-election ul li {
	position: relative;
	padding-top:5px;
	padding-bottom:5px;
}
.cadre-election ul li:after {
		content: '';
		position: absolute;
		top: 0;
		left: -18px;
		height: 100%;
		width: 2px;
		background: #666;
}

.cadre-election ul li:before
{
	background:#666;
	content:'';
	border-radius:50%;
	height:10px;
	width:10px;
	display:block;
	position:relative;
	left:-22px;
	top:15px;
}	


.calendar-style
{
	border: 1px solid #ddd;
    cursor: pointer;
    font-size: 20px;
    margin-top: -8px;
    padding: 2px;
}

.m_top20
{
	margin-top:20px;
}

.pad_0
{
	padding:0px;
}

.text-bold
{
	font-weight:bold;
}

.table-scroll
{
	max-height:220px;
	overflow:auto;
}

.display-style
{
	
}

.piechart-list
{
	padding-left:0px;
	margin-top:40px;
}

.piechart-list li
{
	font-size:15px;
	list-style:none;
	margin-bottom:3px;
}
.graph-list li
{
	list-style:none;
	width:110%
}
.count-hover
{
	position:absolute;
	padding:0px;
	width:100px;
	border:1px solid #999;
	border-radius:3px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
	background:#fff !important;
	display:none;
	z-index:9999;
	right:0px;
	margin-top:5px;
}
.survey-hover{
position:absolute;
	padding:0px;
	width:100px;
	border:1px solid #999;
	border-radius:3px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
	background:#fff !important;
	z-index:999;
	margin-left:-40px;
	margin-top:10px;
	right:-10px;
}
.count-hover li , .survey-hover li
{
	color:#333 !important;
	background:#fff;
	border-bottom:1px solid #999;
	padding:3px;
	width:80px;
}

.arrow_box3 {

	background: #fff;
	border: 4px solid #fff;
}
.arrow_box3:after, .arrow_box3:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box3:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box3:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}

.show-dropdown:hover .count-hover 
{
	display:block;
}

.show-dropdown
{
	cursor:pointer	
}


.NotVerified{color:#D64D54;}
.Verified{color:#481557;}
.NotEligible{color:#663300}
.InProgress{color:#66CDCC}
.NotPossible{color:#FF9933}
.Approved{color:#69A78F}
.Completed{color:#00B17D}
.NotVerified:before{background-color:#D64D54;}
.Verified:before{background-color:#481557;}
.NotEligible:before{background-color:#663300}
.InProgress:before{background-color:#66CDCC}
.NotPossible:before{background-color:#FF9933}
.Approved:before{background-color:#69A78F}
.Completed:before{background-color:#00B17D}

.NotVerified:before , .Verified:before , .NotEligible:before , .InProgress:before,.NotPossible:before,.Approved:before,.Completed:before
{
	padding:0px 8px 0px;
	margin-right:1px;
	margin-right:4px;
	content:'';
}

.inpogress
{
	background-color:#66CDCC;
}

.verified
{
	background-color:#481557;
}


.note
{
	background-color:#663300;
}
.notPoss
{
	background-color:#FF9933;
}
.approved
{
	background-color:#69A78F;
}
.completed
{
	background-color:#00B17D;
}

.party-color:before , .financial-by-party:before , .financial-by-govt:before , .other-type-req:before , .cm-relief:before , .party-fund:before , .total-req:before , .total-assign , .verification-cmp , .pending , .approved , .verification-pending
{
	padding:1px 9px 0px 9px;
	content:'';
	margin-right:3px;
}
.party-color:before 
{
	background:#C4C55D; 
}
.financial-by-party:before 
{
	background:#9B9AC6;
}
.financial-by-govt:before 
{
	background:#4A0EAE;
}

.family-members ul
{
	padding-left:0px;
	margin-bottom:0px;
}

.family-members ul li
{
	list-style:none;
}
.tab-list
{
	border:0px !important;
}
.tab-list li
{
	border:1px solid #f0f0f0;
}
.tab-list li a
{
	color:#666 !important;
	border-radius:0px;
	margin-right:0px !important;
	border-color:#f0f0f0 !important;
}
.tab-list li:last-child{padding:10px 15px;border:0px}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	background:#f0f0f0 !important;
	color:#666 !important;
	border-color:#f0f0f0 !important
}

.bg_f9
{
	background:#f9f9f9 !important;
}

a .panel-title
{
	color:#666 !important
}
.m_-40
{
	margin-top:-40px;
}
.li_arr {
	position: relative;
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
}
.li_arr:after, .li_arr:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.li_arr:after {
	border-color: rgba(240, 240, 240, 0);
	border-top-color: #f0f0f0;
	border-width: 8px;
	margin-left: -8px;
}
.li_arr:before {
	border-color: rgba(240, 240, 240, 0);
	border-top-color: #f0f0f0;
	border-width: 9px;
	margin-left: -9px;
}
.inbox-messages
{
	padding:0px;
}

.inbox-messages li
{
	list-style:none;
	padding:10px;
	border-bottom:1px solid #DBDADA;
}
.inbox-messages li:hover
{
	background:#fff
}
.font-10
{
	font-size:10px;
	line-height:11px !important;
}
.m_top5
{
	margin-top:5px;
}
.inbox-in-process
{
	background: rgba(102,205,204,0.5); /*#FFF5EB;*/
	border-left:4px solid rgb(102,205,204);
	cursor:pointer;
}

.inbox-not-opened
{
	background:rgba(214,77,84,0.5);/*#FBFBFB;*/
	border-left:4px solid rgb(214,77,84);
	cursor:pointer;
}
.inbox-not-opened:before
{
	content:'NEW';
	background:#56206C;
	color:#fff;
	padding:2px;
	position:relative;
	top:-5px;
	float:right;
	font-size:9px;
	border-radius:3px;
}

.inbox-completed
{
	background:rgba(0,177,125,0.5);
	border-left:4px solid rgb(0,177,125);
	cursor:pointer;
}

.inbox-not-eligible
{
	background:rgba(102,51,0,0.5); /*#FFE9EB;*/
	border-left:4px solid rgb(102,51,0);
	cursor:pointer;
}

.inbox-not-possible
{
	background:rgba(255,153,151,0.5);/*#EFEAE6; */ 
	border-left:4px solid #421F0B;
	cursor:pointer;
}
.inbox-verified
{
	background:rgba(72,21,87,0.5);
	border-left:4px solid rgb(72,21,87);
	cursor:pointer;
}
.inbox-approved
{
	background:rgba(105,167,143,0.5);
	border-left:4px solid rgb(105,167,143);
	cursor:pointer;
}