body
{
	background:#e5e5e5;
	color:#666 !important;
}

i
{
	color:#666
}

*
{
	outline:none !important;
}

/*.cadre-election
{
	height:300px;
	overflow:scroll;
}*/

.bg_white
{
	background:#fff !important;
}
.m_0
{
	margin:0px;
}
.panel-default .panel-heading
{
	background:#ccc;
	border-radius:0px;
}
.panel
{
	border-radius:0px;
}
.cadre-election ul
{
	pading-left:0px;
}
.cadre-election ul li
{
	list-style:none;
}
.cadre-election ul li {
	position: relative;
	padding-top:5px;
	padding-bottom:5px;
}
.cadre-election ul li:after {
		content: '';
		position: absolute;
		top: 0;
		left: -18px;
		height: 100%;
		width: 2px;
		background: #666;
}

.cadre-election ul li:before
{
	background:#666;
	content:'';
	border-radius:50%;
	height:10px;
	width:10px;
	display:block;
	position:relative;
	left:-22px;
	top:15px;
}	


.calendar-style
{
	border: 1px solid #ddd;
    cursor: pointer;
    font-size: 20px;
    margin-top: -8px;
    padding: 2px;
}

.m_top20
{
	margin-top:20px;
}

.pad_0
{
	padding:0px;
}

.text-bold
{
	font-weight:bold;
}

.table-scroll
{
	max-height:220px;
	overflow:auto;
}

.display-style
{
	
}

.piechart-list
{
	padding-left:0px;
	margin-top:40px;
}

.piechart-list li
{
	font-size:15px;
	list-style:none;
	margin-bottom:3px;
}
.graph-list li
{
	list-style:none;
	width:110%
}
.count-hover
{
	position:absolute;
	padding:0px;
	width:100px;
	border:1px solid #999;
	border-radius:3px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
	background:#fff !important;
	display:none;
	z-index:9999;
	right:0px;
	margin-top:5px;
}
.survey-hover{
position:absolute;
	padding:0px;
	width:100px;
	border:1px solid #999;
	border-radius:3px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
	background:#fff !important;
	z-index:999;
	margin-left:-40px;
	margin-top:10px;
	right:-10px;
}
.count-hover li , .survey-hover li
{
	color:#333 !important;
	background:#fff;
	border-bottom:1px solid #999;
	padding:3px;
	width:80px;
}

.arrow_box3 {

	background: #fff;
	border: 4px solid #fff;
}
.arrow_box3:after, .arrow_box3:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box3:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.arrow_box3:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}
.arrow_box4 {
	position: relative;
	background: #fff;
}
.arrow_box4:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.show-dropdown:hover .count-hover 
{
	display:block;
}

.show-dropdown
{
	cursor:pointer	
}


.NotVerified{color:#D64D54;}
.Verified{color:#481557;}
.NotEligible{color:#663300}
.InProgress{color:#66CDCC}
.NotPossible{color:#FF9933}
.Approved{color:#69A78F}
.Completed{color:#00B17D}
.NotVerified:before{background-color:#D64D54;}
.Verified:before{background-color:#481557;}
.NotEligible:before{background-color:#663300}
.InProgress:before{background-color:#66CDCC}
.NotPossible:before{background-color:#FF9933}
.Approved:before{background-color:#69A78F}
.Completed:before{background-color:#00B17D}

.NotVerified:before , .Verified:before , .NotEligible:before , .InProgress:before,.NotPossible:before,.Approved:before,.Completed:before
{
	padding:0px 8px 0px;
	margin-right:1px;
	margin-right:4px;
	content:'';
}

.inpogress
{
	background-color:#66CDCC;
}

.verified
{
	background-color:#481557;
}


.note
{
	background-color:#663300;
}
.notPoss
{
	background-color:#FF9933;
}
.approved
{
	background-color:#69A78F;
}
.completed
{
	background-color:#00B17D;
}

.party-color:before , .financial-by-party:before , .financial-by-govt:before , .other-type-req:before , .cm-relief:before , .party-fund:before , .total-req:before , .total-assign , .verification-cmp , .pending , .approved , .verification-pending
{
	padding:1px 9px 0px 9px;
	content:'';
	margin-right:3px;
}
.party-color:before 
{
	background:#C4C55D; 
}
.financial-by-party:before 
{
	background:#9B9AC6;
}
.financial-by-govt:before 
{
	background:#4A0EAE;
}

.family-members ul
{
	padding-left:0px;
	margin-bottom:0px;
}

.family-members ul li
{
	list-style:none;
}
.tab-list
{
	border:0px !important;
}
.tab-list li
{
	border:1px solid #ddd;
}
.tab-list li a
{
	color:#666 !important;
	border-radius:0px;
	margin-right:0px !important;
	border-color:#ddd !important;
}
.tab-list li:last-child{padding:10px 15px;border:0px}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
	background:#ddd !important;
	color:#666 !important;
	border-color:#ddd !important
}

.bg_f9
{
	background:#f9f9f9 !important;
}

a .panel-title
{
	color:#666 !important
}
.m_-40
{
	margin-top:-40px;
}
.li_arr {
	position: relative;
	background: #ddd;
	border: 1px solid #ddd;
}
.li_arr:after, .li_arr:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.li_arr:after {
	border-color: rgba(240, 240, 240, 0);
	border-top-color: #ddd;
	border-width: 8px;
	margin-left: -8px;
}
.li_arr:before {
	border-color: rgba(240, 240, 240, 0);
	border-top-color: #ddd;
	border-width: 9px;
	margin-left: -9px;
}
.inbox-messages
{
	padding:0px;
}

.inbox-messages li
{
	list-style:none;
	padding:10px;
	border-bottom:1px solid #DBDADA;
}
.inbox-messages li:hover
{
	background:#fff
}
.font-10
{
	font-size:10px;
	line-height:11px !important;
}
.m_top5
{
	margin-top:5px;
}
.inbox-in-process
{
	background: rgba(102,205,204,0.5); /*#FFF5EB;*/
	border-left:4px solid rgb(102,205,204);
	cursor:pointer;
}

.inbox-not-opened
{
	background:rgba(214,77,84,0.5);/*#FBFBFB;*/
	border-left:4px solid rgb(214,77,84);
	cursor:pointer;
}
.inbox-not-opened:before
{
	content:'NEW';
	background:#56206C;
	color:#fff;
	padding:2px;
	position:relative;
	top:-5px;
	float:right;
	font-size:9px;
	border-radius:3px;
}

.inbox-completed
{
	background:rgba(0,177,125,0.5);
	border-left:4px solid rgb(0,177,125);
	cursor:pointer;
}

.inbox-not-eligible
{
	background:rgba(102,51,0,0.5); /*#FFE9EB;*/
	border-left:4px solid rgb(102,51,0);
	cursor:pointer;
}

.inbox-not-possible
{
	background:rgba(255,153,151,0.5);/*#EFEAE6; */ 
	border-left:4px solid #421F0B;
	cursor:pointer;
}
.inbox-verified
{
	background:rgba(72,21,87,0.5);
	border-left:4px solid rgb(72,21,87);
	cursor:pointer;
}
.inbox-approved
{
	background:rgba(105,167,143,0.5);
	border-left:4px solid rgb(105,167,143);
	cursor:pointer;
}

#tableId thead th
{
	cursor:pointer
}
.referralGrievanceDetails
{
  padding:0px;
}
.referralGrievanceDetails li
{
  list-style:none;
  padding:8px 5px;
  background:#ddd;
  margin-top:8px;
}
#menu i{color : #5c2d25  !important}
 #paginationDivId .prev,.next{width:60px !important;}
 
.inbox-messages
{
	color:#fff !important
}
.benefits-block
{
	padding:0px;
	margin:0px !important;
}
#accordion2323
{
	margin:0px;
}
.benefits-block li
{
	border-bottom:1px solid #ccc;
	list-style:none;
	padding:8px;
}
.benefits-block li:last-child
{
	border-bottom:0px;
}
.panel-default .panel-heading
{
	border-radius:0px;
}
.countStyleSpan
{
	background-color:#ccc;
	border-radius:50%;
	font-size:14px;
	position:relative;
	top:-25px;
	height:25px;
	width:25px;
	line-height:25px;
	display:block;
	text-align:center;
}
.count-style
{
	background-color:#f4f4f4;
	border-radius:50%;
	font-size:12px;
	height:20px;
	line-height:20px;
	width:20px;
	display:block;
	text-align:center;
	margin-right:5px;
}
.pad_10
{
	padding:10px;
}
.hoverclassli
{
	padding:0px;
	cursor:pointer;
}
.hoverclassli li{list-style:none}
.hoverclassli:hover .hoverclassul
{
	display:block
}
.hoverclassul{
	cursor:pointer;
	display:none;
	font-size:14px;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	position:absolute;
	right:-122px;
	width:250px;
	z-index:999;
	background:#fff;
	height:200px;
	overflow-y:scroll;
	padding:0px;
}
.hoverclassul li
{
	padding:15px;
	border-bottom:1px solid #666
}
.hoverclassul li:last-child
{
	border-bottom:0px
}
.text-primary{
	color:#337ab7 !important;
}

.accordion-toggle , .accordion-toggle:active ,.accordion-toggle:hover
{
	color:#666 !important
}
.accordion-toggle:before {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    content:"\e113";
    float: right;
    color: inherit;
	font-size:15px;
	margin-top:0px;
	margin-right:0px;
	font-weight:400 !important
}
.accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content:"\e114";
}
.Student-List
{
	padding:0px;
}
.Student-List li{list-style:none;}
table
{
    border-collapse: separate !important;
}
#mCSB_1_container{margin-right:10px !important}
.family-identity:after
{
	position:absolute;
	left:45px;
	background-image:url(dist/img/Card_member.png);
	content:' ';
	width:20px;
	height:20px;

}
.ul-li-scroll{height:230px;}
.right_arrow {
	position: relative;
	background: #fff;
	border: 1px solid #fff;
}
.right_arrow:after, .right_arrow:before {
	left: 100%;
	bottom: 25px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.right_arrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.right_arrow:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 6px;
	margin-top: -6px;
}
.show-dropdown:hover .count-hover
{
	display:block;
}

.show-dropdown
{
	cursor:pointer	
}
.count-hover
{
	position:absolute;
	padding:0px;
	width:450px;
	border-radius:3px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.35);
	background:#fff !important;
	display:none;
	z-index:999;
	margin-right:41%;
	bottom:-20px;
}
.count-hover li{list-style:none; width:430px !important}

#scrollator_holder{margin-left:25px}
.table-scroll{max-height:400px;overflow-y:auto;z-index:999999}
.table-scroll-1{max-height:400px;overflow-y:auto;z-index:999999}
.font-10{font-size:10px}
h1,h2,h3,h4,h5{color:#666 !important}
.bg_f9{background:#f9f9f9}
.pad_10{padding:10px;}
.panel-default .panel-heading{background:#CCC;}
.circle-text, .circle-info,  .circle-info-half {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tableDrilDown thead th
{
	background:#ccc
}
.tableDrilDown thead th , .tableDrilDown tr td
{
	font-size:12px !important
}
.tableDrilDown tr td.subTable 
{
	background:#ddd;
}
.circle-text-half{font-size: 11px !important; margin-top: 26px;}
.pad_0
{
	padding:0px;
}
.m_0{margin:0px;}
.textTransFormCls{text-transform:capitalize}

.notverified{background-color:rgb(214,77,84);}
.verified{background-color:rgb(72,21,87);}
.notEligible{background-color:rgb(102,51,0);}
.inProgress{background-color:rgb(102,205,204);}
.notpossible{background-color:rgb(255,153,51);}
.approved{background-color:rgb(105,167,143);}
.completed{background-color:rgb(0,117,125);}

.notverified-text{color:rgb(214,77,84);}
.verified-text{color:rgb(72,21,87);}
.notEligible-text{color:rgb(102,51,0);}
.inProgress-text{color:rgb(102,205,204);}
.notpossible-text{color:rgb(255,153,51);}
.approved-text{color:rgb(105,167,143);}
.completed-text{color:rgb(0,117,125);}

.enrolled-mem
{
	padding:0px;
}
.enrolled-mem li
{
	border:1px solid #666;
	border-radius:3px;
	padding:3px;
	display:inline-block
}
.enrolled-mem li.yes
{
	background-color:#D7F0DB;
}
.enrolled-mem li.yes span:after
{
	content:'\e013';
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	color:#666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.enrolled-mem li.no
{
	background-color:#E3C5C7;
}
.enrolled-mem li.no span:after
{
	content:'\e014';
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	color:#666;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
table.gridtable {
	font-family: arial,sans-serif;
	font-weight:bold;
	font-size:13px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	text-align:center;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.m_top10{
	margin-top:10px;
}
.apptStatusTracking
{
	padding:0px;
	border-left:2px solid #ccc;
	position:relative;
	margin-left: 8px;
}
.apptStatusTracking li
{
	list-style:none;
	margin-left:12px;
	margin-top:3px;
}
.apptStatusTracking li:before
{
	height:15px;
	width:15px;
	position:absolute;
	content:' ';
	left:-9px;
	display:block;
	background:#ccc;
	border-radius:50%;
	margin-top:9px;
}
.m_top30 {
    margin-top: 60px;
}

.arrow_box {
	background: #fff;
	border: 1px solid rgba(51, 51, 51, 0.6);
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	right: 8px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}
.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: rgba(51, 51, 51, 0.6);
	border-width: 9px;
	margin-left: -9px;
}
.panel
{
	margin-bottom:10px;
}
.panel .panel-heading .panel-title
{
	font-size:15px;
	font-weight:bold
}
.panel .panel-heading a:hover , .panel .panel-heading a:focus
{
	text-decoration:none;
}
.pointer
{
	cursor:pointer
}

.alignDiv{
	padding:5px;
	border-radius:10px;
	border:1px solid #ccc;
	margin-top:5px;
}	
.ui.small.step,
.ui.small.steps .step {
  font-size: 0.92857143rem;
}
.ui.step,
.ui.steps .step {
  font-size: 1rem;
}
.ui.large.step,
.ui.large.steps .step {
  font-size: 1.14285714rem;
}
.ui.steps {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	margin: 1em 0;
	background: 0 0;
	box-shadow: none;
	line-height: 1.14285714em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15)
}
.ui.steps:first-child {
	margin-top: 0
}
.ui.steps:last-child {
	margin-bottom: 0
}
.ui.steps .step {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	padding: 1.14285714em 2em;
	background: #fff;
	color: rgba(0,0,0,.87);
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-right: 1px solid rgba(34,36,38,.15);
	-webkit-transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
	transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease
}
.ui.steps .step:after {
	position: absolute;
	z-index: 2;
	content: '';
	top: 50%;
	right: 0;
	border: solid;
	background-color: #fff;
	width: 1.14285714em;
	height: 1.14285714em;
	border-color: rgba(34,36,38,.15);
	border-width: 0 1px 1px 0;
	-webkit-transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
	transition: background-color .1s ease, opacity .1s ease, color .1s ease, box-shadow .1s ease;
	-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
	transform: translateY(-50%) translateX(50%) rotate(-45deg)
}
.ui.steps .step:first-child {
	padding-left: 2em;
	border-radius: .28571429rem 0 0 .28571429rem
}
.ui.steps .step:only-child {
	border-radius: .28571429rem
}
.ui.steps .step:last-child {
	border-radius: 0 .28571429rem .28571429rem 0;
	border-right: none;
	margin-right: 0
}
.ui.steps .step .title {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color:#666 !important
}
.ui.steps .step>.title {
	width: 100%
}
.ui.steps .step .description {
	font-weight: 400;
	font-size: 12px;
	color: #666 !important
}
.ui.steps .step>.description {
	width: 100%
}
.ui.steps .step .title~.description {
	margin-top: .25em
}
.ui.steps .step>.icon {
	line-height: 1;
	font-size: 2.5em;
	margin: 0 1rem 0 0
}
.ui.steps .step>.icon, .ui.steps .step>.icon~.content {
	display: block;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: middle;
	-ms-flex-item-align: middle;
	align-self: middle
}
.ui.steps .step>.icon~.content {
	-webkit-box-flex: 1 0 auto;
	-webkit-flex-grow: 1 0 auto;
	-ms-flex-positive: 1 0 auto;
	flex-grow: 1 0 auto
}
.ui.steps:not(.vertical) .step>.icon {
	width: auto
}
.ui.steps .link.step, .ui.steps a.step {
	cursor: pointer
}
.ui.ordered.steps {
	counter-reset: ordered
}
.ui.ordered.steps .step:before {
	display: block;
	position: static;
	text-align: center;
	content: counters(ordered, ".");
	-webkit-align-self: middle;
	-ms-flex-item-align: middle;
	align-self: middle;
	margin-right: 1rem;
	font-size: 2.5em;
	counter-increment: ordered;
	font-family: inherit;
	font-weight: 700
}
.ui.ordered.steps .step>* {
	display: block;
	-webkit-align-self: middle;
	-ms-flex-item-align: middle;
	align-self: middle
}
.ui.vertical.steps {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: visible
}
.ui.vertical.steps .step {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	border-radius: 0;
	padding: 1.14285714em 2em;
	border-right: none;
	border-bottom: 1px solid rgba(34,36,38,.15)
}
.ui.vertical.steps .step:first-child {
	padding: 1.14285714em 2em;
	border-radius: .28571429rem .28571429rem 0 0
}
.ui.vertical.steps .step:last-child {
	border-bottom: none;
	border-radius: 0 0 .28571429rem .28571429rem
}
.ui.vertical.steps .step:after {
	top: 50%;
	right: 0;
	border-width: 0 1px 1px 0;
	display: none
}
.ui.vertical.steps .active.step:after {
	display: block
}
.ui.vertical.steps .step:last-child:after {
	display: none
}
.ui.vertical.steps .active.step:last-child:after {
	display: block
}

@media only screen and (max-width:767px) {
.ui.steps {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	overflow: visible;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}
.ui.steps .step {
	width: 100%!important;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 0;
	padding: 2em 2.25em
}
.ui.steps .step:first-child {
	padding: 1.14285714em 2em;
	border-radius: .28571429rem .28571429rem 0 0
}
.ui.steps .step:last-child {
	border-radius: 0 0 .28571429rem .28571429rem
}
.ui.steps .step:after {
	display: none!important
}
.ui.steps .step .content {
	text-align: center
}
.ui.ordered.steps .step:before, .ui.steps .step>.icon {
	margin: 0 0 1rem
}
}
.ui.steps .link.step:hover, .ui.steps .link.step:hover::after, .ui.steps a.step:hover, .ui.steps a.step:hover::after {
	background: #f9fafb;
	color: rgba(0,0,0,.8)
}
.ui.steps .link.step:active, .ui.steps .link.step:active::after, .ui.steps a.step:active, .ui.steps a.step:active::after {
	background: #f3f4f5;
	color: rgba(0,0,0,.9)
}
.ui.steps .step.active {
	cursor: auto;
	background: #f3f4f5
}
.ui.steps .step.active:after {
	background: #f3f4f5
}
.ui.steps .step.active .title {
	color: #4183c4
}
.ui.ordered.steps .step.active:before, .ui.steps .active.step .icon {
	color: rgba(0,0,0,.85)
}
.ui.steps .active.step:after, .ui.steps .step:after {
	display: block
}
.ui.steps .active.step:last-child:after, .ui.steps .step:last-child:after {
	display: none
}
.ui.steps .link.active.step:hover, .ui.steps .link.active.step:hover::after, .ui.steps a.active.step:hover, .ui.steps a.active.step:hover::after {
	cursor: pointer;
	background: #dcddde;
	color: rgba(0,0,0,.87)
}
.ui.ordered.steps .step.completed:before, .ui.steps .step.completed>.icon:before {
	color: #21ba45;
	font-family: Step;
	content: '\e800'
}
.ui.steps .disabled.step {
	cursor: auto;
	background: #fff;
	pointer-events: none
}
.ui.steps .disabled.step, .ui.steps .disabled.step .description, .ui.steps .disabled.step .title {
	color: rgba(40,40,40,.3) !important
}
.ui.steps .disabled.step:after {
	background: #fff
}

@media only screen and (max-width:992px) {
.ui[class*="tablet stackable"].steps {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	overflow: visible;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}
.ui[class*="tablet stackable"].steps .step {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 0;
	padding: 1.14285714em 2em
}
.ui[class*="tablet stackable"].steps .step:first-child {
	padding: 1.14285714em 2em;
	border-radius: .28571429rem .28571429rem 0 0
}
.ui[class*="tablet stackable"].steps .step:last-child {
	border-radius: 0 0 .28571429rem .28571429rem
}
.ui[class*="tablet stackable"].steps .step:after {
	display: none!important
}
.ui[class*="tablet stackable"].steps .step .content {
	text-align: center
}
.ui[class*="tablet stackable"].ordered.steps .step:before, .ui[class*="tablet stackable"].steps .step>.icon {
	margin: 0 0 1rem
}
}
.ui.fluid.steps {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%
}
.ui.attached.steps {
	width: calc(100% + 2px)!important;
	margin: 0 -1px -1px;
	max-width: calc(100% + 2px);
	border-radius: .28571429rem .28571429rem 0 0
}
.ui.attached.steps .step:first-child {
	border-radius: .28571429rem 0 0
}
.ui.attached.steps .step:last-child {
	border-radius: 0 .28571429rem 0 0
}
.ui.bottom.attached.steps {
	margin: -1px -1px 0;
	border-radius: 0 0 .28571429rem .28571429rem
}
.ui.bottom.attached.steps .step:first-child {
	border-radius: 0 0 0 .28571429rem
}
.ui.bottom.attached.steps .step:last-child {
	border-radius: 0 0 .28571429rem
}
.ui.eight.steps, .ui.five.steps, .ui.four.steps, .ui.one.steps, .ui.seven.steps, .ui.six.steps, .ui.three.steps, .ui.two.steps {
	width: 100%
}
.ui.eight.steps>.step, .ui.five.steps>.step, .ui.four.steps>.step, .ui.one.steps>.step, .ui.seven.steps>.step, .ui.six.steps>.step, .ui.three.steps>.step, .ui.two.steps>.step {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}
.ui.one.steps>.step {
	width: 100%
}
.ui.two.steps>.step {
	width: 50%
}
.ui.three.steps>.step {
	width: 33.333%
}
.ui.four.steps>.step {
	width: 25%
}
.ui.five.steps>.step {
	width: 20%
}
.ui.six.steps>.step {
	width: 16.666%
}
.ui.seven.steps>.step {
	width: 14.285%
}
.ui.eight.steps>.step {
	width: 12.5%
}
.ui.small.step, .ui.small.steps .step {
	font-size: .92857143rem
}
.ui.step, .ui.steps .step {
	font-size: 1rem
}
.ui.large.step, .ui.large.steps .step {
	font-size: 1.14285714rem
}
.ui-steps-border
{
	background-color:#B0D5E8;
	padding:10px;
}
.ui.steps .step .days
{
	position:absolute;
	bottom:0px;
	right:-35px;
	z-index:99;
	height:20px;
	width: 60px;
	content:' ';
	background-color:#B0D5E8;
	color:#333;
	padding:4px;
	text-align:center;
	font-weight:bold;
}
.ui.small.steps .step
{
	padding:15px 20px
}
.onoffswitch {
    position: relative; width: 130px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #449D44; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "GRIEVANCE";
    padding-left: 10px;
    background-color: #449D44; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "INSURANCE";
    padding-right: 10px;
    background-color: #449D44; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px; margin: 5.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 96px;
    border: 2px solid #449D44; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.prev,.next{
  width:auto !important;
}
.nav-tabs li a
{
	border-radius:0px;
	color:#666
}
.mlpm_w a i
{
	color:#5c2d25 !important
}
.performanceGraph
{
  padding:0px;
}
.performanceGraph li
{
  list-style:none;
  display:table-cell;
  padding:8px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 section
 {
   margin-top:40px;
 }
}
@media (min-width: 108px) and (max-width: 600px) {
	body{font-size:12px !important;}
	h1,h2,h3{font-size:15px !important;}
	h4{font-size:13px !important}
	p,ul,li,span,a,.table,.table tr td,.table thead th{font-size:12px !important;}
	.panel-title{font-size:13px !important;}
	.panel-heading{padding:8px;}
	.nav-tabs-custom li a{font-size:10px !important;padding:3px}
	.resWidth{width:100% !important}
}
@media (min-width: 108px) and (max-width: 767px) {
  .performanceGraph li
  {
    list-style:none;
    display:block;
    padding:8px;
  }
}
.apptStatusTracking {
    border-left: 2px solid #ccc;
    padding: 0;
    position: relative;
}
.apptStatusTracking li {
    list-style: outside none none;
	position: relative;
    margin-left: 22px;
    margin-top: 3px;
}
.apptStatusTracking li::before {
    background: #ccc none repeat scroll 0 0;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 15px;
    left: -31px;
    margin-top: 9px;
    position: absolute;
    width: 15px;
}
.arrow_box_left {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 8px;
    position: relative;
}
.arrow_box_left::after, .arrow_box_left::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}
.arrow_box_left::after {
    border-color: rgba(221, 221, 221, 0) #fff rgba(221, 221, 221, 0) rgba(221, 221, 221, 0);
    border-width: 10px;
    margin-top: -10px;
}
.arrow_box_left::before {
    border-color: rgba(221, 221, 221, 0) #ccc rgba(221, 221, 221, 0) rgba(221, 221, 221, 0);
    border-width: 11px;
    margin-top: -11px;
}
.removeIconCls
{
	position:absolute;
	right:-3px;
	top:-3px;
	cursor:pointer;
	padding:3px;
	background:#ccc;
	color:#666;
	z-index:99;
	border-radius:50%;
	font-size:12px;
}
.editIconCls
{
	position:absolute;
	right:16px;
	top:-3px;
	cursor:pointer;
	padding:3px;
	background:#ccc;
	color:#666;
	z-index:99;
	border-radius:50%;
	font-size:12px;
}

.spinner {
	margin:auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;
	-webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; 
}
.spinner .dot1 , .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #1ABC9C;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; 
}
.spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; 
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

			
.alertColorFont{
color: rgb(51, 122, 183);
}

.headingColorStyling{
	background-color: rgb(74, 88, 99);
    color: #fff !important;
    padding: 10px;
    width: 215px;
	line-height:10px;
	height:29px;
	
}
.verifyHeadingColorStyling{
	background-color: rgb(74, 88, 99);
    color: #fff !important;
    padding: 10px;
    width: 315px;  
	line-height:10px;
	height:29px;
	
}
.alertDtlsTabStyle thead tr th {font-size:13px !important;padding:5px !important}
.alertDtlsTabStyle tbody tr td {font-size:13px !important;padding:3px !important}
.alertComment .tab-pane
{
	border:1px solid #a286c0;
	padding: 10px;
}
.alertCommentUl li a
{
	color:#333;
	background-color:#A185BF;
	text-transform: uppercase;
	font-size:12px;
	padding:12px;
	border-radius:0px;
}
.alertCommentUl li.active a
{
	color:#A185BF;
	background-color: #fff;
	text-transform: uppercase
}
.alertCommentUl li.active .color_FF
{
	color:#333;
}
.assignedCandidatesUl
{
	border:1px solid #d3d3d3;
	padding: 5px 0px;
}
.assignedCandidatesUl li
{
	padding:6px 20px 6px 10px;
	border-right: 1px solid #ddd;
	min-height:100px;
}

assignedCandidatesUl li:last-child
{
	border-right: 0px;
}
.assignedCandidatesUl1
{
	border:1px solid #d3d3d3;
	padding: 5px 0px;
	min-height:90px;
}
.assignedCandidatesUl1 li  
{
	padding:6px 20px 6px 10px;
	border-right: 1px solid #ddd;
}
assignedCandidatesUl1 li:last-child
{
	border-right: 0px;
}

.tablePopup thead th:first-child
{
  background-color: #DED9C3
}
.tablePopup thead th:nth-child(2),.tablePopup tr td:nth-child(2)
{
  background-color: #808080
}
.tablePopup thead th:nth-child(3),.tablePopup tr td:nth-child(3)
{
  background-color: #B1A1C6
}
.tablePopup thead th:nth-child(4),.tablePopup tr td:nth-child(4)
{
  background-color: #538ED4
}
.tablePopup thead th:nth-child(5),.tablePopup tr td:nth-child(5)
{
  background-color: #94CDDE
}
.tablePopup thead th:nth-child(6),.tablePopup tr td:nth-child(6)
{
  background-color: #C2D699
}
.tablePopup thead th:nth-child(7) , .tablePopup tr td:nth-child(7)
{
  background-color: #FAC090
}
.tablePopup thead th:nth-child(8) , .tablePopup tr td:nth-child(8) 
{
  background-color: #D89795
}
.tableCalendar tr td
{
	border:3px solid #999;
	text-align:center;
	padding:3px !important;
	position:relative;
}
.tableCalendar
{
	border-top:3px solid #999;
}
.tableCalendar tr:first-child td:first-child:before
{
	border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    color: #333333;
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 10px;
    font-weight: 400 !important;
    height: 12px;
    left: 20px;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 0;
    position: absolute;
    top: -7px;
    width: 4px;
    z-index: 99;
}
.tableCalendar tr:first-child td:first-child:after
{
	border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    color: #333333;
    content: "";
    font-family: "Glyphicons Halflings";
    font-size: 10px;
    font-weight: 400 !important;
    height: 12px;
    right: 20px;
    margin-top: 0;
    position: absolute;
    top: -7px;
    width: 4px;
    z-index: 99;
}
.alertStatusTracking
{
	padding-left:10px;
}
.alertStatusTracking li
{
	list-style:none;
	border-radius:4px;
	position:relative;
}
.arrow_box_left
{
	border:1px solid #A286C0 !important;
	padding-bottom:18px !important;
}
.arrow_box_left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.arrow_box_left:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #A286C0 !important;
	border-width: 6px;
	margin-top: -6px;
}
.arrow_box_left{
	position: relative;
	background: #fff;
	padding:8px;
	border: 1px solid #ccc;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	top: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box_left:before {
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #ccc;
	border-width: 11px;
	margin-top: -11px;
}
.alertComment .tab-pane
{
	border:1px solid #a286c0;
	padding: 10px;
}