.yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {
		border-style:none;
		text-align:left;
		background:white;		
	}
	.yui-layout-unit .yui-layout-unit-left yui-layout-scroll{
		background:white;
		
	}
	.yui-skin-sam .yui-layout 
	{
		background-color:#FFFFFF;	
	}	
	.userGrp-intro {
			background:#96B1D2  none repeat scroll 0 0;
			border:1px solid #889D5B;
			margin-bottom:13px;
			position:relative;
	}
	#grpsDescTdDiv{
			border:1px solid #96B4D3;
			border-width:1px 3px 3px 1px;
			color:#628C2A;
			font-weight:bold;
			text-align:left;		
	}
	.hdTable h3{
			color:#628C2A;
			font-size:182%;
			font-weight:bold !important;
			line-height:100%;
	}
	.uLEleStyle {
			font-family:arial,helvetica,sans-serif;
			font-size:74%;
			font-size-adjust:none;
			font-style:normal;
			font-variant:normal;
			font-weight:normal;
			line-height:normal;
			color:#000000;
	}
	#searchBoxDiv{
			background-color:#EFF3F7;
			border:1px solid #96B4D3;
			padding:10px;
			width:96%;
			color:#628C2A;			
			font-weight:bold;	
			border-width:1px 3px 3px 1px;
	}
	#userGroupsLeftDiv {
		background-color:white;	
	}	
	#myGroups
		{		
			margin-left:20px;		
			background:transparent url(../../images/usergroups/icon_groups.png) no-repeat scroll left bottom;
		}
	#systemGroups
		{
			margin-left:20px;
			background:transparent url(../../images/usergroups/system_grps.png) no-repeat scroll left bottom;
		}		
	#createNewGrpDiv
		{
			margin-left:20px;
			background:transparent url(../../images/usergroups/plus.png) no-repeat scroll left bottom;
		}
	#manageGrpDiv
	{
		margin-left:20px;
		background:transparent url(../../images/usergroups/seetings.jpg) no-repeat scroll left bottom;
	}	
	.link a {
			color:#247CD4;
			text-decoration:none;
			margin-left:21px;
			font-size:15px;						
		}
	#leftNavLinksDiv {
		border-top:1px solid #96B4D3;
		border-left:1px solid #96B4D3;
		border-right:3px solid #96B4D3;
		border-bottom:3px solid #96B4D3;
		background-color:#EFF3F7;
		margin-left:0px;
		margin-top:0px;
		margin-bottom:5px;
		padding:4px;
	}
	
	#searchHelp{
		width:100%;
		text-align: center;
		color:#96B1D2;
		font-weight:bold;
		font-size:17px;
	}
	.searchBoxLabels
	{
		color:#96B4D3;
	}
	#myProfile{
		background-color:#EFF3F7;
		border-top:1px solid #96B4D3;
		border-left:1px solid #96B4D3;
		border-right:3px solid #96B4D3;
		border-bottom:3px solid #96B4D3;
		padding:10px;
		color:#628C2A;		
		font-weight:bold;				
	}
	legend {
		background-color:#EBE4F2;
		color:#115C06;
		font-size:12px;
		font-weight:bold;
		padding:5px;
    }
    
	fieldset {
		border-top:1px solid #96B4D3;
		border-left:1px solid #96B4D3;
		border-right:3px solid #96B4D3;
		border-bottom:3px solid #96B4D3;
		margin-bottom:5px;
		color:#404040;
		background:#EFF3F7;				
	}
	#userGroupsCenterDiv
	{
		border-top:1px solid #96B4D3;
		border-left:1px solid #96B4D3;
		border-right:3px solid #96B4D3;
		border-bottom:3px solid #96B4D3;
		padding: 10px;
		height:800px;
		background-color:white;	
	}
	h4{
		align:left;	
	}
	/*
	#userGroupsFooter{
		border-top:1px solid #96B4D3;
		border-left:1px solid #96B4D3;
		border-right:3px solid #96B4D3;
		border-bottom:3px solid #96B4D3;
		background:#96B1D2;		
	}*/	
	#centerNavLinksDiv 
	{			
		background-color:#EBE4F2;
		border:1px solid #DEDEDE;
		color:#247CD4;
		font-weight:bold;
		padding:10px;	
	}	
	#summaryTextDiv 
	{
		color:#606060;
		font-family:veradana;
		font-size:14px;
		margin-left:5px;
	}
	#moreDetailsDiv {
		color:#606060;
		font-family:veradana;
		font-size:14px;
		margin-left:5px;		
	}
	#groupsCountDiv
	{
		background-image:url(images/usergroups/group_blur.png);
		width:268px;
		height:220px;	
		overflow: scroll;			
	}
	.link  {
			color:#247CD4;
			text-decoration:none;
			font-size:15px;
			font-weight:bold;			
		}
	.link1  {
			color:#115C06;
			text-decoration:none;
			font-size:15px;			
			font-weight:bold;			
		}
	#groupDetailsHead {
			background-color:#EFF3F7;
			background-image:none;
			background-position:center top;
			background-repeat:repeat;
			border:1px solid;
			color:CadetBlue;
			font-weight:normal;
			margin-right:3px;
			margin-top:4px;
			text-align:left;
	}
	#groupDetailsHead h4
		{
			color:#356784;
			margin-bottom:0;
			margin-top:0;
			padding:0;
			text-align:left;
			text-decoration:underline;			
		}
		.promoImage {
			float:left;
			margin-right:10px;
			width:40px;
		}
		.promoNumber {
			color:#888888;
			float:left;
			font-size:2em;
			font-weight:bold;
			height:40px;
			line-height:40px;
			width:50px;
		}
		.promoText {
			clear:left;
			color:#555555;
			font-size:1.3em;
			margin-left:40px;
			margin-top:0;
			text-transform:lowercase;
		}
		#sendSmsDiv
		{
			background-color:#EBE4F2;
			border:1px dotted #DEDEDE;
		}
		#smsTextArea
		{
			border-color:#7C7C7C #C3C3C3 #DDDDDD;
			border-style:solid;
			border-width:1px;
			color:#414141;
			font-family:Verdana,Arial,Helvetica,sans-serif;
			font-size:12px;
			height:60px;
			overflow:auto;
			padding:4px;
			width:200px;
		}
		.button {
			background:#9696C0 none repeat scroll 0 0;
			border:2px solid #008BD1;
			color:#FFFFFF;
			font-family:Arial,Helvetica,sans-serif;
			font-weight:bold;
			height:29px;
			padding:5px;
			width:74px;
		}
		#smsDiv
		{
			background:#EBE4F2 none repeat scroll 0 0;
			border:2px solid #008BD1;
			height:300px;
			margin-left:0;
			margin-top:1px;
			padding-left:5px;
			padding-right:5px;	
		}
		#subGroupsListDiv
		{
			background:#FFFFFF none repeat scroll 0 0;
			border:2px solid #008BD1;
			height:300px;
			margin-left:0;
			padding-left:5px;
			padding-right:5px;
			overflow-y: auto;
		}
		#headingDiv{
			background:#9696C0 none repeat scroll 0 0;
			border:1px solid #9696C0;
			color:#FFFFFF;
			font-size:12px;
			margin-top:0;
			padding:6px;
			font-weight:bold;
			}
		.subGroupLink{
			color:#247CD4;
			text-decoration:none;
			font-size:12px;
			font-weight:bold;	
		}
		.smalltype {
		-x-system-font:none;
		font-family:verdana,arial,helvetica,sans-serif;
		font-size:74%;
		font-size-adjust:none;
		font-stretch:normal;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		color:#115C06;
		}
		.subGroupsTable td {
		
		border-bottom:1px dotted #9696C0;
		padding:5px;
		text-align:left;
		}
		.selectedLink a
		{
			color:#115c06;
			text-decoration:none;
			margin-left:21px;
			font-size:15px;		
		}
		.navLinksButton
		{
			background:none;
			border-color:#247CD4;
			border-style:none solid none none;
			border-width:medium 1px medium medium;
			color:#247CD4;
			font-weight:bold;
			padding:0 6px;
		}
		.groupsCountTable
		{
			width:100%;
			margin-top:10px;
		}
		.head
		{
			font-size:11px;
			color:#404040;
		}
		.width
		{
			width:70%;
			color:#247CD4;	
		}
		.width1
		{
			color:#247CD4;
			text-align:center;
			width:30%;	
		}
		.membersLinks
		{
			color:green;
			font-family:Trebuchet MS;
			font-size:13px;
			font-weight:bold;
			text-decoration:none;
		}
		.navLinks
		{
			color:green;
			font-size:13px;
			font-weight:bold;
			margin-left:5px;
			margin-right:5px;
			margin-top:5px;
			text-decoration:none;
		}
		#subGrpsListInCreateGrpDialog,#subGrpsListInCreateGrpDialog1
		{
			background:#FFFFFF none repeat scroll 0 0;
			border:2px solid #008BD1;
			height:200px;
			margin-left:0;
			padding-left:5px;
			padding-right:5px;
			overflow-y: auto;
		}
		.button1 {
			background:#9696C0 none repeat scroll 0 0;
			border:2px solid #008BD1;
			color:#FFFFFF;
			font-family:Arial,Helvetica,sans-serif;
			font-weight:bold;
			height:29px;
			padding:5px;						
		}				
		.confirmMsg{
			width:80%;			
			font-weight:bold;
			font-size:13px;			
		}
		.exitBtnTd
		{
			width:20%;
		}
		#groupExistsAlert,#confirmAddMember
		{
			font-weight:bold;
			font-size: 13px;
			text-align: left;
		}
		.yui-skin-sam .yui-dt caption {
			background:#9696C0 none repeat scroll 0 0;
			color:#FFFFFF;
			font-size:12px;
			font-style:bold;
			font-weight:bold;
			line-height:1;
			padding:6px;
			text-align:left;
			font-style:normal;
		}
		.yui-skin-sam .yui-pg-container {
			display:block;
			margin:6px 0;
			text-align:center;
			white-space:nowrap;
		}
		.yui-skin-sam .yui-dt table {
			border-collapse:separate;
			border-spacing:0;
			color:#115C06;
			font-family:arial;
			font-size:inherit;
		}
		.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
			color:#115C06;
			font-weight:bold;
			text-decoration:none;
		}
		#showGrpMembers
		{
			height:200px;
			scroll-y:auto;
		}
		#navigationLink{
			background:#EFF3F7 none repeat scroll 0 0;
			border:1px solid #96B4D3;
			color:green;
			font-weight:bold;
			margin-left:5px;
			margin-right:3px;
			margin-top:5px;
			padding:5px;
		}/*
		.button {
			background:#335291 none repeat scroll 0 0;
			color:#FFFFFF;
			width:50px;
		}*/
		
		#errorMessageDIV .yui-panel
		{
			border:1px solid #808080;
		}
	
		#smsErrorDiv
		{
			background-color:#FFFFFF;
		}