body{
	background-color:#F5F6F9;
}
.color-white{
	color:#fff;
}
.m_top15{
	margin-top:15px;
}
.m_top10{
	margin-top:10px;
}
.m_bottom0{
	margin-bottom:0px;
}
.headerCls{
    background-color: #334D62; 
}
.logo
{
	height:90px;
	padding:5px 12px;
}
.border_right{
	border-right:2px solid #fff;
}
.pad_left_right{
	padding-left:0px;
	padding-right:0px;
}
.imageTextPos{
	position: relative;
	top: -83px;
	color: #fff;
	left: 20px;
}
.font_weight{
	font-weight:bold;
}
.card-img-overlay1 {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 1.25rem !important;
}
.bgcolor{
	padding:10px;
	background-color:#fff;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
.bgYashColor{
	padding:10px;
	background-color:#F3F5FA;
	border:2px solid #ddd;
}
.color_blue{
	color:#132C44 !important;
}
.color_yash{
	color:#A0A2AC;
}
.f_13{
	font-size:13px;
}
.border_bottom{
	border-bottom:2px solid #ccc;
}
.pendingcolor{
	color:#FBB900;
}
.seatingColor{
	color:#F76296;
}
.f_12{
	font-size:12px;
}
.f_16{
	font-size:16px;
}
.f_14{
	font-size:14px;
}
.filtercolor{
	color: #616978;
	font-weight: bold;
}
.inputBoxCss{
	 border-radius:0px !important;
	 height: 30px !important;
}
.m_top20{
	margin-top:20px;
}
.pad_10{
	padding:10px;
	background-color:#fff;
	border:1px solid #ccc;
}
.pink_color{
	color:#F7629F;
}
.available_seating{
	float: right;
	background-color: #F4F5F8;
	padding: 5px;
	border: 1px solid #ddd;
	font-weight: bold;
	color: #132C44;
}
.m_left{
	margin-left:5px;
}
.checkCss{
	background-color: #11A89D;
	color: #fff;
	border-radius: 8px;
	padding: 1px;
	font-size: 11px;
}
.checkRedCss{
	background-color: #F76B9C;
	color: #fff;
	border-radius: 8px;
	padding: 1px;
	font-size: 11px;
}
.m_top5{
	margin-top:5px;
}
.padRem{
	padding:0.5rem !important;
}
.pdfalignView li{
	padding:8px;
	border:1px solid #BCCEEA;
	color:#036CC8;
	border-radius:5px;
}
.panel-grey
{
	border-radius:0px;
}
.panel-heading{
	background-color:#F5F6F9 !important;
	color:#132C44 !important;
	border-radius:0px !important;
	padding:15px !important;
	
}
.panel-title
{
	color:#132C44 !important;
	font-weight:600;
}
.panelCollapseIcon::before
{
	font-family:'Glyphicons Halflings';
	content:"\2212";
	float: right;
	font-size:14px;
	font-weight:400 !important;
	margin-left:-4px;
	color:#000;
	border:2px solid #000;
	padding:1px 7px;
}
.panelCollapseIcon.collapsed::before
{
	content:"\002b";
}
.border_right{
	border-right:2px solid #fff;
}
.border_right_yash{
	border-right:2px solid #ddd;
}
.text-center{
	text-align:center;
}
.redcolor{
	color:#D8475B;
}
.darkblue{
	color:#0A99E6;
}
.greencolor{
	color:#18A23C;
}
.pad_yash{
	padding:10px;
	background-color:#ddd;
}
.spinner {
  margin:auto;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; 
}
.spinner .dot1 , .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #1ABC9C;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; 
}
.spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; 
}
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); 
      } 
}