.h1header{background:#06ABEA;color:#fff;border-radius:5px;box-shadow:0px 2px 2px #aaa;padding:5px;margin:5px;
}

.subheader{background:#5e5e5e;color:#fff;box-shadow:2px 0px 2px #888;margin-left:0px;padding:5px;}
.subheader i{margin-top:2px;margin-right:4px;}
.subheader-problem{color:#000;margin-left:0px;padding:5px;width:525px;float:right;}
.subheader-problem > i{margin-top:2px;margin-right:4px;}
.subheader-problem  a > i{margin-top:0px;margin-right:4px;}
.filter-box{border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 1;
    padding: 0px 0px 5px 0px;margin:7px 2px;background:#fff;}

.left-panel{
padding: 5px;
  margin: 5px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ccc, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ccc, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ccc, #f5f5f5);
  background-image: -o-linear-gradient(top, #ccc, #f5f5f5);
  background-image: linear-gradient(top, #ccc, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ccc', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ccc;
     -moz-box-shadow: inset 0 1px 0 #ccc;
          box-shadow: inset 0 1px 0 #ccc;}
.right-panel{width:674px;padding: 5px;
  margin: 5px 0px 5px 0px;}		  

.filter-box  select{width:180px;margin:10px;border-radius:4px;}	
.filter-box  h4{background:#f3f3f3;padding:5px;margin-bottom:5px;}
	

.bg-gray{background:#d4d4d4;}
.m5-left{margin-left:5px;}
.m10-left{margin-left:10px;}
label.m10-left{margin-left:10px;width:50px;}

.problem-searchbar > li{margin:2px 7px; padding:0px;}
.add-on-color{background:transparent !important;border:none !important;}
.problem-searchbar select{border-radius:4px;width:175px;}
.problemcollection > li:nth-child(even){margin-left:6px;}
.problemcollection > li,.breadcrumb-min {
 display:inline-block;
  padding: 5px 7px;
  margin: 0 0 5px;
  list-style: none;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
		  width:46%;
		  height:65px;
		  overflow:hidden;
		  cursor:pointer;cursor:hand;
}
.problemcollection > li:hover{
background:#f8f8f8;
}
.relatedproblem > li{
margin-top:10px;
padding:5px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
		  cursor:pointer;cursor:hand;}

.problemcollection > li h5,.breadcrumb-min .span2{margin-left:0px;width:66%;float:left;display:inline-block;}
.problemcollection > li  > div > h6{float:right;}
.problemcollection > li  > div{float:right;display:inline-block;width:32%;}
.problemcollection > li  > div > span{display:inline; float:right;}
.dropdown-menu a{font-size:12px;}
.m-t10{margin:10px 0px;}

.dl-horizontal dt{width:100px;}
.dl-horizontal dd{margin-left:105px;}
.graycolor{background:#d3d3d3;border-radius:3px;}
.m0-left{margin-left:0px;}

#userdiv .thumbnail{padding:0px;width:auto;display:table;}

#userdiv .userdesc{display:none;
background:#eeeeee;border:2px solid #333;
position:absolute;
top:-41px;
left:0px;
border-radius:3px;
padding:3px;
width:150px;
}
#userdiv .userdesc:after{content:"";border:8px solid transparent;border-top:8px solid #333;
border-left:8px solid #333;position:absolute;left:50%;top:100%;}
#userdiv{position:relative;}
#userdiv:hover .userdesc{display:block;}
#imagesdisplaydiv{display:table;clear:both;padding:5px;margin-left:12px;}
#imagesdisplaydiv a{width:135px;border-radius:3px;border:1px solid #ccc;margin:5px;padding:3px; display:inline-block;}

#lA ul li,#problemactivities ul  li{padding:5px;margin-bottom:5px;border-bottom:1px solid #ccc; }
#lA ul li:hover,#problemactivities ul  li:hover{background:#f2f2f2;}
#lA ul li:nth-child(even){background:#fff;}
#lA ul li:nth-child(even):hover{background:#f2f2f2;}