<web-app id="starter" version="2.4" 
         xmlns="http://java.sun.com/xml/ns/j2ee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
         
         <display-name>EliteClub</display-name>
	         
	         <!--  spring web mvc   configuration-->
	      <servlet>
	         	<servlet-name>dispatcherServlet</servlet-name>
	        	 <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	        	  <init-param>
			        <param-name>contextConfigLocation</param-name>
			        <param-value>WEB-INF/classes/conf/spring/servlet-context.xml</param-value>
			        </init-param>
	        	
	        	 <load-on-startup>1</load-on-startup>
	        </servlet>

	    <servlet-mapping>
	        <servlet-name>dispatcherServlet</servlet-name>
	        <url-pattern>/</url-pattern>
	    </servlet-mapping>
	    
    	<filter>
         <filter-name>hibernateFilter</filter-name>
        <!--   <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>    -->   
        <filter-class> com.itgrids.eliteclub.util.OpenSessionInViewAutoFlushFilter</filter-class>  
        </filter>
	    
	    <filter-mapping>
     <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
   </filter-mapping> 
	     <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/classes/applicationContext.xml</param-value>
    </context-param>
     
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.apache.logging.log4j.core.web.Log4jServletContextListener</listener-class>
    </listener>

	    
</web-app>