

#cadreReportMain
{
	background-color:#EFF1F3;
}

#cadreReportLayout_top,#cadreReportLayout_right,#cadreReportLayout_center
{
	background-color:#FFFFFF;
	height:100%;
}

#CadreReportHeading
{
	background-image:url("../../images/icons/statePage/header_body.png");
	background-repeat:repeat-x;
	color:#1C4B7A;
	font-size:15px;
	font-weight:bold;
	padding:8px 8px 8px 8px;
	width:230px;
	text-align:center;
}

#cadreReportLayout_center
{
	padding-left:20px;
	text-align:left;
}

#cReportMain,#cadreRegistration,#influencePeopleRegistration
{
	padding-top:25px;
	padding-left:20px;
}

.cadreReportHeader
{
	background-image:url("../../images/icons/cadreReport/bg_center.png");
	background-repeat:repeat-x;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	height:25px;
	width:450px;
}

.reportHeaderSpan
{
	left:10px;
	position:relative;
	top:5px;
}

.regionCadreDivClass
{
	padding:5px;
}	

.registerCadreClass,.registerinfluencePeopleClass
{
	color:#4B74C6;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	text-align:left;
}

#cadreRegistration_body,#influencePeopleRegistration_body
{
	color:#73787E;
	line-height:20px;
	padding:10px;
	text-align:justify;
}


#registerCadreSubmit,#influencePeopleCadreSubmit
{
	background:url("../../images/icons/statePage/header_body.png") repeat scroll 0 0 transparent;
	border:1px solid #ADADAD;
	padding:3px;
	cursor:pointer;
}

.viewCadreDetailsAnc
{
	background:url("../../images/icons/statePage/header_body.png") repeat scroll 0 0 transparent;
	border:1px solid #DADADA;
	color:#1C4268;
	cursor:pointer;
	padding:5px;
	text-decoration:none;
}

#cadreDiv table
{
	width:100%;
}	