@media print {
	
	body
	{
		background-color:#E6E6E6 !important;
		-webkit-print-color-adjust:exact;
	}
	header {
		box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.3) !important;
		-webkit-print-color-adjust:exact;
	}
	nav {
		background-color: #333 !important;
		color: #FFBA00 !important;
		font-family: 'Roboto', sans-serif !important;
	}
	
	
	.table thead th {
		background-color: #f3f3f3 !important;
		-webkit-print-color-adjust:exact;
	}
	
	.border-cls{
		border: 3px solid rgb(209,171,102) !important;
		background-color:rgb(244,235,218) !important;
		padding:20px 30px !important;
		border-radius: 5px !important;
		margin-top:  20px !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		
	}
	.border-cls h4{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.main_level_css{
		border: 3px solid rgb(209,171,102) !important;
		padding: 15px 15px 25px !important;
		border-radius: 5px !important;
		background-color: rgb(251,247,240) !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
	}
	.border_cls_low_level{
		background-color: rgb(251,247,240) !important;
		border: 3px solid rgb(209,171,102) !important;
		padding: 15px 25px !important;
		border-radius: 5px !important;
		margin-top: 10px !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
	}
	.border_cls_low_level h4{
			padding-top: 5px !important;
			padding-bottom: 5px !important;
	}
	.department_wise_css{
		background-color: #ffffff !important;
		border: 1px solid #d1ab66 !important;
		border-radius: 5px !important;
		padding: 20px !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.mainDivHeaderCls{
		padding: 20px 30px 15px !important;
	}
	.to-date{
		padding: 40px 30px 15px !important;
	}
	.mainDivHeaderCls h1, h2, h3, h4, h5, h6, p, ul, .form-group, .table{
		font-family:'Ubuntu', sans-serif !important;
		font-size:18px !important;
	}
	.pagebreak{
        page-break-after: always;
        page-break-inside: avoid;
     }
	 .pagebreak_before{
        page-break-before: always;
        page-break-inside: avoid;
     }
	 .withHeaderCls{
		display:block !important;
	 }
	 .withOutHeaderCls{
		display:none !important;
	 }
	 .imgWidthHeight{
		width:80px !important;
		height:80px !important;
	 }
	 .details-overview{
		margin-bottom:0 !important;
		margin-top:10px !important;
		border:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview thead tr th{
		font-size:22px !important;
		padding:15px 20px !important;
		border-bottom:none !important;
		font-weight:bold !important;
		border-bottom:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview tbody tr td{
		font-size:24px !important;
		padding:8px 15px !important;
		border-top:none !important;
		font-weight:bold !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	 .details-overview-tour{
		margin-bottom:0 !important;
		margin-top:5px !important;
		border:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview-tour thead tr th{
		font-size:16px !important;
		padding:10px 15px !important;
		border-bottom:none !important;
		font-weight:bold !important;
		border-bottom:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview-tour tbody tr td{
		font-size:18px !important;
		padding:5px 10px !important;
		border-top:none !important;
		font-weight:bold !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	
	
	 .details-overview1{
		margin-bottom:0 !important;
		margin-top:5px !important;
		border:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview1 thead tr th{
		font-size:13px !important;
		padding:10px 15px !important;
		border-bottom:none !important;
		font-weight:bold !important;
		border-bottom:1px solid #d1ab66 !important;
		background-color:#fff !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.details-overview1 tbody tr td{
		font-size:16px !important;
		padding:5px 10px !important;
		border-top:none !important;
		font-weight:bold !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	
	
	.govt_color{
		color:#D1AB66 !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.headerDisPlayNone{
		display:none !important;
	}
	.go_clickCr{
		color: #000 !important;
		text-decoration: none !important;
	}

	.col-sm-6 {
		width: 50% !important;
	}
	.col-sm-3 {
		width: 25% !important;
	}
	.col-sm-4 {
		width: 33.3333% !important;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left !important;
	}
	*::before, *::after {
    box-sizing: border-box !important;
	}
	.m_top10 {
		margin-top: 20px !important;
	}
	.row {
		margin-left: -15px !important;
		margin-right: -15px !important;
	}
	* {
		box-sizing: border-box !important;
	}
	.font_size{
		font-size:26px !important;
	}
	.font_size20{
		font-size:16px !important;
	}
	.font_size24{
		font-size:28px !important;
	}
	.col-sm-12 {
		width: 100% !important;
	}
	.m_top20{
		margin-top: 30px !important;
	}
	.white_block{
		background-color: #fff;
		padding-left: 0px !important;
		padding-right: 10px !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	
	.panel {
		margin-bottom: 20px !important;
		background-color: #fff !important;
		border: 1px solid transparent !important;
		border-radius: 5px !important;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
		
	}
	.panelNewCustom {
		border: none !important;
		border-radius: 0 !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.panelNewCustom .panel-heading {
		background: rgb(255, 194, 31) !important;
		border-radius: 0 !important;
		-webkit-print-color-adjust:exact;
		color-adjust:exact;
	}
	.panel-body {
		padding: 15px !important;
	}
	.tour_lastmonth_border{
		padding:0px !important;
		border:none !important;
	}
	@page { 
		size: auto;  
		margin: 4mm 4mm 4mm 4mm;  
	}
}

