@charset "utf-8";
/* CSS Document */
.nav-gov-dark{
	
	background-color: #343434;
	border-radius: 0px !important;
	}

.bg-gov-dark{
	
	background-color: #414143;
	border-radius: 0px !important;
	border-bottom: #707070 solid 1px;
}
.logo-gov{
	padding: 10px;
	
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

#menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414143;
}

#menu1 li {
    float: left;
}

#menu1 li a {
    display: block;
    color: #95989A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

#menu1 li a:hover {
    background-color: #FFCF2C !important; 
}

#menu1 li a:active{
    background-color: #FFCF2C !important; 
}
#menu1 li a:focus{
    background-color: #FFCF2C !important; 
}



.issue-title{
	color: aliceblue;
}

h4 {
	color: #95989A !important;
}

.padding-10{
	padding: 10px;
}

.btn-dark {
  color: #fff;
  background-color: #585858;
  border-color: #424242;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #FFCF2C;
  border-color: #122b40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #FFCF2C;
  border-color: #204d74;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #FFCF2C;
  border-color: #204d74;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
  color: #fff;
  background-color: #FFCF2C;
  border-color: #FFCF2C;
}
.btn-dark:active,
.btn-dark.active,
.open > .dropdown-toggle.btn-dark {
  background-image: none;
}
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled.focus,
.btn-dark[disabled].focus,
fieldset[disabled] .btn-dark.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-dark .badge {
  color: #337ab7;
  background-color: #fff;
}

tfoot {
    background-color: #ebf4fb;
}

table{
	box-shadow: 1px 1px 5px #888888;
}


.total {
    letter-spacing: 22px;
}

.modal-box {
	display: none;
	position: fixed;
	z-index: 1000;
	width: 98%;
	background: white;
	border-bottom: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
}

@media (min-width: 32em) {
.modal-box {
	width: 70%;
	
}
}
.modal-box header, .modal-box .modal-header {
	padding: 1.25em 1.5em;
	border-bottom: 1px solid #ddd;
}
.modal-box header h3, .modal-box header h4, .modal-box .modal-header h3, .modal-box .modal-header h4 {
	margin: 0;
}
.modal-box .modal-body {
	padding: 2em 1.5em;
}
.modal-box footer, .modal-box .modal-footer {
	padding: 1em;
	border-top: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.02);
	text-align: right;
}
.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3) !important;
}
a.close {
	line-height: 1;
	font-size: 1.5em;
	position: absolute;
	top: 5%;
	right: 2%;
	text-decoration: none;
	color: #bbb;
	
}
a.close:hover {
	color: #222;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	transition: color 1s ease;
}

.selectpicker{
	background-color:#585858;
	padding: 8px;
	color: white;
	border-radius: 2px;
	border:  #000000 solid 1px;
}

.selectpicker > option{
	color: gray;
	background-color: white;

}

.modal-lg{
	width:1100px !important;
}
.navbar-default {
    border: 0px;
    border-radius: 0px;
}