
body 
{
	background-color:#EAEDEF;
	direction:ltr;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
}

#homePageContainer
{
	background-color:#FFFFFF;
	margin:auto;
	overflow:hidden;
	padding:0;
	width:960px;
}

#homePageContent_main
{
	height:500px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}

.headerBackground_center
{
	/*background-image:url(../../images/icons/cadreReport/bg_center.png);*/
	height:40px;
}

.widgetsFooter
{
	padding:5px;
	text-align:right;
}

.headerLabelSpan
{
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	left:10px;
	position:relative;
	top:10px;
}

.widgetsMain
{
	/*margin-bottom:10px;*/
}

.widgetsBody
{
	background-color:#E3EDF0;
	height:180px;
	padding:10px;
	color:#FFFFFF;
	font-weight:bold;
}

#electionTrendzWidgetHeader
{
	font-size:15px;
	font-weight:bold;
}

.newsHeaderLabel
{
	color:#2f0c0d;
	font-weight:bold;
}

#electionTrendzWidgetMain
{
	padding-left:5px;
	padding-right:5px;
}

.newsContent
{
	color:#615F5F;
	font-size:11px;
	line-height:15px;
	text-align:justify;
	word-spacing:3px;
}

.newsAnchorDiv
{
	padding-right:10px;
	text-align:right;
}

.newsAnchor
{
	color:#6E430A;
	text-decoration:none;
}

.newsAnchor:hover
{
	text-decoration:underline;
}

.widgetHeaderBackground_center
{
	background-image:url(../../images/icons/homePage_new/widgetHeader_center.jpg);
	height:40px;
}

.newsDataMain
{
	padding-top:10px;
	padding-right:10px;
}

#adDataDiv_main
{
	/*background-color:#E8F3F5;	*/
	height:330px;
	width:100%;
}

#adDataMain_header
{
	font-size:12px;
	font-weight:bold;	
	text-decoration:underline;
}

.productFeatureHeaderBackground_center
{
	background-image:url(../../images/icons/homePage_new/blue_header_center.jpg);
	height:40px;
}

.productFeatureBody
{
	background-color:#FFFFFF;
	border-bottom:1px solid #B3C1CE;
	border-left:1px solid #B3C1CE;
	border-right:1px solid #B3C1CE;
	color:#12283A;
	line-height:16px;
	padding:5px;
	text-align:justify;
}

.productFeatureMain
{
	margin-bottom:10px;
}

.viewReportButtonSpan
{
	background-image:url(../../images/icons/constituencyManagement/btn_cm.png);
	height:30px;
	width:80px;
	cursor:pointer;	
	position:relative;
}

.viewReportButtonLabel
{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	left:25px;
	position:relative;
	top:6px;
}

#newsDivMain
{
	margin:5px;
}

.electionTrendzHeaderBackground_center
{	
	background-image:url(../../images/icons/homePage_new/newsheader_center.jpg);
	height:40px;
}

#adDataMain_body
{
	border-left:1px solid #808B8E;
	border-bottom:1px solid #808B8E;
	border-right:1px solid #808B8E;
	height:290px;
	padding-left:10px;
}

.adData_head
{
	border-bottom:1px solid #ADADAD;
	font-weight:bold;
	padding:5px;
}

.adData_body
{
	padding-top:5px;
	color:#12283A;
	line-height:16px;
	text-align:justify;
	/*word-spacing:3px;*/
}

.newsHeadLink
{
	text-decoration:none;
}

#electionTrendzWidgetBody
{
	background-color:#FFFFFF;
	border:1px solid #DADADA;
	height:438px;
	padding:10px;
}
.selectBoxWidth
{
	padding:2px;
	width:200px;
}

.yui-skin-sam .yui-dt table
{
	width:100%;
}

.resultsHeading
{
	color:#213540;
	font-weight:bold;
}

#electionTrendzDivision_head
{
	border-bottom:2px solid #33A0DB;
}

.votingTrendzHeadLabelDiv
{
	background-image:url("../../images/icons/homePage_new/btn_homePage.png");
	height:30px;
	text-align:center;
	width:100px;
	cursor:pointer;
}

.votingTrendzHeadLabelSpan
{
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;	
	position:relative;
	top:5px;
}

.adData_footer
{
	left:115px;
	padding:5px;
	position:relative;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover
{
	background-color:#6380BA;
	background-image:none;
}

.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav
{
	border-color:#6380BA;
}

#pollsWidgetBody
{
	border:1px solid #C5CBCD;
	font-size:12px;
	height:230px;
	padding:10px;
	overflow:auto;
}

#pollQuestionDiv
{
	color:#0C67AC;
	font-weight:bold;
}

#pollOptionsDiv
{
	color:#73787E;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:5px;
}

#giftWidgetBody
{
	border:1px solid #C5CBCD;
	font-size:12px;
	height:115px;
	padding:5px;	
}

.news
{
background: #ffffdd;
border: 1px solid #c0c0c0;
padding: 10px;
}
.homepageContent_news
{
color:#4B74C6;
}
