 body
{
	background-color: #fff;
	background-image: linear-gradient(to right top, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
	background-image: -webkit-linear-gradient(to  #fc7279 10%, right  #ff7b9c 65%,top #ffc019 125%);
	background-image:    -moz-linear-gradient(to  #fc7279 10%, right  #ff7b9c 65%,top #ffc019 125%);
	background-image:      -o-linear-gradient(to  #fc7279 10%, right  #ff7b9c 65%,top #ffc019 125%);
	min-height:100vh;
}
  .m_top10{margin-top:10px;}
  .m_top20{margin-top:20px;}
  .m_top40{margin-top:40px;}
  .m_bottom20{margin-bottom:20px;}
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
	
placeholder{color:#ffc019;}
  
.loginFormBox .input-group
{
	margin-top:15px;
}
.loginFormBox .input-group-addon{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	box-shadow:none;
	border-radius:0px;
	color:#ffc019;	
	background-color:#fff;
	padding:0px 6px 0px 12px;
}
.loginFormBox .form-control
{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	box-shadow:none;
	border-radius:0px;
	color:#ffc019;
}

.loginFormBox .form-control:active ,.loginFormBox .form-control:hover ,.loginFormBox .form-control:focus 
{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	box-shadow:none;
	border-bottom:1px solid #ccc);
	border-radius:0px;
}

.btn-primary , .btn-primary:active , .btn-primary :hover, .btn-primary :focus{
    background-color: rgb(255, 192, 25) !important;
    border-color: rgb(255, 192, 25) !important;
    border-radius: 0 0 4px 4px !important;
    color: rgb(255, 255, 255);
    padding: 15px !important;
}
footer
{
	display:none;
}
.footer
{
	display:block;
	background-color:rgba(0,0,0,0.2);
	color:#333;
	width:100%;
	position:fixed;
	bottom:0px;
	right:0px;
	left:0px;
	z-index:-9;
}
section .footer
{
	display:block;
}
.footer
{
	display:none;
}