@charset "utf-8";
body, ul, ol, li, h1, h2, h3, h4, h5,  h6, span, a, img , p, strong, select, input, textarea, option, font, b, em, sub, sup, iframe, form, label {margin: 0px; padding: 0px;
}

body{background-color:#5d5d5d;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#5b5b5b;
}

html{overflow-y:scroll;}
ul, ol, li{list-style-type:none;}
a, .reg-form li a:hover, a:hover.change{outline:none; text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none;}

.fleft{float:left;}
.fright{float:right;}
.clear{clear:both; margin:0px; padding:0px; line-height:0px; height:0px; font-size:0px; _display/**/:/**/ inline;}
.tc-ac{text-align:center;}
.tc-tf{text-transform:uppercase;}
.display{display:block;}

.mainwrapper{width:999px; margin:0px auto;}
.wrapper{width:999px; float:left;}

.orange{color:#ff3b05;}
.blue{color:#2a4f97;}
.gray{color:#979797;}

#header-mainsec{width:100%; float:left; background-color:#0A0B39;}
.header{width:992px; float:left; padding:13px 7px 0px 0px; border-bottom:2px solid #05A8E9;}
.logo{position:relative; left:54px; bottom:-14px; float:left; z-index:101;}
.header-right-sec{width:740px; float:right;}
.lr-sec{float:right; color:#80d1f1; font-weight:bold; text-transform:uppercase; padding-right:25px; line-height:11px; font-size:12px;}
.lr-sec a{color:#80d1f1; float:left; margin:0px 10px;}

/*MENU SECTION START*/

.menu-sec{float:left; padding-top:43px;}
.menu-sec li{line-height:25px; text-transform:uppercase; background:url(../images/new_homepage/menu-mid-line.gif) right 7px no-repeat; float:left; 
padding:0px 2px;}
.menu-sec li a{float:left; padding-left:6px; height:25px; color:#fff; cursor:pointer;}
.menu-sec li a span{float:left; padding:0px 15px 0px 9px; height:25px; margin-right:1px;}
.menu-sec li a:hover, .menu-sec li a.active{background:url(images/icons/homePage_new/menu-bg.png) left top no-repeat ;text-decoration:none; color:#0a0b39;}
.menu-sec li a:hover span, .menu-sec li a.active span{background:url(images/icons/homePage_new/menu-bg.png) right -30px no-repeat;}

/*MENU SECTION END*/

#content-mainsec{width:100%; float:left; background:#fff url(../images/new_homepage/banner-bg.gif) left top repeat-x;}
.js-banner-bg{background:url(../images/new_homepage/js-banner-bg.jpg) center top no-repeat; width:100%; float:left;margin-top:-2px;}
.content-sec{width:999px; float:left;}

/*FOLLOW US SECTION START*/

.follow-us{float:right; padding-right:32px; text-transform:uppercase; color:#000; line-height:47px; font-size:12px; width:220px; text-align:right;}
.follow-us ul{background:url(../images/new_homepage/sprites.png) left top no-repeat; float:right; width:81px; height:43px; padding:4px 5px 0px 0px; 

margin-left:7px; margin-top:-2px; }
.follow-us ul li{float:right;}

/*FOLLOW US SECTION END*/

.banner-main-sec{width:999px; float:left; border-bottom:1px solid #d6d6d6; height:409px;}
.banner-left-sec{width:608px; float:left; padding:20px 0px 0px 25px;}
.banner-right-sec{width:279px; float:right; padding:28px 33px 0px 0px;}
.main-title{font-size:14px; line-height:17px; text-transform:uppercase; color:#ff4b05; padding-bottom:5px;}

.facebook-like{float:left; padding:0px 0px 9px 80px;}
.register-free{font-size:20px; font-weight:bold; color:#0a0b39; padding-left:92px; line-height:47px;}
.rf-button{background:url(../images/new_homepage/sprites.png) -91px top no-repeat; float:left; width:178px; height:50px; border:none; cursor:pointer; 
margin-left:6px;}

/*LATEST NEWS AND UPDATES SECTION START*/

.latest-nu-sec{width:967px; float:left; border-bottom:1px solid #d6d6d6; padding:13px 15px 11px; margin-bottom:14px;}
.news-title{font-size:13px; text-transform:uppercase; color:#ff4705; float:left; padding-right:17px;}
.news-updates-scroll{width:792px; float:left; color:#0a0b39; font-size:13px; line-height:15px;}
.news-updates-scroll marquee{float:left; margin:0px 10px; width:758px;}
.news-updates-scroll img{margin-top:4px;}
p{padding:0px 0px 15px 0px; line-height:17px;}

/*LATEST NEWS AND UPDATES SECTION END*/

/*QA CONTENT SECTION START*/

.qa-current-election-sec{width:942px; float:left; border-bottom:2px solid #d6d6d6; padding:0px 32px 23px 25px; margin-bottom:14px;}
.rd-arrows{float:right; padding:13px 15px 0px 0px;}
.qa-sec{width:439px; float:left; border-right:1px dotted #9c9c9c; position:relative; padding:4px 36px 0px 0px;}
.ce-sec{width:409px; float:right; padding-top:16px;}
.qa-sec ul{width:438px; float:left; margin:0px 0px 0px 4px;}
.qa-sec li{float:left; width:438px; line-height:17px; padding:0px 0px 14px;}
.q-icon{width:11px; float:left; color:#ff4705; font-weight:bold; text-transform:uppercase; padding:0px 2px 7px 0px;}
.q-theme{width:407px; float:left; color:#252525; font-weight:bold; padding:0px 9px 7px;}
.a-icon{width:11px; float:left; color:#bdbdbd; font-weight:bold; padding-right:2px; text-transform:uppercase;}
.a-theme{width:407px; float:left; border-bottom:1px solid #e3e3e3; padding:0px 9px 15px;}

/*QA CONTENT SECTION END*/

/*CURRENT ELECTION SUB CONTENT SECTION START*/

.title{font-size:18px; line-height:18px; color:#0d0e3b; padding-bottom:26px;}
.ce-sub-fields{width:355px; padding:27px 0px 32px 36px;}
.ce-sub-fields li{background:url(../images/new_homepage/orange-square.gif) left 5px no-repeat; float:left; padding-left:17px; width:338px; padding-bottom:3px;}
.ce-sub-fields li a{color:#5b5b5b;}

/*CURRENT ELECTION SUB CONTENT SECTION END*/

/*SNEAK PEAK, PPPM AND SOCIAL ICONS SECTION START*/

.sneak-peak-sec{width:662px; float:left; padding:0px 8px 0px 18px;}
.sneak-peak-sec p{line-height:20px;}
.pft-social-sec{width:290px; float:right; padding:7px 7px 17px 8px; border-left:1px dotted #9c9c9c;}
.pft-sec{float:left; padding:0px 0px 16px 24px; font-size:20px; color:#777777; width:244px; line-height:24px;}
.pft-sec strong{font-size:22px; color:#0a0b39; text-transform:uppercase; display:block; line-height:21px;}
.pft-sec strong span{font-size:30px;}
.clickhere-button a{background:url(../images/new_homepage/clickhere_hover.jpg) no-repeat; float:left; width:226px; height:38px; cursor:pointer; 
text-indent:-9999px; margin-top:18px;}

.social-icons{width:263px; float:left; border-top:1px dotted #9c9c9c; margin-top:25px; padding:19px 0px 0px 27px; color:#0a0b39; font-size:13px;}
.social-io a{float:left; margin-right:8px; margin:11px 8px 0px 0px;}

/*SNEAK PEAK, PPPM AND SOCIAL ICONS SECTION END*/

/*FOOTER SECTION START*/

.footer-left-sec{width:623px; float:left; padding:25px 0px 23px 18px;}
.footer-left-sec ul{width:623px; float:left; padding-bottom:4px;}
.footer-left-sec li{float:left; font-size:12px; color:#ff6605; line-height:20px;}
.f-title{color:#ff6605; background:#3f3f3f url(../images/new_homepage/gray-arrow.gif) right top no-repeat; float:left; font-weight:bold; line-height:20px; height:20px; margin-right:12px; padding:0px 11px 0px 7px;}
.footer-left-sec li a{color:#d7d7d7; float:left;}
.footer-left-sec li span{float:left; padding:0px 7px;}

.footer-right-sec{width:316px; float:right; padding:10px 26px 0px 0px;}
.form-title{font-size:16px; color:#c4c4c4; padding-bottom:9px; font-weight:normal;}
.footer-right-sec li{width:151px; float:left; padding:0px 7px 8px 0px;}
.text-fields{font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#1a1a1a; height:24px; background-color:#7f7f7f; 
border:1px solid #7f7f7f; padding:0px 10px; width:129px; color:#000;}
textarea{font:12px/21px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#1a1a1a; line-height:17px; background-color:#7f7f7f; color:#000;
border:1px solid #7f7f7f; padding:5px 0px 5px 10px; width:296px; height:78px;}
.submit{background:url(../images/new_homepage/sprites.png) -231px -55px no-repeat; float:right; width:76px; height:28px; cursor:pointer; border:none;}
.copy-rights{width:992px; float:left; border-top:1px solid #3f3f3f; text-align:center; font-size:11px; color:#2f2f2f; line-height:34px;}

/*FOOTER SECTION END*/

/*CURRENT ELECTION H SLIDE SECTION START*/

#wrap{width:409px; position:relative; }
#list{height:110px; width:409px; float:left;}
.slider{float:left; left:-5000px; position:relative; visibility:hidden; width:409px !important;}
.slider ul li{padding-right:14px; height:110px; width:127px; text-align:center; position:relative;}
.slider ul li a{text-decoration:none; color:#ff8b26;}
.slider ul li span{background-color:#f0f0f0; float:left; width:127px; text-align:center; position:absolute; left:0px; bottom:0px; height:21px; 
color:#2a4f97; font-size:11px; line-height:21px;}
.slider ul li img{cursor:pointer; height:89px; width:127px; float:left;}
.prev, .next{cursor:pointer; width:15px; height:26px; position:absolute; top:32px; text-indent:-9999px;}
.prev{background:url(../images/new_homepage/sprites.png) -272px top no-repeat; float:left; left:-34px; z-index:1003;}
.next{background:url(../images/new_homepage/sprites.png) -290px top no-repeat; float:right; right:-34px; z-index:1001;}

/*CURRENT ELECTION H SLIDE SECTION END*/

/*SEARCH RESULTS DROP DOWN CONTENT SECTION START*/

.sr-sec{width:279px; float:left; background:url(../images/new_homepage/sr-bgs.png) left top no-repeat; padding-top:4px;}
.sr-mbg{width:265px; float:left; background-color:#fff; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; padding:2px 6px;}
.sr-bbg{width:279px; float:left; background:url(../images/new_homepage/sr-bgs.png) left -9px no-repeat; height:4px;}
.glossymenu{float:left; width:265px;}
.glossymenu a.menuitem{background:url(../images/new_homepage/sr-bgs.png) left -17px no-repeat; width:242px; height:23px; color:#000; display:block;
font:bold 12px/23px "Trebuchet MS", Arial, Helvetica, sans-serif; position:relative; padding: 3px 9px 0px 14px; margin-bottom:1px;
text-transform:uppercase;}
.glossymenu a.menuitem .statusicon{position:absolute; top:9px; right:9px;}
.glossymenu a.menuitem:hover{background:url(../images/new_homepage/sr-bgs.png) left -47px no-repeat; text-decoration:none;}

.sr-sec .submenu{width:237px; padding:9px 12px 13px 16px; color:#4b4b4b; font-size:12px; line-height:17px; display:block;}
.sr-sec .submenu p{padding:0px 0px 16px 0px; line-height:17px;}
.sr-sec .submenu select{width:237px; color:#000; display:block; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:11px;}
.view-results a{background:url(../images/new_homepage/sprites.png) -310px top no-repeat; width:94px; height:24px; border:none; cursor:pointer; text-indent:-9999px;display:block; margin:0px 0px 0px 143px;}
.radio-type{float:left; padding:5px 11px 9px 0px;}
.radio{width:13px; height:13px; padding:0px; margin:2px 3px 0px 0px; float:left;}

/*SEARCH RESULTS DROP DOWN CONTENT SECTION END*/

/*JS BANNER SLIDE SECTION START*/

.anythingSlider{width:569px; height:278px; position: relative; float:left; margin:0px 0px 12px 22px;}
.anythingSlider .wrapper{width:569px; overflow:auto; height:278px; position:absolute; top:0; left:0;}
.anythingSlider .wrapper ul{width:32700px; position:absolute; top:0; left:0;}
.anythingSlider .wrapper ul li{height:278px; width:569px; position:relative;}
.anythingSlider .arrow{display:block; height:31px; width:14px; text-indent:-9999px; position:absolute; top:-159px; cursor:pointer;}
.anythingSlider .forward{right:-38px; background:url(../images/new_homepage/sprites.png) -329px -29px no-repeat;}
.anythingSlider .back{left:-599px; background:url(../images/new_homepage/sprites.png) -310px -29px no-repeat;}
.thumbNav{position:relative; top:298px; text-align:left; z-index:1000001; right:0px; float:right;}
.thumbNav li{display:inline;}
.thumbNav a, .start-stop{display:none;}
.js-banner-main-bg{float:left; width:569px; height:278px;}

/*JS BANNER SLIDE SECTION END*/

/* INNER CONTENT SECTION START */

#inner-content-mainsec{background-color:#fff; float:left; width:100%;}
.inner-tbg{background:url(../images/new_homepage/inner-crv-bgs.gif) left top no-repeat; float:left; width:999px; padding-top:6px; margin:75px 0px;}
.inner-mbg{width:997px; float:left; border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7; background-color:#fff;}
.inner-bbg{background:url(../images/new_homepage/inner-crv-bgs.gif) left -11px no-repeat; float:left; width:999px; height:6px;}

/*REGISTER SECTION START*/

.register-form{width:290px; float:left; padding:68px 0px 70px 224px;}
.frm-title{color:#ff0419; text-transform:uppercase; padding:0px 0px 8px 1px; font-weight:bold;}
.pa-fi{padding-top:5px;}

.fr-title{width:230px; float:right; padding:67px 160px 70px 0px; font-size:20px; color:#737373; line-height:19px;}
.font-ts{font-size:26px; line-height:35px;}
.font-ths{font-size:36px; line-height:28px; padding-bottom:9px;}
.fr-title h1{font-size:34px; text-transform:uppercase; font-weight:bold; color:#ee3e39; line-height:31px;}

.reg-form li{width:290px; float:left; padding-bottom:7px; font:11px Arial, Helvetica, sans-serif; color:#0a0b39;}
.fr-fields{background:url(../images/new_homepage/text-field-bg.gif) left top no-repeat; float:left; padding-left:6px; height:30px;}
.fr-fields span{background:url(../images/new_homepage/text-field-bg.gif) right -35px no-repeat; float:left; height:26px; padding:3px 12px 3px 6px; 
position:relative;}
.fr-fields span input{float:left; border:1px solid #fff; font:12px/22px Arial, Helvetica, sans-serif; color:#9394a8; width:214px; height:22px;}
.checkbox{float:left; width:13px; height:13px; margin:0px 5px 0px 0px; padding:0px;}
.reg-form li a{color:#0a0b39; text-decoration:underline;}

/*REGISTER SECTION END*/

/*ACCOUNT INF SECTION START*/

.create-account{width:290px; float:left; border-top:1px solid #d1d1d1; margin-top:13px; padding-top:12px;}
.ca-button{background:url(../images/new_homepage/sprites.png) left -98px no-repeat; float:left; width:165px; height:29px; border:none; cursor:pointer; margin-top:13px;}
.update-ur-account{float:left; padding:73px 0px 70px 49px;}
.account-inf{float:left; width:290px; padding:68px 0px 70px 94px;}
.account-inf .reg-form li{font-size:12px; padding-bottom:12px;}
.ac-title{color:#ff0419; font-weight:bold; padding-bottom:15px;}
.reg-form li .change{color:#05a8e9; text-decoration:underline; float:right; margin-right:45px;}
.c-icon{position:absolute; right:12px; top:4px;}
.radio{float:left; width:13px; height:13px; margin:0px 4px 0px 0px; padding:0px;}
.r-fm{float:left; padding-right:10px;}
.account-inf select{font:12px/22px Arial, Helvetica, sans-serif; color:#9394a8;}
.ug-ac{background:url(../images/new_homepage/sprites.png) -170px -98px no-repeat; float:left; width:183px; height:29px; border:none; cursor:pointer; 
margin-top:13px;}
.fr-ts-fields{background:url(../images/new_homepage/text-field-bg.gif) left -70px no-repeat; float:left; padding-left:6px; height:76px;}
.fr-ts-fields span{background:url(../images/new_homepage/text-field-bg.gif) right -151px no-repeat; float:left; height:68px; padding:4px 3px 4px 6px;}
.fr-ts-fields textarea{float:left; border:1px solid #fff; background-color:#fff; font:12px/17px Arial, Helvetica, sans-serif; color:#9394a8; 
width:223px; height:66px; color:#9394a8; padding:0px;}

/*ACCOUNT INF SECTION END*/

/* INNER CONTENT SECTION START */