
/* Party performance page styles */
table.partyPerformanceCriteriaTable
	{
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
	}
	table.partyPerformanceCriteriaTable th 
	{
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #CFDCE3;
	}
	table.partyPerformanceCriteriaTable td 
	{
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}



/* Search results page styles */
table.searchresultsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:500px;
	margin-top:10px;
}
table.searchresultsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.searchresultsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


/* constituency page success page  styles */

table.ConstituencyElectionsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.ConstituencyElectionsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.ConstituencyElectionsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/* Party Performance report  styles */
table.partyPerformanceReportTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-top:15px;
	
}

table.partyPerformanceReportTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #364960;
	background-color: #A6BAD1;
}
table.mars thead tr {
	background-color: #9c9;
}
table.partyPerformanceReportTable tr.even {
	background-color: #ccb;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

table.partyPerformanceReportTable tr.odd {
	background-color: #eec;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
}

/* Party Results Criteria Page*/

table.partyResultsCriteriaTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;	
	border-collapse: collapse;
	margin-top:15px;	
}
table.partyResultsCriteriaTable th {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A6BAD1;
	padding:3px;	
}
table.partyResultsCriteriaTable td {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #ffffff;
	padding:3px;
}

