/* Party performance page styles */
table.partyPerformanceCriteriaTable
	{
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #666666;
		border-collapse: collapse;
		margin-top: 15px;
	}
	table.partyPerformanceCriteriaTable th 
	{
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #CFDCE3;
	}
	table.partyPerformanceCriteriaTable td 
	{
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #666666;
		background-color: #ffffff;
	}



/* Search results page styles */
table.searchresultsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width:500px;
	margin-top:10px;
}
table.searchresultsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.searchresultsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


/* constituency page success page  styles */

table.ConstituencyElectionsTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.ConstituencyElectionsTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.ConstituencyElectionsTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.constituencyDetailsTable 
{
	padding:8px;
}
.constituencyDetailsTable th
{
	color:#7F6C6C;
	padding:8px;
}
.constituencyDetailsTable td
{
	color:#6B0B0B;
	padding:8px;
}

/* Party Performance report  styles */
table.partyPerformanceReportTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin-top:15px;
	
}

table.partyPerformanceReportTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #364960;
	background-color: #A6BAD1;
}
table.mars thead tr {
	background-color: #9c9;
}
table.partyPerformanceReportTable tr.even {
	background-color: #FFFFFF;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

table.partyPerformanceReportTable tr.odd {
	background-color: #ECF1F5;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
}
table.partyPerformanceReportTable td
{
	border-width:1px;
}

/* Party Results Criteria Page*/

table.partyResultsCriteriaTable{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;	
	border-collapse: collapse;
	margin-top:15px;	
}
table.partyResultsCriteriaTable th {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A6BAD1;
	padding:3px;	
}
table.partyResultsCriteriaTable td {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #ffffff;
	padding:3px;
}

/* Styles for tag cloud*/

#candidateTagDiv,#constituencyTagDiv
{
	background-color:#F5F9FD;
	border:2px solid #D8DFE4;
	height:190px;
}
.tagSpan
{
	font-weight:bold;
	margin:5px;
	position:relative;
}
.cloudTagAnc
{
	cursor:default;
	text-decoration:none;
	color:#648EAB;
}
.cloudTagAnc hover
{
	text-decoration:underline;
	background-color:#AAAAAA;
}

/* Styles for registration */

.registrationTable td
{
	text-align:left;
	color:#926682
	
}
#registrationMainDiv
{
	text-align:left;
	margin-left:70px;
}
.accessDivHead
{
	font-weight:bold;
	color:#664141;
}
.accessDivMain
{
	padding-bottom:20px;
}
.accessDivBody
{
	padding-top:10px;
}
.regionSelect
{
	width:155px;
	padding:2px;
}
.errorMessage
	{
		font-weight:bold;
		color:red;	
	}
.requiredFont
{
	color:red;
}	

.paginatorElmtClass
{
	padding:10px;
	text-align:right;
}

.paginatorElmtClass a
{
	border:1px solid #ADADAD;
	padding:3px;
	text-decoration:none;
	margin:0px 3px 0px 3px;
}

/*======================
	Photo Upload Styles
======================*/

#uploadPic_window
{
	background-color:#877979;
}

#uploadPic_window_inner
{
	background-color:#FFFFFF;
}

#uploadPic_window_head
{
	background-color:#9AB0C3;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px;
	background-image:url("../images/icons/homePage_new/accordianHeader_selected.jpeg");
}

#uploadPic_window_footer,#uploadPic_window_body
{
	padding:5px;
}

.uploadPic_string
{
	color:#69645B;
	font-size:10px;
}

.errorStatusMsg
{
	color:red;
	font-weight:bold;
	font-size:10px;
}

.uploadPic_string_table th
{
	color:#69645B;
	font-size:10px;
	text-align:left;
	padding:5px;
}

.uploadPic_string_table td
{
	color:#69645B;
	font-size:10px;
	text-align:left;
	padding:5px;
}

#uploadPic_window_status
{	
	font-size:11px;
	text-align:left;
}

#uploadPic_window_status pre
{
	margin:0px;
}