@black_color:#333;
@light_black:#494949;
@thick_black:#595959;
@white_color:#fff;
@light_ash_color : #EBEBEB;
@black_border:1px solid #333;
@light_green:#BAFAD9;
@pink_color:#FDCDD6;
@yellow_color:#FFF8BB;
@blue_color:#BAB4FF;
@dark_brown_color:#999999;
@dark_blue_color:#3C46FF;
@dark_yellow_color:#FFBA00;
@roboto_font:'Roboto', sans-serif;
@lato_font:'Lato', sans-serif;
@transparent_color:transparent;
@background_color_8: rgb(74, 88, 99);

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');


body
{
	color:@black_color;
	background-color:@light_ash_color;
	font-family: @lato_font;
}

header
{
	box-shadow:0px 4px 4px 4px rgba(0,0,0,0.3);
}
/*Loading Symbol Start*/
.loader
{ 
	text-align: center;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-size: 26px;
	color: transparent;
	letter-spacing: 0.01em;
	span {
		text-shadow:
			0 0 2px rgba(119,119,119,0.9),
			0 15px 25px rgba(0, 0, 0, 0.3),
			0 -2px 3px rgba(0, 0, 0, 0.1),
			0 -5px 10px rgba(255, 255, 255, 0.5),
			0 5px 10px rgba(0, 0, 0, 0.3),
			0 3px 4px rgba(255, 255, 255, 0.2),
			0 0 20px rgba(255, 255, 255, 0.45);
  
		animation: loading 0.65s ease-in-out infinite alternate;
	}
}

@keyframes loading {
	to {text-shadow:
    0 0 2px rgba(119,119,119,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.loader
{
	span:nth-child(2) {
		animation-delay:0.15s;
	}
	span:nth-child(3) {
	  animation-delay:0.30s;
	}
	span:nth-child(4) {
	  animation-delay:0.45s;
	}
	span:nth-child(5) {
	  animation-delay:0.60s;
	}
	span:nth-child(6) {
	  animation-delay:0.75s;
	}
	span:nth-child(7) {
	  animation-delay:0.90s;
	}
}
/*Loading Symbol End*/
nav
{
	background-color:@black_color;	
	color:@dark_yellow_color;
	font-family: @roboto_font;
}
.m_top5
{
	margin-top:5px !important;
}
.m_top10
{
	margin-top:10px !important;
}
.m_top20
{
	margin-top:20px !important;
}
.logo
{
	background-color:@dark_yellow_color;
	height:70px;
	padding:5px 12px;
}
header
{
	section.header-fixed
	{
		height: 70px;
		position: fixed;
		top: 0px;
		left:0px;
		right:0px;
		padding: 0px;
		background:#243C54;
		box-shadow:0px 8px 8px rgba(0,0,0,0.4);
		z-index:999;
		background-color:@light_ash_color;
	}
}
.navbar-header-custom
{
	padding:8px 12px;
	li
	{
		padding:2px 8px 3px 12px;
		border-right:1px solid @dark_brown_color;
		width:24%;
	}
	li:first-child
	{
		position: relative;
		top: -10px;
		display:inline-table;
		width:18%;
	}
	li:nth-child(2)
	{
		width:30%;
	}
	.search-choice
	{
		top:0px !important;
	}
	li:last-child
	{
		padding:3px 12px;
		border-right:0px;
		.input-group
		{
			margin-bottom:0px;
			.form-control
			{
				background-color:@light_ash_color;
			}
		}
	}
	
	select
	{
		border: 0px;
		background: #EBEBEB;
	}
	.chosen-results
	{
		li
		{
			width:100% !important;
		}
		li:first-child
		{
			position: relative;
			top: 0px !important;
		}
	}
}
.panel-title.text-muted
{
	color:#777
}
main
{
	margin-top:30px;
}
h1,h2,h3,h4,h5,h6,p,ul,.form-group
{
	margin:0px !important;
	font-family: @lato_font;
}
.panel-black
{
	border-radius:0px;
	.panel-heading{
		background-color:@black_color;
		color:@white_color;
		border-radius:0px;
		.panel-title
		{
			color:@white_color !important;
			font-weight:600;
		}
	}
}
.text-capital
{
	text-transform:uppercase;
}
.pad_left0
{
	padding-left:0px;
}
.pad_right0
{
	padding-right:0px;
}
h3
{
	small
	{
		font-size:10px !important;
		position:relative;
		top:-10px;
		left:10px
	}
}
.main-block
{
	li
	{
		text-align:center;
		background-color:#fff;
		border-width:0px 2px;
		border-style:solid;
		border-color:@pink_color;
		ul
		{
			li
			{
				border-width:0px !important;
			}
		}
	}
}
.table-overview
{
	tr
	{
		td
		{
			border-bottom:2px solid @dark_brown_color !important;
			text-align:center;
			background-color:@white_color;
			border-left-width:5px !important;
			border-right-width:5px !important;
			border-style:solid;
		}
	}
	tr:nth-child(1)
	{
		td
		{
			border-left-color:@light_green !important;
			border-right-color:@light_green !important;
		}
	}
	tr:nth-child(2)
	{
		td
		{
			border-left-color:@pink_color !important;
			border-right-color:@pink_color !important;
		}
	}
	tr:nth-child(3)
	{
		td
		{
			border-left-color:@yellow_color !important;
			border-right-color:@yellow_color !important;
		}
	}
	tr:nth-child(4)
	{
		td
		{
			border-left-color:@blue_color !important;
			border-right-color:@blue_color !important;
		}
	}
	h4.district-name
	{
		color:@dark_blue_color
	}
}
.switch-btn
{
	padding: 3px;
    background-color: @white_color;
    display: inline-block;
	border-radius: 14px;
	li
	{
		list-style: none;
		display: inline-block;
		padding: 4px 8px;
		cursor: pointer;
		text-transform: uppercase;
		color:@black_color;
		&:hover
		{
			background-color: @black_color;
			color: @white_color;
			border-radius: 14px;
			transition: 0.5s all ease-out;
			-webkit-transition: 0.5s all ease-out;
			-moz-transition: 0.5s all ease-out;
		}
		&:focus
		{
			background-color: @black_color;
			color: @white_color;
			border-radius: 14px;
			transition: 0.5s all ease-out;
			-webkit-transition: 0.5s all ease-out;
			-moz-transition: 0.5s all ease-out;
		}
	}
	li.active
	{
			background-color: @black_color;
			color: @white_color;
			border-radius: 14px;
			transition: 0.5s all ease-out;
			-webkit-transition: 0.5s all ease-out;
			-moz-transition: 0.5s all ease-out;
	}
}
.spinner {
  margin:auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear; 
}
.spinner .dot1 , .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #1ABC9C;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out; 
}
.spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s; 
}

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); 
      } 
}
.no-left-border
{
	border-left-width:0px !important;
}
.no-right-border
{
	border-right-width:0px !important;
}
.pagination
{
	li
	{
		a
		{
			border-width:0px;
			&:hover
			{
				background-color:@dark_blue_color;
				color:@white_color;
			}
		}
	}
	li , li:first-child , li:last-child
	{
		a
		{
			border-radius: 16px !important;
		}
	}
	.active
	{
		a
		{
			border-radius: 50%;
			box-shadow:0px 0px 3px 2px rgba(0,0,0,0.4);
		}
	}
}
header
{
	.chosen-container-single
	{
		.chosen-single
		{
			background-color:@transparent_color !important;
			border-top-width:0px !important;
			border-left-width:0px !important;
			border-right-width:0px !important;
		}
	}
	.chosen-container-multi 
	{
		.chosen-choices
		{
			background-color:@transparent_color !important;
			border-top-width:0px !important;
			border-left-width:0px !important;
			border-right-width:0px !important;
			background-image:none !important;
		}
	}
	.chosen-container-multi
	{
		.chosen-choices
		{
			li.search-choice
			{
				border:0px !important;
				border-radius:8px !important;
				background-image:none !important;
				background-color:@dark_brown_color !important;
				color:@white_color !important;
			}
		}
		
	}
}

.highcharts-tooltip span {
    background-color:white;
    opacity:1;
    z-index:9999!important
}
.constituencyUl {
	li {
		border: 1px solid #ddd;
		padding: 2px 3px;
		text-transform: uppercase;
		cursor: pointer;
	}
}
.activeUlCls {
	li {
		background: rgb(255, 255, 255);
		border: 1px solid rgb(221, 221, 221);
		border-radius: 4px;
		cursor: pointer;
		text-transform: capitalize;
		margin: 0px 3px;
	}
	li.active {
		background-color: @background_color_8;
		color: @white_color;
	}
}
.comparionStyle
{
	.table
	{
		th:nth-child(2)
		{
			max-width:60px !important;
			position:relative;
			height: 60px;
			span.first
			{
				position:absolute;
				bottom:8px;
				left:8px;
			}
			span.second
			{
				position:absolute;
				top:8px;
				right:8px;
			}
			&:before
			{
				border-left: 1px solid #ddd;;
				content: "";
				display: block;
				height: 147px;
				left: 0;
				position: absolute;
				right: 0;
				-webkit-transform:translateY(-136px) translateX(39px) rotate(-68deg);
				-moz-transform:translateY(-136px) translateX(39px) rotate(-68deg);
				transform:translateY(-136px) translateX(39px) rotate(-68deg);
				width: 90px !important;
			}
		}
	}
}
.comparionStyle1
{
	.table
	{
		th:nth-child(1)
		{
			max-width:60px !important;
			position:relative;
			height: 60px;
			span.first
			{
				position:absolute;
				bottom:8px;
				left:8px;
			}
			span.second
			{
				position:absolute;
				top:8px;
				right:8px;
			}
			&:before
			{
				border-left: 1px solid #ddd;;
				content: "";
				display: block;
				height: 147px;
				left: 0;
				position: absolute;
				right: 0;
				-webkit-transform:translateY(-136px) translateX(39px) rotate(-68deg);
				-moz-transform:translateY(-136px) translateX(39px) rotate(-68deg);
				transform:translateY(-136px) translateX(39px) rotate(-68deg);
				width: 90px !important;
			}
		}
	}
}
.white-block
{
	background-color: @white_color;
	margin-top: 20px;
}
.nav-tabs-custom
{
	background-color:@light_black;
	li.active a , li:hover.active a, li:focus.active a
	{
		background-color: @thick_black !important;
		color: @white_color !important;
		border-radius: 0px !important;
		border:1px solid @thick_black;
	}
	li a
	{
		color: @white_color;
	}
}
.modal-custom
{
	.modal-header
	{
		background-color: @light_black;
		color: @white_color;
	}
}
.chart
{
	height: 300px;
}
.fa-question-circle
{
	cursor: pointer;
}
.panelCollapseIcon:before {
	/* symbol for "opening" panels */
	font-family:'Glyphicons Halflings';
	content:"\e260";
	float: right;
	font-size:10px;
	margin-top:6px;
	font-weight:400 !important;
	margin-left:-4px;
	color:#999;
}
.panelCollapseIcon.collapsed:before {
    /* symbol for "collapsed" panels */
    content:"\e259";
}