@black_color:#333;
@white_color:#fff;


body
{
	color:@black_color;
	background-color:@white_color;
}

.panel-black
{
	background-color:@black_color;
	color:@white_color;
	.panel-heading{
		background-color:@black_color;
		color:@white_color;
		.panel-title
		{
			color:@white_color !important;
		}
	}
}